<template>
  <div class="examWrapper">
    <!-- LOADER -->
    <Loader v-show="loading_questions" />

    <!-- IMAGE ZOOM -->
    <div class="zoomImage" v-show="zoomImg">
      <div class="imageCon">
        <div class="imgZoom">
          <img
            :src="
              (imahe.includes('samp_') || imahe.includes('default')
                ? ''
                : api + '/') + imahe
            "
            :alt="imahe"
            :width="zoom"
            height="auto"
          />
        </div>

        <b-form-input
          class="zoomRange"
          v-model="zoom"
          type="range"
          min="800"
          max="1500"
        ></b-form-input>

        <div class="closeZoom" @click="zoomImg = false">
          <fa :icon="['fa', 'times-circle']" />
        </div>
      </div>
    </div>

    <!-- HEADER -->
    <div class="examHeader" ref="headr">
      <div class="examTitle">IQ Test &amp; Behavioral Exam</div>
      <div class="examInstruction">
        Please read the general instuctions and complete the IQBE.<br /><br />
        <!-- <div class="timer">{{ timer }}</div> -->
      </div>
    </div>

    <div class="spacer" :style="spacerHeight"></div>

    <!-- GENERAL INSTRUCTIONS -->
    <div class="scroller" :style="screenHeight">
      <div class="genIns" v-show="showGen">
        <div class="instLabel">
          <div class="genCon">General Instructions:</div>
        </div>
        <div class="gen" v-for="(gen, x) in generalInst" :key="x">
          <!-- INSTRUCTION -->
          <div class="genCon">{{ gen.id }}. {{ gen.name }}</div>
          <!-- TIMER FOR NO. 1 -->
          <!-- <div class="genCon" v-show="gen.id==1"> <div class="timer">{{ timer }}</div> </div> -->
          <!-- SAMPLE SUBMIT BUTTON FOR NO. 6 -->
          <!-- <div class="genCon" v-show="gen.id==6"> 
          <button>
            Submit &amp; Proceed to Next Category &ensp; <fa :icon="['fa', 'chevron-right']"/>
          </button>
        </div> -->

          <!-- IMAGE INSTRUCTIONS IF ANY -->
          <div class="genCon" v-show="gen.image">
            <img
              :src="gen.image"
              :alt="gen.alt"
              class="genImg"
              @click="zoomImahe(gen.image)"
            />
          </div>
        </div>
      </div>

      <!-- CATEOGIES -->
      <div class="category" v-show="!showGen && showCat">
        <div class="questions" v-for="(quest, i) in questions" :key="i">
          <!-- <div class="genCon"> Category {{ categ.current }} of {{ categ.total }} : {{ currentCategory.name }} <br><br></div> -->

          <!-- QUESTIONS -->
          <div
            class="collapseQuestions"
            v-for="(quests, x) in quest.questions"
            :key="x"
          >
            <!-- CHOICES -->
            <div class="questHold">
              <div v-b-toggle="quests.questionId" class="yet">
                <div class="choiceNum" :id="`no` + x">{{ x + 1 }}</div>

                <div class="indQArrow" :id="`que1` + x"></div>
                <div class="indQuest" :id="`que2` + x">
                  {{ String(quests.question).split("@")[0] }}
                </div>
              </div>
            </div>

            <!-- VERTICAL LINE for extra emphasis -->
            <!-- <div class="vLine" :id="`v1`+x" v-show="x != quest.questions.length-1"></div> -->

            <!-- <b-collapse :id="quests.questionId" :visible="x == 0" accordion="questionAccordion"> -->

            <div class="choiceHol" :id="`hl` + x">
              <!-- Questions with image  -->
              <div
                class="imgQuestHold"
                v-show="String(quests.question).split('@')[1]"
              >
                <div
                  class="imgQuest"
                  @click="zoomImahe(String(quests.question).split('@')[1])"
                  :style="
                    'background-image: url(' +
                      api +
                      '/' +
                      String(quests.question).split('@')[1] +
                      ');'
                  "
                ></div>
                <div class="cuteLabel">
                  Image reference for question no. {{ x + 1 }}
                </div>
              </div>

              <!-- MULTIPLE CHOICE -->
              <div
                class="inlineBlock"
                :ref="'choices[' + x + ']'"
                v-show="
                  quests.choices &&
                    quests.question_type.toLowerCase().includes('multiple')
                "
                v-for="(choices, a) in quests.choices"
                :key="a"
              >
                <div class="indChoice">
                  <b-form-radio
                    class="choicess"
                    :name="'choice[' + x + ']'"
                    @change="
                      pushAnswer(
                        `${quests.questionId}`,
                        `${choices.id}`,
                        `${quests.question_type}`,
                        `${x}`,
                        `hl${x}`,
                        `no${x}`,
                        `que1${x}`,
                        `que2${x}`
                      )
                    "
                  >
                    {{ (choices.choices_or_imagepath.split("@")[0] == ''? choices.choices_or_imagepath.split(".")[1] : choices.choices_or_imagepath.split("@")[0]) }}
                  </b-form-radio>

                  <!-- Choices with image  -->
                  <div
                    class="imgChoice"
                    v-show="choices.choices_or_imagepath.split('@')[1]"
                  >
                    <!-- <div 
                        @click="zoomImahe(choices.choices_or_imagepath.split('@')[1])"
                        class="imgHold" 
                        :style="'background-image: url('+api+'/'+choices.choices_or_imagepath.split('@')[1] +');'">
                      </div> -->
                    <img
                      class="imgHold"
                      :src="
                        api + '/' + choices.choices_or_imagepath.split('@')[1]
                      "
                      alt="image"
                      @click="
                        zoomImahe(choices.choices_or_imagepath.split('@')[1])
                      "
                    />
                  </div>
                </div>
              </div>

              <!-- ESSAY -->
              <div
                :ref="'choices[' + x + ']'"
                v-show="quests.question_type.toLowerCase().includes('essay')"
              >
                <b-form-textarea
                  class="essayText"
                  v-model="essayAnswer[x]"
                  placeholder="Type your essay here..."
                  rows="3"
                  max-rows="8"
                  @input="
                    pushAnswer(
                      `${quests.questionId}`,
                      `${essayAnswer[x]}`,
                      `${quests.question_type}`,
                      `${x}`,
                      `hl${x}`,
                      `no${x}`,
                      `que1${x}`,
                      `que2${x}`
                    )
                  "
                ></b-form-textarea>
              </div>

              <!-- PROBLEM SOLVING -->
              <div
                class="ProbSol"
                :ref="'choices[' + x + ']'"
                v-show="quests.question_type.toLowerCase().includes('problem')"
              >
                <b-form-file
                  :state="true"
                  v-model="img"
                  @input="
                    uploadImg(
                      `${quests.questionId}`,
                      `${imgPath}`,
                      `${quests.question_type}`,
                      `${x}`
                    )
                  "
                  placeholder="Upload image"
                />
                <div class="cuteLabel">
                  Take a picture and upload your solution
                </div>
              </div>
            </div>
            <!-- </b-collapse> -->
            <!-- VERTICAL LINE for extra emphasis -->
            <!-- <div class="vLine2" :id="`v2`+x" v-show="x != quest.questions.length-1"></div> -->
          </div>
        </div>
      </div>

      <!-- FOOTER FUNCTIONS -->
      <div class="footerFunc">
        <button v-show="showGen && !showCat" @click="proceed('closeGen')">
          Proceed to Exam &ensp; <fa :icon="['fa', 'chevron-right']" />
        </button>
        <button
          v-show="!showGen && showCat && !finalSubmit"
          @click="proceed('nextCat')"
        >
          Submit &amp; Proceed to Next Category &ensp;
          <fa :icon="['fa', 'chevron-right']" />
        </button>
        <button
          v-show="!showGen && showCat && finalSubmit"
          @click="proceed('finalCat')"
        >
          Final Submission &ensp; <fa :icon="['fa', 'check-circle']" />
        </button>
      </div>

      <!-- ALERT -->
      <b-alert
        :show="alert.showAlert"
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <fa
          :icon="
            alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
          "
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}
      </b-alert>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import axios from "axios";
import Loader from "../loader.vue";

export default {
  head() {
    return {
      title: "IQ & Behavioral Exam"
    };
  },
  data() {
    return {
      isEditing: true,
      takeExamNow: false,
      timer: "",
      givenTime: "",
      showGen: true,
      showCat: false,
      finalSubmit: false,
      timesUp: false,
      imahe: "/generalInst/default.png",
      api: "",
      zoomImg: false,
      zoom: 800,
      examTimeLimit: 30, // by minutes
      questionaire: [],
      genIndex: 0,
      screenHeight: 0,
      spacerHeight: 0,
      generalInst: [
        {
          id: 1,
          name:
            "Please read the questions carefully and answer all the questions.",
          image: "",
          alt: "img1"
        },
        // {
        //   id: 2,
        //   name:
        //     "DO NOT reload page. If page did not load correctly, please let us know by sending us email along with the screenshot.",
        //   image: "",
        //   alt: "img5"
        // },
        {
          id: 2,
          name:
            "For multiple choice questions, click a radio botton of your choice.",
          image: "/generalInst/samp_multiple.png",
          alt: "img2"
        },
        {
          id: 3,
          name: "For essays, type your answer on the text field.",
          image: "/generalInst/samp_essay.png",
          alt: "img3"
        },
        {
          id: 4,
          name:
            "For essays and upload a picture of your solution in problem solving questions.",
          image: "/generalInst/samp_prob.png",
          alt: "img3"
        },
        {
          id: 5,
          name: `Click "Submit & Proceed to Next Category" button after answering all questions within a category (submittion is per category).`,
          image: "",
          alt: ""
        },
        {
          id: 6,
          name:
            "You can turn back and change your answers from the previous questions within the current category only. Going back to previous category is not allowed.",
          image: "",
          alt: "img5"
        },
        {
          id: 7,
          name:
            "Contact us if a problem prevented you from completing/taking the exams. Good luck.",
          image: "",
          alt: "img5"
        }
      ],

      answers: [],
      essayAnswer: [],
      imgPath: [],
      img: null,

      currentCategory: "",
      categ: {
        total: JSON.parse(localStorage.catgories).length,
        current: JSON.parse(localStorage.finished).length
      },
      loading_questions: false,
      alert: {
        showAlert: 0,
        variant: "success",
        message: ""
      }
    };
  },
  computed: {
    questions() {
      return this.questionaire;
    }
  },
  methods: {
    showAlert(message, variant) {
      this.alert = {
        showAlert: 5,
        variant,
        message
      };
    },
    zoomImahe(src) {
      // alert(src);
      this.imahe = src;
      this.zoomImg = true;
    },
    uploadImg(questionId, image, question_type, ind) {
      console.log("Upload Image");
      // ADD CSS IF QUESTION IS ANSWERED
      document.getElementById("que1" + ind).classList.add("activeBG3"); // ANSWERED QUESTION
      document.getElementById("que2" + ind).classList.add("activeBG2"); // ANSWERED QUESTION
      document.getElementById("no" + ind).classList.add("activeBG"); // numbering
      document.getElementById("hl" + ind).classList.add("activeBorder"); // choices holder

      let que1 = "que1" + ind;
      let que2 = "que2" + ind;
      let no = "no" + ind;
      let hl = "hl" + ind;

      console.log(this.img);
      let answerIMage = "";
      if (!this.img) {
        this.resumeChosen = false;
        this.img = null;
        this.alertMessage = "Please upload applicant's resume";
      } else if (
        this.img.type == "image/png" ||
        this.img.type == "image/jpeg"
      ) {
        try {
          if (this.img) {
            console.log("Initializing upload");
            // upload first
            const fd = new FormData();
            fd.append("image", this.img, this.img.name);
            axios
              .post(`${this.$axios.defaults.baseURL}/users/upload`, fd, {
                headers: { Authorization: `Bearer ${localStorage.token}` }
              })
              .then(
                result => {
                  answerIMage = result.data.imagePath;
                  console.log("==========================================");
                  console.log("Uploaded Succesfully");
                  console.log("==========================================");
                },
                error => {
                  answerIMage = "";
                  console.log("==========================================");
                  console.log("Upload Failed");
                  console.log("==========================================");
                  console.log(error);
                  console.log("==========================================");
                }
              );
            // this.register(this.token);
            console.log("Done Upload");
          } else {
            console.log("No resume");
            // this.register(this.token);
          }
        } catch (e) {
          console.log(e);
          this.alertMessage = JSON.stringify("Error: ", e);
          this.resumeChosen = false;
          this.img = null;
        }
      } else {
        this.alertMessage = "Invalid file format";
        this.resumeChosen = false;
        this.img = null;
      }

      this.pushAnswer(
        questionId,
        answerIMage,
        question_type,
        ind,
        hl,
        no,
        que1,
        que2
      );
    },
    pushAnswer(questionId, answer, question_type, ind, hl, no, que1, que2) {
      // console.log("get answer");
      const length = this.answers.length;
      let bool = false;
      let equalIndex = 0;
      if (length > 0) {
        for (let i = 0; i < this.answers.length; i++) {
          const questionIds = this.answers[i].questionId;
          if (questionIds === questionId) {
            bool = true;
            equalIndex = i;
            break;
          }
        }
        if (bool === false) {
          this.answers.push({ questionId, answer, question_type });
        } else {
          this.answers.splice(equalIndex, 1, {
            questionId,
            answer,
            question_type
          });
        }
      } else {
        this.answers.push({ questionId, answer, question_type });
      }
      // console.log(this.answers);
      var indx = this.answers.length - 1;
      // console.log("indx: " + indx);

      // LOOP AND FIND QUESTIONS WITH NO ANSWERS
      for (let x = 0; x <= indx; x++) {
        // console.log("x: " + x);
        if (this.answers[x].answer) {
          // WITH ANSWERS
          // console.log("index: " + x + " - With answer: " + this.answers[x].answer);
          // console.log(hl +' - '+ no +' - '+ que1 +' - '+ que2);
          // ADD CSS CLASSESS IF QUESTION IS ANSWERED
          document.getElementById(que1).classList.add("activeBG3"); // ANSWERED QUESTION
          document.getElementById(que2).classList.add("activeBG2"); // ANSWERED QUESTION
          document.getElementById(no).classList.add("activeBG"); // numbering
          document.getElementById(hl).classList.add("activeBorder"); // choices holder
        } else {
          // console.log("index: " + x + " - No answer: " + this.answers[x].answer);
          // console.log(hl +' - '+ no +' - '+ que1 +' - '+ que2);
          // REMOVE CSS CLASSES IF NO ANSWERS
          document.getElementById("que1" + ind).classList.remove("activeBG3"); // ANSWERED QUESTION
          document.getElementById("que2" + ind).classList.remove("activeBG2"); // ANSWERED QUESTION
          document.getElementById("no" + ind).classList.remove("activeBG"); // numbering
          document.getElementById("hl" + ind).classList.remove("activeBorder"); // choices holder
        }
      }
    },
    proceed(cmd) {
      if (cmd == "closeGen") {
        this.showGen = false;
        this.showCat = true;
        localStorage.showGen = false;
      } else if (cmd == "nextCat") {
        console.log(
          "No. of questions that were answered: " + this.answers.length
        );
        console.log(
          "No. of questions: " + this.questionaire.view.questions.length
        );
        if (
          parseInt(this.answers.length) ==
          parseInt(this.questionaire.view.questions.length)
        ) {
          this.showGen = false;
          this.showCat = true;

          // GET NEXT CATEGORY
          var temp1 = JSON.parse(localStorage.finished);
          // PUSH FINISHED CATEGORIES
          var temp3 = JSON.parse(localStorage.unfinished);
          if (temp3.length > 0) {
            // NEW CATEGORY
            localStorage.currentCat = temp3[0];
            // DETERMINE IF NEW CATEGORY IS ALREADY PUSHED TO finsihed
            if (temp1.indexOf(localStorage.currentCat) !== -1) {
              // No Entry
              // console.log(temp1.indexOf(localStorage.currentCat));
              // console.log(temp1);
              // console.log(temp1);
            } else {
              // PUSH NEW CATEGORY TO finished
              temp1.push(temp3[0]);
              localStorage.finished = JSON.stringify(temp1);
            }
            // REMOVE NEW CATEGORY FROM unfinished
            if (temp3.indexOf(localStorage.currentCat) !== -1) {
              temp3.splice(parseInt(temp3.indexOf(localStorage.currentCat)), 1);
              console.log(temp3);
              localStorage.unfinished = JSON.stringify(temp3);
            }
            // FETCH QUESTION FROM NEW CATEGORY
            this.getQuestions();
            // DISPLAY CURRENT CATEGORY INFO
            let temp4 = JSON.parse(localStorage.catgories);
            let temp5 = temp4.filter(
              data => data.id == localStorage.currentCat
            );
            this.currentCategory = temp5[0];
            this.categ = {
              total: JSON.parse(localStorage.catgories).length,
              current: JSON.parse(localStorage.finished).length
            };
            // DETERMINE IF CURRENT CATEGORY IS THE LAST CATEGORY
            var temp6 = JSON.parse(localStorage.categoryIDs);
            if (temp6[temp6.length - 1] == localStorage.currentCat) {
              this.finalSubmit = true;
            }
            // SUBMIT ANSWERS
            this.submitAnswers();

            // REMOVE CSS CLASSES IF NO ANSWERS
            console.log(this.questionaire.view.questions);
            for (let d = 0; d < this.questionaire.view.questions.length; d++) {
              console.log(d);
              document.getElementById("que1" + d).classList.remove("activeBG3"); // ANSWERED QUESTION
              document.getElementById("que2" + d).classList.remove("activeBG2"); // ANSWERED QUESTION
              document.getElementById("no" + d).classList.remove("activeBG"); // numbering
              document
                .getElementById("hl" + d)
                .classList.remove("activeBorder"); // choices holder
            }
          }
        } else {
          this.showAlert("Please answer all the questions", "danger");
        }
      } else if (cmd == "finalCat") {
        console.log("No. of questions that were answered: " + this.answers.length);
        console.log("No. of questions: " + this.questionaire.view.questions.length);
        if (parseInt(this.answers.length) == parseInt(this.questionaire.view.questions.length)) {
          this.showGen = false;
          this.showCat = false;

          // SUBMIT EXAM ANSWERS
          this.submitAnswers();
        } else {
          this.showAlert("Please answer all the questions", "danger");
        }
      }
    },
    closeTab() {
      this.$router.push({ path: "../examLogin" });
    },
    preventNav(event) {
      if (!this.isEditing) return;
      event.preventDefault();
      event.returnValue = "";
    },
    disableAnything() {
      document.addEventListener(
        "contextmenu",
        function(e) {
          e.preventDefault();
        },
        false
      );
      document.addEventListener(
        "keydown",
        function(e) {
          // document.onkeydown = function(e) {
          // "I" key
          if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
            disabledEvent(e);
          }
          // "J" key
          if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
            disabledEvent(e);
          }
          // "S" key + macOS
          if (
            e.keyCode == 83 &&
            (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)
          ) {
            disabledEvent(e);
          }
          // "U" key
          if (e.ctrlKey && e.keyCode == 85) {
            disabledEvent(e);
          }
          // "F12" key
          // if (event.keyCode == 123) {
          //     disabledEvent(e);
          // }
          // ctrl p
          if (e.ctrlKey && e.keyCode == 80) {
            disabledEvent(e);
          }
          // ctrl c
          if (e.ctrlKey && e.keyCode == 67) {
            disabledEvent(e);
          }
          // ctrl r
          if (e.ctrlKey && e.keyCode == 82) {
            disabledEvent(e);
          }
          // // ctrl F5
          // if (e.ctrlKey && e.keyCode == 116) {
          //     disabledEvent(e);
          // }
          // // F5
          // if (e.keyCode == 116) {
          //     disabledEvent(e);
          // }
        },
        false
      );
      function disabledEvent(e) {
        if (e.stopPropagation) {
          e.stopPropagation();
        } else if (window.event) {
          window.event.cancelBubble = true;
        }
        e.preventDefault();
        return false;
      }

      if (typeof document.onselectstart !== "undefined") {
        document.onselectstart = new Function("return false");
      } else {
        document.onmousedown = new Function("return false");
        document.onmouseup = new Function("return true");
      }
    },
    doneExam() {
      axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/users/IQBE/done/${localStorage.applicantID}`,
        headers: { Authorization: `Bearer ${localStorage.token}` }
      }).then(
        result => {
          console.log(result.data);
          this.showAlert("Successfully ended the exam", "success");
          this.$router.push({ path: "../doneIQBE" });
        },
        error => {
          console.log(error);
          this.showAlert("Failed to end the exam: " + error, "danger");
        }
      );
    },
    submitAnswers() {
      axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/questions/online-exam`,
        headers: { Authorization: `Bearer ${localStorage.token}` },
        data: {
          categoryId: JSON.parse(localStorage.categoryIDs),
          token: localStorage.token,
          answers: this.answers
        }
      }).then(
        result => {
          console.log(result.data);
          this.showAlert("Answers submitted successfully", "success");

          // CLEAR PREVIOUS ANSWERS
          this.answers = [];

          // // RELOAD SCREEN
          // location.reload();

          // END EXAM IF FINISHED ALL CATEGORIES
          if (this.finalSubmit == true) {
            this.doneExam();
          }
        },
        error => {
          console.log(error);
          this.showAlert("Failed to submit answers: " + error, "danger");
        }
      );
    },
    getQuestions() {
      this.loading_questions = true;
      // GET CURRENT CATEGORY
      console.log(localStorage.currentCat);
      var categoryId = [];
      var token = localStorage.token;
      categoryId.push(localStorage.currentCat);
      axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/questions/online-exam`,
        headers: { Authorization: `Bearer ${localStorage.token}` },
        data: {
          categoryId,
          token
        }
      }).then(
        result => {
          console.log("GET QUESTIONS: Success");
          this.questionaire = result.data;
          this.loading_questions = false;

          // DETERMINE IF CURRENT CATEGORY IS THE LAST CATEGORY
          var temp6 = JSON.parse(localStorage.categoryIDs);
          console.log(temp6[temp6.length - 1]);
          console.log(localStorage.currentCat);
          if (temp6[temp6.length - 1] == localStorage.currentCat) {
            this.finalSubmit = true;
          }

          // SCROLL TOP
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        },
        error => {
          console.log("GET QUESTIONS: Error");
          console.log(error);
          this.showAlert("Error while getting questions: " + error, "danger");
          this.loading_questions = false;
        }
      );
    }
  },
  mounted() {
    // SET SCREEN
    this.spacerHeight = "height: " + this.$refs.headr.clientHeight + "px;";
    var height = screen.height - this.$refs.headr.clientHeight;
    this.screenHeight = "height: " + height + "px;";
    console.log("spacer: " + this.spacerHeight);
    console.log("sroller: " + this.screenHeight);
    if (screen.height >= 1080) {
      this.screenHeight = "height: " + 800 + "px;";
      // alert(this.screenHeight);
    } else {
      var height = screen.height - this.$refs.headr.clientHeight - 50; // scroll height = (screen height - header height) - browswer header height
      this.screenHeight = "height: " + height + "px;";
    }
  },
  created() {
    if (localStorage.showGen) {
      this.showGen = false;
      this.showCat = true;
    }

    this.disableAnything();

    // GET QUESTIONS
    this.getQuestions();
    // DISPLAY CURRENT CATEGORY INFO
    let temp4 = JSON.parse(localStorage.catgories);
    let temp5 = temp4.filter(data => data.id == localStorage.currentCat);
    this.currentCategory = temp5[0];

    // DETERMINE IF CURRENT CATEGORY IS THE LAST CATEGORY
    var temp6 = JSON.parse(localStorage.categoryIDs);
    if (temp6[temp6.length - 1] == localStorage.currentCat) {
      this.finalSubmit = true;
    }

    this.api = this.$axios.defaults.baseURL;

    // LOOP SAMPLE QUESTIONS DATA BY CATEGORY /generalInst/default.png
    // var sample = [];
    // for(let i=0; i <= 0; i++) {
    //   for(let x=0; x <= 3; x++) {
    //     sample.push(
    //       {
    //         questionId: "q"+x,
    //         question: "Question looped sample no. " + i + x + "?@/generalInst/default.png",
    //         correctAnswer: null,
    //         question_type: "Multiple choice",
    //         choices: [
    //           {
    //             choices_or_imagepath: "Answer looped sample no 1@/generalInst/default.png",
    //             id: "1"+i+x
    //           },
    //           {
    //             choices_or_imagepath: "Answer looped sample no 2@/generalInst/default.png",
    //             id: "2"+i+x
    //           },
    //           {
    //             choices_or_imagepath: "Answer looped sample no 3@/generalInst/default.png",
    //             id: "3"+i+x
    //           }
    //         ],
    //         monitor: "0"
    //       }
    //     );
    //   }
    //   this.questionaire.push(
    //     {
    //       categoryId: "cat" + i,
    //       questions: sample
    //     }
    //   );
    // }

    // console.log(this.questionaire);
  },
  // Prevent reload
  // beforeMount() {
  //   window.addEventListener("beforeunload", this.preventNav);
  //   this.$once("hook:beforeDestroy", () => {
  //     window.removeEventListener("beforeunload", this.preventNav);
  //   });
  // }
};
</script>

<style lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;

.custom-range::-webkit-slider-thumb {
  background: #00a651;
}
.custom-range::-webkit-slider-track {
  background: #00a6501f;
}
.custom-file-input,
.form-file-text,
.custom-file-label::after {
  font-size: 13px;
}
.custom-control {
  &:focus {
    box-shadow: 0 0 0 3px #00a6501f !important;
    border: 1px solid #00a651;
  }
}
.was-validated .custom-file-input:valid ~ .custom-file-label,
.custom-file-input.is-valid ~ .custom-file-label {
  border: 1px solid #c4c4c4;
}
@media only screen and (min-width: 1000px) {
  .custom-file-label {
    height: fit-content;
    width: 250px;
    // margin-top: 170px;
  }
}
@media only screen and (max-width: 1000px) {
  .custom-file-label {
    height: fit-content;
    width: 250px;
    margin-left: 11px;
  }
  .ProbSol .cuteLabel {
    margin-left: 11px;
  }
}
@media only screen and (max-width: 320px) {
  .custom-file-label {
    height: fit-content;
    width: 210px;
    margin-left: 11px;
  }
  .ProbSol .cuteLabel {
    margin-left: 11px;
  }
}
.essayText.form-control {
  &:focus {
    box-shadow: 0 0 0 3px #00a6501f !important;
    border: 1px solid #00a651;
  }
}
.custom-control-label {
  padding-top: 3px;
  cursor: pointer;
}
.custom-control-input:checked ~ .custom-control-label::after {
  background-color: #00a651;
  border-radius: 100px;
}
.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 3px #00a6501f !important;
}

.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
