<template>
  <div class="moduleContent" ref="quickApplicantsComponent">
    <!-- HEADER TOOLS -->
    <div class="tabTools">
      <!-- EXTRA SLOT  remove class "tabToolsDivX" is slot will be used-->
      <div class="tabToolsDiv tabToolsDivX"></div>
      <!-- EXTRA SLOT -->
      <div class="tabToolsDiv tabToolsDivX"></div>

      <!-- DATE PICKER -->
      <div class="tabToolsDiv">
        <date-range-picker
          id="date_range_supplier"
          ref="picker"
          opens="center"
          :locale-data="localeData"
          :autoApply="true"
          :singleDatePicker="false"
          :showWeekNumbers="true"
          v-model="datePicker"
          @update="updateValues"
          @change="updateValues"
          size="sm"
          style="width: 14.5rem"
        >
          <div id="date_picker_select_supplier" slot="input">
            {{ datePicker.startDate }} - {{ datePicker.endDate }}
          </div>
        </date-range-picker>
        <button
          @click="resetDate"
          class="toolClear"
          v-b-tooltip.hover
          title="Reset date picker"
        >
          <fa :icon="['fa', 'redo-alt']" />
        </button>
      </div>

      <!-- SEARCH -->
      <div class="tabToolsDiv">
        <button class="toolSearchIco" disabled>
          <fa :icon="['fa', 'search']" />
        </button>
        <input
          class="toolSearch fa"
          type="text"
          name=""
          placeholder="Type to search"
          v-model="find"
        />
        <b-button
          class="toolClear"
          @click="find = ''"
          v-b-tooltip.hover
          title="Clear Search"
        >
          <fa :icon="['fa', 'eraser']" />
        </b-button>
      </div>
      <!-- RELOAD DATA -->
      <div class="tabToolsDiv" v-b-tooltip.hover title="Refresh Table">
        <button class="btn-keep" @click="getQuickApplicants(token)">
          <fa :icon="['fa', 'redo-alt']" />
        </button>
      </div>
    </div>

    <!-- TABLE @row-clicked="rowData"  -->
    <div class="tabTable">
      <b-table
        hover
        class="table"
        id="quickApplicantsTable"
        select-mode="single"
        :items="tableDataComputed"
        :per-page="perPage"
        :fields="fieldHeaders"
        :busy="isBusy"
        :current-page="computedCurrentPage"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        show-empty
      >
        <!-- LOADERS IF isBusy == true -->
        <template #table-busy>
          <div class="text-center text-secondary">
            <b-spinner small class="align-middle"></b-spinner>
            <strong>Loading...</strong>
          </div>
        </template>

        <!-- Custom display for Application Date -->
        <template #cell(resume_upload_date)="row">
          <div class="text-main">
            <b>
              {{ formatDate(row.value) }}
            </b>
          </div>
        </template>

        <!-- Custom display for Applicant's name -->
        <template #cell(name)="row">
          <div class="text-main">
            <b>{{ row.value }}</b>
          </div>
          <div class="text-sub2">To be assigned</div>
        </template>

        <!-- Custom display for Email -->
        <template #cell(email)="row">
          <div class="text-sub">
            <b>{{ row.value }}</b>
          </div>
          <div class="text-sub2">{{ row.item.mobile }}</div>
        </template>

        <!-- Custom display for Livestock -->
        <template #cell(livestock)="row">
          <div class="text-sub2-pill">
            {{ row.value }}
          </div>
        </template>

        <!-- Custom display for Willing to travel -->
        <template #cell(willing_to_travel)="row">
          <div
            v-if="row.value.toLowerCase().includes('yes')"
            class="text-pos2-pill"
          >
            {{ row.value }}
          </div>
          <div v-else class="text-sub2-pill">{{ row.value }}</div>
        </template>

        <!-- Custom display for Running Time -->
        <template #cell(running_time)="row">
          <div
            v-if="
              parseInt(row.value.hours) < 24 && parseInt(row.value.days) < 1
            "
          >
            <div class="text-pos2-pill">
              {{ row.value.hours }} hours and {{ row.value.minutes }} minutes
            </div>
          </div>
          <div v-else-if="!row.value">
            <div class="text-reject-pill">
              No running time
            </div>
          </div>
          <div v-else>
            <div
              v-show="parseInt(row.value.days) >= 3"
              class="text-reject-pill"
            >
              {{ row.value.days }} Days
            </div>
            <div v-show="parseInt(row.value.days) == 2" class="text-pos2-pill">
              {{ row.value.days }} Days
            </div>
            <div v-show="parseInt(row.value.days) == 1" class="text-pos2-pill">
              {{ row.value.days }} Day
            </div>
          </div>
        </template>

        <!-- BUTTON PER ROW -->
        <template #cell(extra)="row">
          <div class="rowmenuHold" v-show="showMenu && row.index == rowIndex">
            <div class="rowmenu">
              <div
                class="actionFor"
                @click="viewApplicant(row.item.id, row, row.index)"
              >
                <div class="pointing">
                  <div><fa :icon="['fa', 'user-circle']" /></div>
                  {{ row.item.name }}
                </div>
                <!-- <div class="pointRight"></div> -->
              </div>
              <div class="line"></div>

              <div class="rowMenuScroll">
                <div v-for="(act, a) in actions" :key="a">
                  <button
                    v-if="
                      act.action_name
                        .split(' - ')[0]
                        .toLowerCase()
                        .includes('quick') && act.status == 'active'
                    "
                    v-show="
                      act.action_name.split(' - ')[1] != 'Search Bar' &&
                        act.action_name.split(' - ')[1] !=
                          'Filter Department' &&
                        act.action_name.split(' - ')[1] != 'Filter Position'
                    "
                    class="bX b-keep"
                    @click="
                      takeAct(act.id, act.action_name, row.item, row, row.index)
                    "
                  >
                    &ensp; {{ act.action_name.split(" - ")[1] }}
                  </button>
                </div>
              </div>
            </div>

            <!-- <div class="pointRight"></div> -->
          </div>

          <button class="btn-actions" @click="selectRow(row, row.index)">
            <fa :icon="['fa', 'ellipsis-v']" />
          </button>
        </template>
      </b-table>
    </div>

    <!-- FOOTER TOOLS -->
    <div class="footer">
      <div class="tabTools">
        <div class="tabToolsDiv">
          Total no. of records: {{ records }} | Page
          {{ computedCurrentPage }} of {{ computedTotalPage }}
        </div>
        <div class="tabToolsDiv tabToolsDivX"></div>
        <div class="tabToolsDiv tabEx">
          <div class="overflow-auto">
            <div>
              <b-pagination
                size="sm"
                v-model="currentPage"
                :total-rows="records"
                :per-page="perPage"
                aria-controls="quickApplicantsTable"
              ></b-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ALERT -->
    <b-alert
      :show="alert.showAlert"
      :variant="alert.variant"
      @dismissed="alert.showAlert = null"
    >
      <fa
        :icon="
          alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
        "
        class="mr-1"
        style="font-size:20px"
      />
      {{ alert.message }}
    </b-alert>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import DateRangePicker from "vue2-daterange-picker";
export default {
  components: {
    DateRangePicker
  },
  data() {
    return {
      applicantStage: "Quick Applicant",
      sortBy: "resume_upload_date",
      sortDesc: true,
      isBusy: false,
      tableData: [],
      // perPage: 1,
      currentPage: 1,
      rowIndex: -1,
      prevIndex: -1,
      showMenu: false,
      applicant: [],
      find: "",
      token: "",
      roles: "",
      actt: "",
      person: "",
      fieldHeaders: [
        // TABLE HEADERS
        {
          key: "resume_upload_date",
          label: "Application Date",
          sortable: true
        },
        {
          key: "name",
          label: "Applicant",
          sortable: true
        },
        {
          key: "email", // column name from API
          label: "Contacts", // custom name set
          sortable: false // sort data by column
        },
        {
          key: "livestock",
          sortable: false
        },
        {
          key: "willing_to_travel",
          label: "WTT",
          sortable: false
        },
        {
          key: "running_time",
          label: "Running Time",
          sortable: false
        },
        {
          key: "extra",
          label: "",
          sortable: false
        }
      ],
      actions: [],
      datePicker: {
        startDate: moment()
          .subtract(1, "months")
          .format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      }
    };
  },
  methods: {
    formatDate(data) {
      if (data != "") {
        return moment(data).format("MMMM DD, YYYY");
      } else {
        return "No Date";
      }
    },
    closeMenu() {
      this.showMenu = false;
    },
    viewApplicant(applicantID, row, ind) {
      this.selectRow(row, ind);
      console.log("===============================");
      console.log("id: " + localStorage.id);
      console.log("role: " + localStorage.role);
      console.log("deptID: " + localStorage.deptId);
      console.log("teamID: " + localStorage.teamId);
      console.log("applicantID: " + applicantID);
      console.log("===============================");
      this.$store.commit("closeViewApplicants", false);
      this.$store
        .dispatch("viewApplicantDetails", {
          applicantID: applicantID,
          token: localStorage.token
        })
        .then(res => {
          console.log("Close View Applicants: " + this.closeFullInfo);
          console.log("===============================");
        });
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));
      console.log("From: " + this.dateRange.date_from);
      console.log("To: " + this.dateRange.date_to);

      this.getQuickApplicants(this.token);
    },
    resetDate() {
      this.dateRange.date_from = moment()
        .subtract(1, "months")
        .format("YYYY-MM-DD");
      this.dateRange.date_to = moment().format("YYYY-MM-DD");

      // this.datePicker.startDate = moment()
      //   .subtract(1, "months")
      //   .format("MMM DD, YYYY");
      // this.datePicker.endDate = moment().format("MMM DD, YYYY");
      // let dateRange = {
      //     date_from: moment()
      //     .subtract(1, "months")
      //     .format("YYYY-MM-DD"),
      //     date_to: moment().format("YYYY-MM-DD")
      // };
      this.getQuickApplicants(this.token);
    },
    selectRow(row, ind) {
      this.applicant = row;
      this.rowIndex = ind;
      // console.log("this.prevIndex: " + this.prevIndex);
      // console.log("this.rowIndex: " + this.rowIndex);
      // console.log("this.showMenu: " + this.showMenu);
      console.log(row);
      row.toggleDetails();
      if (this.prevIndex != this.rowIndex) {
        this.prevIndex = this.rowIndex;
        this.showMenu = true;
      } else {
        this.showMenu = !this.showMenu;
      }
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 5,
        variant,
        message
      };
    },
    takeAct(actID, actName, applicant, row, ind) {
      this.selectRow(row, ind);

      var token = localStorage.token;
      var action = String(actName.split(" - ")[1]);

      localStorage.actionID = actID;
      localStorage.actionName = actName;

      console.log("===============================");
      console.log("Applicant");
      console.log("===============================");
      // console.log(applicant);
      console.log("Application Date: " + applicant.date_received);
      console.log("Department ID: " + applicant.deptId);
      console.log("Department: " + applicant.deptName);
      console.log("Position: " + applicant.position);
      console.log("Resume Link: " + applicant.resume_upload_url);
      console.log("ID: " + applicant.id);
      console.log("Name: " + applicant.name);
      console.log("Email: " + applicant.email);
      console.log("Mobile: " + applicant.mobile);
      console.log("Willing to travel: " + applicant.willing_to_travel);
      console.log("Livestock: " + applicant.livestock);
      console.log("===============================");
      console.log("Action ID: " + actID);
      console.log("Action Stage: " + actName.split(" - ")[0]);
      console.log("Action Name: " + actName.split(" - ")[1]);
      console.log("===============================");

      switch (action) {
        //============================================================  View Resume  ====================================================
        case "View Resume":
          if (
            String(applicant.resume_upload_url) == "null" ||
            String(applicant.resume_upload_url) == ""
          ) {
            this.showAlert("No Resume Found", "danger");
          } else {
            if (
              String(applicant.resume_upload_url).includes("uploads") ||
              String(applicant.resume_upload_url).includes("drive")
            ) {
              this.showAlert("Resume Found", "success");
              if (applicant.resume_upload_url.includes("uploads")) {
                window.open(
                  this.$axios.defaults.baseURL +
                    "/" +
                    applicant.resume_upload_url
                );
              } else {
                window.open(applicant.resume_upload_url);
              }
            } else {
              this.showAlert("Invalid Resume Link", "danger");
            }
          }
          break;

        //============================================================  Endorse to other Department  ====================================
        case "Endorse to other Department":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$store.commit(
            "dashboard/setApplicantStage",
            this.applicantStage
          );
          this.$root.$emit(
            "bv::show::modal",
            "endorseToOtherDept",
            "#endorseToOtherDept"
          );
          break;

        //============================================================  Keep for Reference  =============================================
        case "Keep for Reference":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$store.commit(
            "dashboard/setApplicantStage",
            this.applicantStage
          );
          this.$root.$emit("bv::show::modal", "keepForrefID", "#keepForrefID");
          break;

        //============================================================  Reject  =========================================================
        case "Reject":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$store.commit(
            "dashboard/setApplicantStage",
            this.applicantStage
          );
          this.$root.$emit("bv::show::modal", "rejectID", "#rejectID");
          break;

        //============================================================ Blacklist =======================================================
        case "Blacklist":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$store.commit(
            "dashboard/setApplicantStage",
            this.applicantStage
          );
          this.$root.$emit("bv::show::modal", "blacklistID", "#blacklistID");
          break;

        default:
          this.showAlert("Unknown action: " + action, "danger");
      }
    },
    getQuickApplicants(token) {
      this.isBusy = true;
      axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/users/quick-applicants`,
        headers: {
          Authorization: `Bearer ${token}`
        },
        data: {
          dateFrom: this.dateRange.date_from,
          dateTo: this.dateRange.date_to,
          deptID: localStorage.deptID,
          teamID: localStorage.teamID,
          role: localStorage.role,
          id: localStorage.id
        }
      })
        .then(res => {
          this.isBusy = false;
          this.tableData = res.data.view;

          // ADD TO doneLoader STATE
          this.$store.commit("doneLoad", 1);
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  mounted() {
    // CLOSE IF CLICKED OUTSIDE
    var self = this;
    var el = document.getElementById("outsideNotif");
    window.addEventListener(
      "click",
      function(e) {
        if (!el.contains(e.target) && e.target instanceof HTMLElement) {
          self.closeMenu();
        }
      },
      false
    );
  },
  created() {
    this.$root.$refs.quickApplicantsComponent = this;
    setTimeout(() => {
      this.token = localStorage.token;
      this.roles = localStorage.role;

      // this.dateRange.date_from = "";
      // this.dateRange.date_to = "";
      this.dateRange.date_from = moment()
        .subtract(1, "months")
        .format("YYYY-MM-DD");
      this.dateRange.date_to = moment().format("YYYY-MM-DD");

      if (localStorage.token == undefined) {
        console.log("Please login firs...");
      } else {
        this.getQuickApplicants(this.token);
      }
      // LOOK FOR THE "APPLICATION STAGES MODULE" (module_id: 5)
      var access_rights = JSON.parse(localStorage.access_rights_details);
      // console.log("No. of Access Rights: " + access_rights.length);
      // console.log(access_rights);
      for (var a = 0; a < access_rights.length; a++) {
        if (access_rights[a].module_id == 5) {
          // console.log(access_rights[a].access);
          this.actions = access_rights[a].access;
        }
      }
    }, 501);
  },
  computed: {
    perPage() {
      return this.$store.state.perPage;
    },
    closeFullInfo() {
      return this.$store.state.closeViewApplicant;
    },
    records() {
      return this.tableDataComputed.length;
    },
    computedCurrentPage() {
      // console.log(this.currentPage);
      if (this.records == 0) {
        return 0;
      } else {
        return this.currentPage;
      }
    },
    computedTotalPage() {
      if (this.records <= this.currentPage) {
        if (this.records == 0) {
          return 0;
        } else {
          return 1;
        }
      } else {
        let totalPage = this.records % this.perPage;
        if ((totalPage = 0)) {
          return parseInt(this.records / this.perPage);
        } else {
          return parseInt(this.records / this.perPage) + 1;
        }
      }
    },
    tableDataComputed() {
      return this.tableData.filter(
        data =>
          String(data.name)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.email)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.mobile)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.livestock)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.resume_upload_date)
            .toLowerCase()
            .includes(this.find.toLowerCase())
      );
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;

.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
