<template>
  <div class="moduleContent" ref="rowDeter">
    <!-- HEADER TOOLS -->
    <div class="tabTools">
      <!-- EXTRA SLOT  remove class "tabToolsDivX" is slot will be used-->
      <div class="tabToolsDiv tabToolsDivX"></div>

      <!-- FILTER THESS ACTIONS BY USER ACCESS RIGHTS -->
      <div class="tabToolsDiv">
        <multiselect
          v-model="dept"
          deselect-label=""
          select-label=""
          track-by="name"
          label="name"
          placeholder="Select a Department"
          :options="optionsDept"
          :searchable="true"
          :allow-empty="false"
          @input="onSelectDept()"
        >
        </multiselect>
      </div>

      <!-- POSITIONS BY DEPARTMENT :v-model="selected"-->
      <div class="tabToolsDiv">
        <multiselect
          v-model="positions"
          deselect-label=""
          select-label=""
          track-by="name"
          label="name"
          placeholder="Select a Position"
          :options="optionsPositions"
          :searchable="false"
          :allow-empty="false"
          @input="onSelectPosition()"
        >
        </multiselect>
      </div>

      <!-- CLEAR SELECTIONS-->
      <div
        class="tabToolsDiv"
        v-b-tooltip.hover
        title="Clear selected department and position"
      >
        <button class="btn-keep" @click="clearDepartmentPositions(token)">
          <fa :icon="['fa', 'eraser']" />
        </button>
      </div>

      <!-- DATE PICKER -->
      <div class="tabToolsDiv">
        <date-range-picker
          id="date_range_supplier"
          ref="picker"
          opens="center"
          :locale-data="localeData"
          :autoApply="true"
          :singleDatePicker="false"
          :showWeekNumbers="true"
          v-model="datePicker"
          @update="updateValues"
          @change="updateValues"
          size="sm"
          style="width: 14.5rem"
        >
          <div id="date_picker_select_supplier" slot="input">
            {{ datePicker.startDate }} - {{ datePicker.endDate }}
          </div>
        </date-range-picker>
        <button
          @click="resetDate"
          class="toolClear"
          v-b-tooltip.hover
          title="Reset date picker"
        >
          <fa :icon="['fa', 'redo-alt']" />
        </button>
      </div>

      <!-- SEARCH -->
      <div class="tabToolsDiv">
        <button class="toolSearchIco" disabled>
          <fa :icon="['fa', 'search']" />
        </button>
        <input
          class="toolSearch fa"
          type="text"
          name=""
          placeholder="Type to search"
          v-model="find"
        />
        <b-button
          class="toolClear"
          @click="find = ''"
          v-b-tooltip.hover
          title="Clear Search"
        >
          <fa :icon="['fa', 'eraser']" />
        </b-button>
      </div>
      <!-- RELOAD DATA -->
      <div class="tabToolsDiv" v-b-tooltip.hover title="Refresh Table">
        <button class="btn-keep" @click="refreshData(token)">
          <fa :icon="['fa', 'redo-alt']" :spin="isBusy" />
        </button>
      </div>

      <!-- PRINT REPORT -->
      <div class="tabToolsDiv">
        <button
          class="btn-view"
          v-b-tooltip.hover
          title="Print a copy of 'Rejected' Applicants"
          @click="printing()"
        >
          <fa :icon="['fa', 'print']" />
        </button>
      </div>
      <!-- Export to csv -->
      <div class="tabToolsDiv">
        <button
          v-b-modal.addDeptModal
          class="btn-positive2"
          v-b-tooltip.hover
          title="Export List"
          @click="exportToExcel()"
        >
          <fa :icon="['fa', 'file-excel']" />
        </button>
      </div>
    </div>

    <!-- TABLE @row-clicked="rowData"  -->
    <div class="tabTable">
      <b-table
        hover
        class="table text-nowrap"
        id="allApplicantsTable"
        select-mode="single"
        :filter="find"
        :items="tableDataComputed"
        :per-page="perPage"
        :fields="fieldHeaders"
        :busy="isBusy"
        :current-page="computedCurrentPage"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        show-empty
      >
        <!-- LOADERS IF isBusy == true -->
        <template #table-busy>
          <div class="text-center text-secondary">
            <b-spinner small class="align-middle"></b-spinner>
            <strong>Loading...</strong>
          </div>
        </template>

        <!-- Custom display for Application Date -->
        <template #cell(resume_upload_date)="row">
          <b>
            <span
              class="text-reject"
              v-if="
                row.value.split('T')[0] == '' || row.value.split('T')[0] == null
              "
            >
              No Date: Please contact ITG
            </span>
            <span class="text-main" v-else>
              {{
                new Date(row.value.split("T")[0]).toLocaleString("default", {
                  month: "long"
                })
              }}
              {{ new Date(row.value.split("T")[0]).getDate() }},
              {{ new Date(row.value.split("T")[0]).getFullYear() }}
            </span>
          </b>
        </template>

        <!-- Custom display for Exam Start Date -->
        <template #cell(onlineExamStartDate)="row">
          <div v-if="row.value">
            <div class="text-main">
              <b>From :&nbsp;</b>
              {{
                new Date(row.value.split("T")[0]).toLocaleString("default", {
                  month: "long"
                })
              }}
              {{ new Date(row.value.split("T")[0]).getDate() }},
              {{ new Date(row.value.split("T")[0]).getFullYear() }}
            </div>

            <div class="text-main">
              <b>To :&nbsp;</b>
              {{
                new Date(
                  row.item.onlineExamEndDate.split("T")[0]
                ).toLocaleString("default", { month: "long" })
              }}
              {{
                new Date(row.item.onlineExamEndDate.split("T")[0]).getDate()
              }},
              {{
                new Date(row.item.onlineExamEndDate.split("T")[0]).getFullYear()
              }}
            </div>
          </div>
          <div v-else class="text-reject-pill">No Dates</div>
        </template>

        <!-- Custom display for Exam Endt Date -->
        <!-- <template #cell(online_exam_end)="row">
          <div class="text-main">
              {{
                new Date(
                  row.value.replace("T00:00:00.000Z", "")
                ).toLocaleString("default", { month: "long" })
              }}
              {{ new Date(row.value.replace("T00:00:00.000Z", "")).getDate() }},
              {{
                new Date(row.value.replace("T00:00:00.000Z", "")).getFullYear()
              }}
          </div>
        </template> -->

        <!-- Custom display for Applicant's position -->
        <template #cell(position)="row">
          <div class="text-main">
            <b>{{ row.value }}</b>
          </div>
        </template>

        <!-- Custom display for Applicant's name -->
        <template #cell(name)="row">
          <div class="text-main">
            <b>{{ row.value }}</b>
          </div>
          <div class="text-sub2">{{ row.item.position }}</div>
        </template>

        <!-- Custom display for Email -->
        <template #cell(email)="row">
          <div class="text-sub">
            <b>{{ row.value }}</b>
          </div>
          <div class="text-sub2">{{ row.item.mobile }}</div>
        </template>

        <!-- Custom display for Mobile no.
        <template #cell(mobile)="row">
          <div class="text-sub">
            {{ row.value }}
          </div>
        </template> -->

        <!-- Custom display for Livestock -->
        <template #cell(livestock)="row">
          <div class="text-sub2-pill">
            {{ row.value }}
          </div>
        </template>

        <!-- Custom display for Assessment Schedule -->
        <template #cell(scheduleAssessment)="row">
          <div class="text-main" v-if="!!row.value">
            <b>
              {{
                new Date(row.value.split("T")[0]).toLocaleString("default", {
                  month: "long"
                })
              }}
              {{ new Date(row.value.split("T")[0]).getDate() }},
              {{ new Date(row.value.split("T")[0]).getFullYear() }}
            </b>
          </div>
          <div v-else>
            <div class="text-reject-pill">
              No Schedule
            </div>
          </div>
        </template>

        <!-- Custom display for Willing to travel -->
        <template #cell(willing_to_travel)="row">
          <div
            v-if="row.value.toLowerCase().includes('yes')"
            class="text-pos2-pill"
          >
            {{ row.value }}
          </div>
          <div v-else class="text-sub2-pill">{{ row.value }}</div>
        </template>

        <!-- Custom display for Running Time -->
        <template #cell(running_time)="row">
          <div v-show="parseInt(row.value.days) == 2" class="text-pos2-pill">
            {{ row.value.days }} Days
          </div>
          <div v-show="parseInt(row.value.days) <= 1" class="text-pos2-pill">
            {{ row.value.days }} Day
          </div>
          <div v-show="parseInt(row.value.days) > 2" class="text-reject-pill">
            {{ row.value.days }} Days
          </div>
        </template>

        <!-- BUTTON PER ROW -->
        <template #cell(extra)="row">
          <div class="rowmenuHold" v-show="showMenu && row.index == rowIndex">
            <div class="rowmenu">
              <div class="actionFor">
                <div class="pointing">
                  <div><fa :icon="['fa', 'brain']" /></div>
                  Actions
                </div>
                <!-- <div class="pointRight"></div> -->
              </div>
              <div class="line"></div>

              <div class="rowMenuScroll">
                <button
                  class="bX b-keep"
                  @click="viewApplicant(row.item.id, row, row.index)"
                >
                  &ensp; View Applicant Info
                </button>
              </div>
            </div>

            <!-- <div class="pointRight"></div> -->
          </div>

          <button class="btn-actions" @click="selectRow(row, row.index)">
            <fa :icon="['fa', 'ellipsis-v']" />
          </button>
        </template>
      </b-table>
    </div>

    <!-- FOOTER TOOLS -->
    <div class="footer">
      <div class="tabTools">
        <div class="tabToolsDiv">
          Total no. of records: {{ records }} | Page
          {{ computedCurrentPage }} of {{ computedTotalPage }}
        </div>
        <div class="tabToolsDiv tabToolsDivX"></div>
        <div class="tabToolsDiv tabEx">
          <div class="overflow-auto">
            <div>
              <b-pagination
                size="sm"
                v-model="currentPage"
                :total-rows="records"
                :per-page="perPage"
                aria-controls="allApplicantsTable"
              ></b-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- View Applciant Details -->
    <ViewApplicant v-show="!closeFullInfo" />
  </div>
</template>

<script>
import moment from "moment";
import ViewApplicant from "../viewApplicant";
import Multiselect from "vue-multiselect";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import axios from "axios";
import Papa from "papaparse";

export default {
  components: {
    DateRangePicker,
    Multiselect,
    ViewApplicant
  },
  data() {
    return {
      sortBy: "resume_upload_date",
      sortDesc: true,
      isBusy: false,
      tableData: [],
      perPage: 7,
      currentPage: 1,
      rowIndex: -1,
      prevIndex: -1,
      showMenu: false,
      applicant: [],
      find: "",
      token: "",
      roles: "",
      actt: "",
      person: "",
      fieldHeaders: [
        // TABLE HEADERS
        {
          key: "resume_upload_date",
          label: "Application Date",
          sortable: true
        },
        {
          key: "name",
          label: "Applicant",
          sortable: true
        },
        {
          key: "email", // column name from API
          label: "Contacts", // custom name set
          sortable: true // sort data by column
        },
        {
          key: "livestock",
          sortable: false
        },
        {
          key: "willing_to_travel",
          label: "WTT",
          sortable: false
        },
        {
          key: "onlineExamStartDate",
          label: "Exam Dates",
          sortable: false
        },
        {
          key: "scheduleAssessment",
          label: "Assessment Schedule",
          sortable: false
        },
        {
          key: "remarks_reject",
          label: "Stage Rejected and Remarks",
          sortable: false
        },
        {
          key: "extra",
          label: "",
          sortable: false
        }
      ],
      actions: [],
      datePicker: {
        startDate: moment()
          .subtract(1, "months")
          .format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      screenHeight: 0,
      tableHeight: 0,
      rowDeterm: 0,

      dept: null,
      positions: null
    };
  },
  methods: {
    printing() {
      var token = localStorage.token;
      var uid = localStorage.id;
      var udep = localStorage.deptId;
      var team = localStorage.teamId;
      var role = localStorage.role;
      if (this.dateRange.date_from == "") {
        // WITHOUT DATES
        console.log("======================================");
        console.log("No Dates");
        console.log("======================================");
        if (this.dep == undefined && this.positions == null) {
          console.log("No Department & Position filter");
          window.open(
            `/reports?stage=rejected&from=none&to=none&dep=none&pos=none&token=${token}&user=${uid}_${role}_${udep}_${team}`
          );
        } else {
          console.log("department: " + this.dept.id);
          console.log("position: " + this.positions.id);
          var dep = this.dept.id;
          var pos = this.positions.id;
          window.open(
            `/reports?stage=rejected&from=none&to=none&dep=${dep}&pos=${pos}&token=${token}&user=${uid}_${role}_${udep}_${team}`
          );
        }
        console.log("======================================");
      } else {
        // WITH DATES
        console.log("======================================");
        console.log("With Dates");
        console.log("======================================");
        console.log("from: " + this.dateRange.date_from);
        console.log("to: " + this.dateRange.date_to);
        var from = this.dateRange.date_from;
        var to = this.dateRange.date_to;

        if (this.dep == undefined && this.positions == null) {
          console.log("No Department & Position filter");
          window.open(
            `/reports?stage=rejected&from=${from}&to=${to}&dep=none&pos=none&token=${token}&user=${uid}_${role}_${udep}_${team}`
          );
        } else {
          var dep = this.dept.id;
          var pos = this.positions.id;
          console.log("department: " + this.dept.id);
          console.log("position: " + this.positions.id);
          window.open(
            `/reports?stage=rejected&from=${from}&to=${to}&dep=${dep}&pos=${pos}&token=${token}&user=${uid}_${role}_${udep}_${team}`
          );
        }
        console.log("======================================");
      }
    },
    viewApplicant(applicantID, row, ind) {
      this.selectRow(row, ind);
      console.log("===============================");
      console.log("id: " + localStorage.id);
      console.log("role: " + localStorage.role);
      console.log("deptID: " + localStorage.deptId);
      console.log("teamID: " + localStorage.teamId);
      console.log("applicantID: " + applicantID);
      console.log("===============================");
      this.$store.commit("closeViewApplicants", false);
      this.$store
        .dispatch("viewApplicantDetails", {
          applicantID: applicantID,
          token: localStorage.token
        })
        .then(res => {
          console.log("Close View Applicants: " + this.closeFullInfo);
          console.log("===============================");
        });
    },
    selectRow(row, ind) {
      this.applicant = row;
      this.rowIndex = ind;
      // console.log("this.prevIndex: " + this.prevIndex);
      // console.log("this.rowIndex: " + this.rowIndex);
      // console.log("this.showMenu: " + this.showMenu);
      row.toggleDetails();
      // console.log(row);
      if (this.prevIndex != this.rowIndex) {
        this.prevIndex = this.rowIndex;
        this.showMenu = true;
      } else {
        this.showMenu = !this.showMenu;
      }
    },
    takeAct(actID, actName, applicant, row, ind) {
      this.selectRow(row, ind);
      // console.log(row);
      console.log("===============================");
      console.log("Applicant");
      console.log("===============================");
      // console.log(applicant);
      console.log("Application Date: " + applicant.date_application);
      console.log("ID: " + applicant.id);
      console.log("Name: " + applicant.name);
      console.log("Stage: " + applicant.stage);
      console.log("Email: " + applicant.email);
      console.log("Mobile: " + applicant.mobile);
      console.log("Willing to travel: " + applicant.willing_to_travel);
      console.log("Livestock: " + applicant.livestock);
      console.log("===============================");
      console.log("Action ID: " + actID);
      console.log("Action Stage: " + actName.split(" - ")[0]);
      console.log("Action Name: " + actName.split(" - ")[1]);
      console.log("===============================");
      // console.log("Action name:" + name);
      // console.log("Details:");
      // console.log(data);
      // alert(actID + " - " + actName);
    },
    refreshData(token) {
      // DECLARE DATES AS EMPTY
      this.dateRange.date_from = "";
      this.dateRange.date_to = "";

      // FETCH DATA
      this.getData(token);
    },
    getData(token) {
      this.isBusy = true;
      axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/users/rejected`,
        headers: {
          Authorization: `Bearer ${token}`
        },
        data: {
          id: localStorage.id,
          role: localStorage.role,
          deptID: localStorage.deptId,
          teamID: localStorage.teamId,
          dateFrom: this.dateRange.date_from,
          dateTo: this.dateRange.date_to
        }
      })
        .then(res => {
          this.isBusy = false;
          this.tableData = res.data[Object.keys(res.data)[0]];
          //   console.log(this.tableData);
        })
        .catch(err => {
          console.log(err);
        });
    },
    rowData(data) {
      console.log(data);
      alert();
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));
      console.log("From: " + this.dateRange.date_from);
      console.log("To: " + this.dateRange.date_to);

      // this.getAllApplicants(this.dateRange.date_from, this.dateRange.date_to);
      this.getData(this.token);
    },
    resetDate() {
      this.datePicker.startDate = moment()
        .subtract(1, "months")
        .format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
      // let dateRange = {
      //     date_from: moment()
      //     .subtract(1, "months")
      //     .format("YYYY-MM-DD"),
      //     date_to: moment().format("YYYY-MM-DD")
      // };
    },
    async getFilteredDataDept() {
      this.tableData = [];
      this.isBusy = true;
      this.positions = null;
      await this.$store
        .dispatch("filterDept", {
          deptId: this.dept.id,
          token: localStorage.token,
          stage: "rejected"
        })
        .then(res => {
          this.tableData = res;
          this.isBusy = false;
        });
    },
    //fetch filtered receive by position and dept
    async getFilteredData() {
      this.tableData = [];
      this.isBusy = true;
      await this.$store
        .dispatch("filterDeptPos", {
          deptId: this.dept.id,
          posId: this.positions.id,
          token: localStorage.token,
          stage: "rejected"
        })
        .then(res => {
          this.tableData = res;
          this.isBusy = false;
        });
    },
    async onSelectDept() {
      // console.log(this.dept);
      // console.log("Department: " + this.dept.name);
      // console.log("ID: " + this.dept.id);

      this.positions = null;
      var temp = [];
      temp.push({
        id: this.dept.id,
        token: localStorage.token
      });
      // VIEW POSITIONS BY DEPARTMENT
      this.$store.dispatch("viewPositionsByDept", { data: temp });
      await this.getFilteredDataDept(localStorage.token);
    },
    async onSelectPosition() {
      //   console.log(this.positions);
      await this.getFilteredData(localStorage.token);
    },
    clearDepartmentPositions(token) {
      this.getData(token);
      this.dept = null;
      this.positions = null;
      // RELOAD ALL DEPARTMENTS
      this.$store.dispatch("viewAllDepartments", {
        token: localStorage.token
      });
    },
    positionFilterView() {
      console.log("object");
    },
    onSelectStage() {
      console.log("status selected");
    },
    clearStageFilter() {
      this.dept = "";
      this.getAllApplicants();
    },
    exportToExcel() {
      let values = [];

      this.tableData.forEach(applicant => {
        let value = {
          "Applicantion Date": this.formatDate(applicant.resume_upload_date),
          "Applicant Name": applicant.name,
          "Email Address": applicant.email,
          Mobile: applicant.mobile,
          Livestock: applicant.livestock,
          "Willing to Travel": applicant.willing_to_travel,
          "Exam Date": this.formatDate(applicant.date_online_exam),
          "Assessment Schedule": this.formatDate(applicant.date_assessment)
        };
        values.push(value);
      });
      const csv = Papa.unparse(values);
      var fileURL = window.URL.createObjectURL(new Blob([csv]));
      var fileLink = document.createElement("a");

      fileLink.href = fileURL;

      fileLink.setAttribute(
        "download",
        `Rejected ${moment().format("MMM DD, YYYY")}.csv`
      );
      document.body.appendChild(fileLink);
      fileLink.click();
    },
    closeMenu() {
      this.showMenu = false;
    },
    formatDate(date) {
      return moment(date).format("DD MMMM, YYYY");
    }
  },
  mounted() {
    // CLOSE IF CLICKED OUTSIDE
    var self = this;
    var el = document.getElementById("outsideNotif");
    window.addEventListener(
      "click",
      function(e) {
        if (!el.contains(e.target) && e.target instanceof HTMLElement) {
          self.closeMenu();
        }
      },
      false
    );
  },
  created() {
    setTimeout(() => {
      // DECLARE DATES AS EMPTY
      this.dateRange.date_from = "";
      this.dateRange.date_to = "";

      this.token = localStorage.token;
      this.roles = localStorage.role;

      if (localStorage.token == undefined) {
        console.log("Please login firs...");
      } else {
        // this.getQuickApplicants(this.token);
        this.getData(this.token);

        // RELOAD ALL DEPARTMENTS
        this.$store.dispatch("viewAllDepartments", {
          token: localStorage.token
        });
      }
    }, 501);
  },
  computed: {
    // perPage() {
    //   return this.$store.state.perPage;
    // },
    closeFullInfo() {
      return this.$store.state.closeViewApplicant;
    },
    records() {
      return this.tableDataComputed.length;
    },
    computedCurrentPage() {
      // console.log(this.currentPage);
      if (this.records == 0) {
        return 0;
      } else {
        return this.currentPage;
      }
    },
    computedTotalPage() {
      if (this.records <= this.currentPage) {
        if (this.records == 0) {
          return 0;
        } else {
          return 1;
        }
      } else {
        let totalPage = this.records % this.perPage;
        if ((totalPage = 0)) {
          return parseInt(this.records / this.perPage);
        } else {
          return parseInt(this.records / this.perPage) + 1;
        }
      }
    },
    tableDataComputed() {
      return this.tableData.filter(data => {
        return (
          data.id.toLowerCase().includes(this.find.toLowerCase()) ||
          data.name.toLowerCase().includes(this.find.toLowerCase()) ||
          data.email.toLowerCase().includes(this.find.toLowerCase()) ||
          data.mobile.toLowerCase().includes(this.find.toLowerCase())
        );
      });
    },
    optionsDept() {
      // console.log(this.$store.getters.viewAllDept);
      return this.$store.getters.viewAllDept;
    },
    optionsPositions() {
      if (this.$store.getters.viewPositionsByDept.length > 0) {
        return this.$store.getters.viewPositionsByDept;
      } else if (this.dept != null) {
        return [
          {
            id: "none",
            name: "No positions available",
            $isDisabled: true
          }
        ];
      } else {
        return [
          {
            id: "none",
            name: "Please select a department first",
            $isDisabled: true
          }
        ];
      }
    }
  }
};
</script>

<style lang="scss">
$mainT: #193c2a;
$BG: #eff8f4;
@font-face {
  font-family: font_M;
  src: url("./assets/red-hat-display-medium.ttf");
}

/* Date Range */
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}

.vue-daterange-picker .reportrange-text {
  border-radius: 4px 0 0 4px;
  font-size: 13px;
  color: $mainT;
  width: 100%;
  height: 35px;
  border: 0px;
  background: #f5f5f5;
  border: 1px solid #5c7b7b23;
  display: flex;
  justify-content: center;
  align-items: center;
}

.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}

.daterangepicker .ranges li.active {
  background-color: #00a651;
  color: #fff;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #00a651;
  border-color: transparent;
  color: #fff;
}

.daterangepicker .ranges li.active {
  background-color: #00a651;
  color: #fff;
}
.date_picker_select_supplier {
  font-size: 13px;
}

@media only screen and (max-width: 1400px) {
  .vue-daterange-picker .reportrange-text {
    border-radius: 4px 0 0 4px;
    font-size: 11px;
    color: $mainT;
    width: 100%;
    height: 30px;
    border: 0px;
    background: #f5f5f5;
    border: 1px solid #5c7b7b23;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .date_picker_select_supplier {
    font-size: 11px;
  }
}
</style>
