<template>
  <div>
    <b-modal id="keepForrefID" :no-close-on-backdrop="true">
      <template #modal-header class="headr">
        <div class="deptIcn"><fa :icon="['fa', 'bookmark']" /></div>
        <div class="deptTitleDiv"><b>Keep For Reference</b></div>
      </template>
      <div class="mdlBody">
        <b-row>
          <b-col>
            <b-row>
              <div class="grouper2 xWidth" v-if="applicantData">
                <div class="applname">{{ applicantData.name }}</div>
                <div class="bord">{{ applicantData.position }}</div>
              </div>
              <div class="grouper2 xWidth" v-else>
                Applicant Data is missing
              </div>
            </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-row><b class="modalText">Remarks (optional): </b></b-row>
            <b-row>
              <textarea
                name="remarks"
                class="kfr_remarks"
                v-model="remarks"
                @input="keepForRef_remarks()"
              ></textarea>
            </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <div class="note2">
              By clicking "Save" the applicant Will be
              <b>kept for referrence</b>. Please proceed with caution.
              <br /><br />

              <div v-if="note != ''">
                <div
                  class="note2 text-alert"
                  v-if="note == 'Saving, please wait...'"
                >
                  <b-spinner small variant="warning" type="grow"></b-spinner>
                  &ensp; Sending email, please wait...
                </div>
              </div>
            </div>
          </b-col>
        </b-row>
      </div>
      <template #modal-footer>
        <div v-show="note != 'Saving, please wait...'">
          <button class="btn-deact" @click="closeKeep()">Cancel</button>
          <button class="btn-keep" @click="clearRemarks()">Clear</button>
          <button class="btn-positive2" @click="keep()">Save</button>
        </div>
      </template>
    </b-modal>

    <!-- ALERT -->
    <b-alert
      :show="alert.showAlert"
      :variant="alert.variant"
      @dismissed="alert.showAlert = null"
    >
      <fa
        :icon="
          alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
        "
        class="mr-1"
        style="font-size:20px"
      />
      {{ alertt }}
    </b-alert>
  </div>
</template>

<script>
import moment from "moment";
import { mapState, mapMutations, mapGetters } from "vuex";

export default {
  data() {
    return {
      remarks: "",
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      note: "",
      notifData: []
    };
  },
  methods: {
    reloadQuickApplicantTable() {
      this.$root.$refs.quickApplicantsComponent.getQuickApplicants(
        localStorage.token
      );
    },
    reloadKeepFoRefTable() {
      this.$root.$refs.keepForRefComponent.getData(localStorage.token);
    },
    reloadReceivedTable() {
      this.$root.$refs.receivedComponent.getReceived();
    },
    reloadOnlineExamTable() {
      this.$root.$refs.onlineExamComponent.getData(localStorage.token);
    },
    reloadEndorsementTable() {
      this.$root.$refs.endorsementComponent.getData(localStorage.token);
    },
    reloadScheduleAssessmentTable() {
      this.$root.$refs.scheduleAssessmentComponent.getData(localStorage.token);
    },
    reloadAssessmentTable() {
      this.$root.$refs.assessmentComponent.getData(localStorage.token);
    },
    reloadPendingTable() {
      this.$root.$refs.pendingComponent.getData(localStorage.token);
    },
    reloadShorlistedTable() {
      this.$root.$refs.shortlistedComponent.getData(localStorage.token);
    },
    reloadJobOfferTable() {
      this.$root.$refs.jobOfferComponent.getData(localStorage.token);
    },
    keepForRef_remarks() {
      // console.log(this.remarks);
    },
    clearRemarks() {
      this.remarks = "";
    },
    keep() {
      // SETUP DATA FOR NOTIFICATION ALERT
      this.notifData = [];
      let user = localStorage.fname + " " + localStorage.lname;
      let applicantName = this.applicantData.name;
      this.notifData.push({
        date: moment(new Date()).format("YYYY-MM-DD"),
        stage: localStorage.actionName.split(" - ")[0],
        actionID: localStorage.actionID,
        actionName: localStorage.actionName.split(" - ")[1],
        action: localStorage.actionName,
        desc: user + " kept " + applicantName + "'s application for reference",
        user: {
          id: localStorage.id,
          role: localStorage.role,
          teamID: localStorage.teamId,
          deptID: localStorage.deptId,
          name: localStorage.fname + " " + localStorage.lname
        },
        applicant: {
          id: this.applicantData.id,
          name: this.applicantData.name,
          position: this.applicantData.position,
          dpetID: this.applicantData.deptId
        }
      });

      // ACTION
      var token = localStorage.token;
      this.$store.dispatch("dashboard/keepForreference", {
        token: token,
        applicant: this.applicantData,
        remarks: this.applicantStage + " : " + this.remarks,
        notifData: this.notifData
      });
      this.note = "Saving, please wait...";
      this.logActivity();
    },
    async logActivity(token, name) {
      await this.$store
        .dispatch("activityLogsAction", {
          token: localStorage.token,
          module: "Applicant Stages",
          table_affected: "Users",
          activity: `Kept for reference applicant: ${this.applicantData.name}`
        })
        .then();
    },
    closeKeep() {
      console.log("applicantdata", this.applicantData);
      this.$store.commit("dashboard/keepDone", "");

      this.$root.$emit("bv::hide::modal", "keepForrefID", "#keepForrefID");
      if (this.note == "Saving, please wait...") {
        switch (this.applicantStage) {
          case "Quick Applicant":
            console.log("case", this.applicantStage);
            this.reloadQuickApplicantTable();
            this.reloadKeepFoRefTable();
            break;

          case "Received":
            console.log("case", this.applicantStage);
            this.reloadReceivedTable();
            this.reloadKeepFoRefTable();
            break;

          case "Online Exam":
            console.log("case", this.applicantStage);
            this.reloadOnlineExamTable();
            this.reloadKeepFoRefTable();
            break;

          case "Endorsement":
            console.log("case", this.applicantStage);
            this.reloadEndorsementTable();
            this.reloadKeepFoRefTable();

            break;

          case "Assessment":
            console.log("case", this.applicantStage);
            this.reloadAssessmentTable();
            this.reloadKeepFoRefTable();
            break;

          case "Schedule for Assessment":
            console.log("case", this.applicantStage);
            this.reloadScheduleAssessmentTable();
            this.reloadKeepFoRefTable();
            break;

          case "Pending for Review":
            console.log("case", this.applicantStage);
            this.reloadPendingTable();
            this.reloadKeepFoRefTable();

          case "Shortlisted":
            console.log("case", this.applicantStage);
            this.reloadShorlistedTable();
            this.reloadKeepFoRefTable();

          case "Job Offer":
            console.log("case", this.applicantStage);
            this.reloadJobOfferTable();
            this.reloadKeepFoRefTable();

            break;
        }
      }
      setTimeout(() => {
        this.$store.commit("dashboard/keepDone", "");
      }, 5000);
      this.note = "";
      this.clearRemarks();
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 5,
        variant,
        message
      };
    }
  },
  computed: {
    ...mapGetters({ applicantData: "dashboard/applicantDetails" }),
    ...mapGetters({ applicantStage: "dashboard/applicantStage" }),
    ...mapGetters({ doneKeep: "dashboard/doneKeep" }),
    alertt() {
      if (this.doneKeep != "") {
        if (String(this.doneKeep) == "Done") {
          // this.showAlert("Success: " + this.doneKeep, "success");
        } else {
          this.showAlert("Failed: " + this.doneKeep, "danger");
        }
        this.closeKeep();
        return this.doneKeep;
      }
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;

.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
.kfr_remarks {
  border: 1px solid #c4c4c4;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 12px;
  padding: 8px;
}
</style>
