<template>
  <div>
    <b-modal id="addReferralID" :no-close-on-backdrop="true">
      <template #modal-header class="headr">
        <div class="deptIcn"><fa :icon="['fa', 'user-tag']" /></div>
        <div class="deptTitleDiv"><b>Add Referral</b></div>
      </template>
      <div class="mdlBody">
        <b-row>
          <b-col>
            <b-row>
              <div class="grouper2 xWidth" v-if="applicantData">
                <div class="applname">{{ applicantData.name }}</div>
                <div class="bord">{{ applicantData.position }}</div>
              </div>
              <div class="grouper2 xWidth" v-else>
                Applicant Data is missing
              </div>
            </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-row
              ><b class="modalText">
                Choose an applicant to tag as {{ applicantData.name }}'s
                referral</b
              ></b-row
            >
            <b-row>
              <Multiselect
                class="selectInput"
                v-model="referral"
                deselect-label=""
                select-label=""
                track-by="name"
                label="name"
                placeholder="Select a applicant"
                :options="referralList"
                :searchable="true"
                :allow-empty="false"
                @input="on_select_referral()"
              >
              </Multiselect>
            </b-row>

            <div v-show="referral">
              <b-row
                ><b class="modalText">
                  Enter {{ applicantData.name }}'s relationship with
                  {{ referral.name }}</b
                ></b-row
              >
              <b-row>
                <input type="text" class="modalEdit" v-model="relationship" />
              </b-row>
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <div class="note2" v-show="referral">
              By clicking "Save", applicant: <b>{{ referral.name }}</b> will be
              set as <b>{{ applicantData.name }}'s</b> referral. Please proceed
              with caution. <br /><br />

              <div v-if="note != ''">
                <div
                  class="note2 text-alert"
                  v-if="note == 'Saving, please wait...'"
                >
                  <b-spinner small variant="warning" type="grow"></b-spinner>
                  &ensp; {{ note }}
                </div>
                <div v-else class="text-reject">
                  {{ note }}
                </div>
              </div>
            </div>
          </b-col>
        </b-row>
      </div>
      <template #modal-footer>
        <div v-show="note != 'Saving, please wait...'">
          <button class="btn-deact" @click="closeReferral()">Cancel</button>
          <button
            v-show="referral !== ''"
            class="btn-keep"
            @click="clearFieldz()"
          >
            Clear
          </button>
          <button
            v-show="referral !== ''"
            class="btn-positive2"
            @click="refer()"
          >
            Save
          </button>
        </div>
      </template>
    </b-modal>

    <!-- ALERT -->
    <b-alert
      :show="alert.showAlert"
      :variant="alert.variant"
      @dismissed="alert.showAlert = null"
    >
      <fa
        :icon="
          alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
        "
        class="mr-1"
        style="font-size:20px"
      />
      {{ alertt }}
    </b-alert>
  </div>
</template>

<script>
import moment from "moment";
import { mapState, mapMutations, mapGetters } from "vuex";
import Multiselect from "vue-multiselect";
import axios from "axios";

export default {
  components: {
    Multiselect
  },
  data() {
    return {
      deployDate: "",
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      note: "",
      referral: "",
      relationship: "",
      referralList: [],
      notifData: []
    };
  },
  created() {
    this.fetchList();
  },
  methods: {
    fetchList() {
      // GET APPLICANTS WHO ARE NOT TAGGED TO THEIR REFERRER YET
      axios({
        method: "GET",
        url: `${this.$axios.defaults.baseURL}/users/no-referrals`,
        headers: { Authorization: `Bearer ${localStorage.token}` }
      })
        .then(result => {
          // console.log("==================================");
          // console.log(result.data.view.listOfUsers);
          this.referralList = result.data.view.listOfUsers;
          // console.log("==================================");
        })
        .catch(error => {
          console.log("==================================");
          console.log(error);
          console.log("==================================");
          this.showAlert(
            "Errror while fetching untagged referral list: " + error,
            "danger"
          );
        });
    },
    clearFieldz() {
      this.referral = "";
      this.relationship = "";
    },
    on_select_referral() {
      console.log(this.referral);
    },
    async logActivity(token, name) {
      await this.$store
        .dispatch("activityLogsAction", {
          token: localStorage.token,
          module: "Applicant Stages",
          table_affected: "Users",
          activity: `Added referral for applicant: ${this.applicantData.name}`
        })
        .then();
    },
    refer() {
      // SETUP DATA FOR NOTIFICATION ALERT
      this.notifData = [];
      let user = localStorage.fname + " " + localStorage.lname;
      let applicantName = this.applicantData.name;
      this.notifData.push({
        date: moment(new Date()).format("YYYY-MM-DD"),
        stage: localStorage.actionName.split(" - ")[0],
        actionID: localStorage.actionID,
        actionName: localStorage.actionName.split(" - ")[1],
        action: localStorage.actionName,
        desc: user + " tagged a referral form to " + applicantName,
        user: {
          id: localStorage.id,
          role: localStorage.role,
          teamID: localStorage.teamId,
          deptID: localStorage.deptId,
          name: localStorage.fname + " " + localStorage.lname
        },
        applicant: {
          id: this.applicantData.id,
          name: this.applicantData.name,
          position: this.applicantData.position,
          dpetID: this.applicantData.deptId
        }
      });

      // ACTION
      if (this.relationship) {
        var token = localStorage.token;
        this.$store
          .dispatch("dashboard/addReferral", {
            token: token,
            applicant: this.applicantData,
            data: {
              referrerID: this.applicantData.id,
              referralID: this.referral.ID,
              relationship: this.relationship,
              notifData: this.notifData
            }
          })
          .then(result => {
            // console.log(this.applicantData.id);
            // console.log(this.referral.ID);
            // console.log(this.relationship);
            // console.log(this.notifData);
          });

        this.note = "Saving, please wait...";
        this.logActivity();
      } else {
        this.note = "Please specify their relationship...";
      }
    },
    closeReferral() {
      this.$store.commit("dashboard/referralDone", "");

      this.$root.$emit("bv::hide::modal", "addReferralID", "#addReferralID");
      this.note = "";
      setTimeout(() => {
        this.$store.commit("dashboard/referralDone", "");
      }, 5000);
      this.note = "";
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 5,
        variant,
        message
      };
    }
  },
  computed: {
    ...mapGetters({ applicantData: "dashboard/applicantDetails" }),
    ...mapGetters({ applicantStage: "dashboard/applicantStage" }),
    ...mapGetters({ doneReferral: "dashboard/doneReferral" }),
    alertt() {
      if (this.doneReferral != "") {
        if (String(this.doneReferral) == "Done") {
          // this.showAlert("Success: " + this.doneReferral, "success");
        } else {
          this.showAlert("Failed: " + this.doneReferral, "danger");
        }
        this.closeReferral();
        this.fetchList();
        return this.doneReferral;
      }
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;

.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
.kfr_remarks {
  border: 1px solid #c4c4c4;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 12px;
  padding: 8px;
}
</style>
