<template>
  <div>
    <b-modal id="updatePID" :no-close-on-backdrop="true">
      <template #modal-header class="headr">
        <div class="deptIcn"><fa :icon="['fa', 'edit']" /></div>
        <div class="deptTitleDiv"><b>Update Position</b></div>
      </template>
      <div class="mdlBody">
        <b-row>
          <b-col>
            <b-row>
              <div class="grouper2 xWidth" v-if="applicantData">
                <div class="applname">{{ applicantData.name }}</div>
                <div class="bord">{{ applicantData.position }}</div>
              </div>
              <div class="grouper2 xWidth" v-else>
                Applicant Data is missing
              </div>
            </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-row><b class="modalText">Choose new position: </b></b-row>
            <b-row>
              <Multiselect
                class="selectInput"
                v-model="pos"
                deselect-label=""
                select-label=""
                track-by="id"
                label="positionname"
                placeholder="Select a Position"
                :options="positionsList"
                :searchable="true"
                :allow-empty="false"
                @input="onSelPos()"
              >
              </Multiselect>
            </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <div class="note2">
              By clicking "Save" the applicant's position will be
              updated/replaced with the <b>chosen position</b>. Please proceed
              with caution. <br /><br />

              <div v-if="note != ''">
                <div
                  class="note2 text-alert"
                  v-if="note == 'Saving, please wait...'"
                >
                  <b-spinner small variant="warning" type="grow"></b-spinner>
                  &ensp; {{ note }}
                </div>
              </div>
            </div>
          </b-col>
        </b-row>
      </div>
      <template #modal-footer>
        <div v-show="note != 'Saving, please wait...'">
          <button class="btn-deact" @click="closeUpdate()">Cancel</button>
          <button class="btn-keep" v-if="show" @click="clearSelc()">
            Clear
          </button>
          <button class="btn-positive2" v-if="show" @click="updatePosition()">
            Save
          </button>
        </div>
      </template>
    </b-modal>

    <!-- ALERT -->
    <b-alert
      :show="alert.showAlert"
      :variant="alert.variant"
      @dismissed="alert.showAlert = null"
    >
      <fa
        :icon="
          alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
        "
        class="mr-1"
        style="font-size:20px"
      />
      {{ alertt }}
    </b-alert>
  </div>
</template>

<script>
import moment from "moment";
import Multiselect from "vue-multiselect";
import { mapState, mapMutations, mapGetters } from "vuex";
import "../../assets/vue-datetime.scss";
import axios from "axios";

export default {
  components: {
    Multiselect
  },
  data() {
    return {
      datetime: "",
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      note: "",
      pos: null,
      show: false,
      notifData: [],
      positionsList: []
    };
  },
  methods: {
    //use to relaod received table after update
    reloadReceivedTable() {
      this.$root.$refs.receivedComponent.getReceived();
    },
    reloadEndorsementTable() {
      this.$root.$refs.endorsementComponent.getData(localStorage.token);
    },
    reloadScheduleAssessmentTable() {
      this.$root.$refs.scheduleAssessmentComponent.getData(localStorage.token);
    },
    onSelPos() {
      if (this.pos == null) {
        this.show = false;
      } else {
        this.show = true;
      }
    },
    clearSelc() {
      this.show = false;
      this.pos = null;
      this.note = "";
    },
    async logActivity(token, name) {
      await this.$store
        .dispatch("activityLogsAction", {
          token: localStorage.token,
          module: "Applicant Stages",
          table_affected: "Users",
          activity: `Updated position of applicant: ${this.applicantData.name}`
        })
        .then();
    },
    updatePosition() {
      // SETUP DATA FOR NOTIFICATION ALERT
      this.notifData = [];
      let user = localStorage.fname + " " + localStorage.lname;
      let applicantName = this.applicantData.name;
      this.notifData.push({
        date: moment(new Date()).format("YYYY-MM-DD"),
        stage: localStorage.actionName.split(" - ")[0],
        actionID: localStorage.actionID,
        actionName: localStorage.actionName.split(" - ")[1],
        action: localStorage.actionName,
        desc: user + " updated " + applicantName + "'s position",
        user: {
          id: localStorage.id,
          role: localStorage.role,
          teamID: localStorage.teamId,
          deptID: localStorage.deptId,
          name: localStorage.fname + " " + localStorage.lname
        },
        applicant: {
          id: this.applicantData.id,
          name: this.applicantData.name,
          position: this.applicantData.position,
          dpetID: this.applicantData.deptId
        }
      });

      // ACTION
      var token = localStorage.token;
      this.$store.dispatch("dashboard/updatePosition", {
        token: localStorage.token,
        applicant: this.applicantData,
        pos: this.pos,
        notifData: this.notifData
      });
      this.note = "Saving, please wait...";
      this.logActivity();
    },
    closeUpdate() {
      this.$store.commit("dashboard/updateDone", "");

      this.$root.$emit("bv::hide::modal", "updatePID", "#updatePID");
      if (this.note == "Saving, please wait...") {
        this.reloadReceivedTable();
        switch (this.applicantStage) {
          case "Received":
            this.reloadReceivedTable();
            break;

          case "Endorsement":
            this.reloadEndorsementTable();
            break;

          case "Schedule for Assessment":
            this.reloadScheduleAssessmentTable();
            break;
        }
      }
      setTimeout(() => {
        this.$store.commit("dashboard/updateDone", "");
      }, 5000);
      this.note = "";
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 5,
        variant,
        message
      };
    }
  },
  async beforeCreate() {
    await axios({
      method: "GET",
      url: `${this.$axios.defaults.baseURL}/positions/view`,
      headers: {
        Authorization: `Bearer ${localStorage.token}`
      }
    }).then(
      res => {
        // console.log("position", res.data);
        this.positionsList = res.data;
      },
      error => {
        console.log(error);
      }
    );
  },
  computed: {
    ...mapGetters({
      applicantData: "dashboard/applicantDetails",
      doneUpdate: "dashboard/doneUpdate",
      applicantStage: "dashboard/applicantStage"
    }),
    alertt() {
      if (this.doneUpdate != "") {
        if (String(this.doneUpdate) == "Done") {
          // this.showAlert("Success: " + this.doneUpdate, "success");
        } else {
          this.showAlert("Failed: " + this.doneUpdate, "danger");
        }
        this.closeUpdate();
        return this.doneUpdate;
      }
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;

.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
.kfr_remarks {
  border: 1px solid #c4c4c4;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 12px;
  padding: 8px;
}
</style>
