<template>
  <div>
    <b-modal id="createSchedID" :no-close-on-backdrop="true">
      <template #modal-header class="headr">
        <div class="deptIcn"><fa :icon="['fa', 'calendar-day']" /></div>
        <div class="deptTitleDiv"><b>Create Assessment Schedule</b></div>
      </template>
      <div class="mdlBody">
        <b-row>
          <b-col>
            <b-row>
              <div class="grouper2 xWidth" v-if="applicantData">
                <div class="applname">{{ applicantData.name }}</div>
                <div class="bord">{{ applicantData.position }}</div>
              </div>
              <div class="grouper2 xWidth" v-else>
                Applicant Data is missing
              </div>
            </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-row
              ><b class="modalText"
                >Choose Date: (click the gray box below)
              </b></b-row
            >
            <b-row>
              <datetime
                type="datetime"
                v-model="datetime"
                class="bfi-theme"
                :phrases="{ ok: 'Continue', cancel: 'Exit' }"
                value-zone="America/New_York"
                zone="Asia/Shanghai"
                use12-hour
                auto
              ></datetime>
              <br /><br />
            </b-row>

            <b-row><b class="modalText">Enter location: </b></b-row>
            <b-row>
              <input type="text" class="modalEdit" v-model="location" />
            </b-row>

            <b-row
              ><b class="modalText">Enter contact person's name: </b></b-row
            >
            <b-row>
              <input type="text" class="modalEdit" v-model="contactP" />
            </b-row>

            <b-row
              ><b class="modalText">Enter contact person's number: </b></b-row
            >
            <b-row>
              <input
                type="number"
                class="modalEdit"
                v-model="contactN"
                placeholder="09XXXXXXXXX"
              />
            </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <div class="note2">
              By clicking "Save" the <b>chosen date</b> and time will be set as
              the applicant's <b>Assessment Date</b>. Please proceed with
              caution. <br /><br />

              <div v-if="note != ''">
                <div
                  class="note2 text-alert"
                  v-if="note == 'Saving, please wait...'"
                >
                  <b-spinner small variant="warning" type="grow"></b-spinner>
                  &ensp; {{ note }}
                </div>
              </div>
            </div>
          </b-col>
        </b-row>
      </div>
      <template #modal-footer>
        <div v-show="note != 'Saving, please wait...'">
          <button class="btn-deact" @click="closeCreateSched(), clearFields()">
            Cancel
          </button>
          <button class="btn-keep" @click="clearFields()">Clear</button>
          <button class="btn-positive2" @click="createSched()">Save</button>
        </div>
      </template>
    </b-modal>

    <!-- ALERT -->
    <b-alert
      :show="alert.showAlert"
      :variant="alert.variant"
      @dismissed="alert.showAlert = null"
    >
      <fa
        :icon="
          alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
        "
        class="mr-1"
        style="font-size:20px"
      />
      {{ alertt ? alertt : alert.message }}
    </b-alert>
  </div>
</template>

<script>
import moment from "moment";
import { mapState, mapMutations, mapGetters } from "vuex";
import { Datetime } from "vue-datetime";
import "../../assets/vue-datetime.scss";

export default {
  components: {
    Datetime
  },
  data() {
    return {
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      note: "",
      datetime: "",
      location: "",
      contactP: "",
      contactN: "",
      notifData: []
    };
  },
  methods: {
    reloadAssessmentTable() {
      this.$root.$refs.assessmentComponent.getData(localStorage.token);
    },
    reloadScheduleAssessmentTable() {
      this.$root.$refs.scheduleAssessmentComponent.getData(localStorage.token);
    },
    clearFields() {
      this.datetime = "";
      this.location = "";
      this.contactP = "";
      this.contactN = "";
      this.note = "";
    },
    async logActivity(token, name) {
      await this.$store
        .dispatch("activityLogsAction", {
          token: localStorage.token,
          module: "Applicant Stages",
          table_affected: "Users",
          activity: `Created assessment schedule for applicant: ${this.applicantData.name}`
        })
        .then();
    },
    createSched() {
      console.log(
        "this.datetimexx",
        this.datetime,
        moment(String(this.datetime)).format("YYYY-MM-DD hh:mm:ss A")
      );

      // ACTION
      if (this.datetime == "") {
        this.note = "Please choose a date";
        this.showAlert(this.note, "danger");
      } else if (this.location == "") {
        this.note = "Please fill in the location";
        this.showAlert(this.note, "danger");
      } else if (this.contactP == "") {
        this.note = "Please fill in the contact person's name";
        this.showAlert(this.note, "danger");
      } else if (this.contactN == "") {
        this.note = "Please fill in the contact person's number";
        this.showAlert(this.note, "danger");
      } else {
        console.log("this.datetime: " + this.datetime);
        console.log("this.location: " + this.location);
        console.log("this.contactP: " + this.contactP);
        console.log("this.contactN: " + this.contactN);
        // SETUP DATA FOR NOTIFICATION ALERT
        this.notifData = [];
        let user = localStorage.fname + " " + localStorage.lname;
        let applicantName = this.applicantData.name;
        this.notifData.push({
          date: moment(new Date()).format("YYYY-MM-DD"),
          stage: localStorage.actionName.split(" - ")[0],
          actionID: localStorage.actionID,
          actionName: localStorage.actionName.split(" - ")[1],
          action: localStorage.actionName,
          desc:
            user + " created a schedule for " + applicantName + "'s assessment",
          user: {
            id: localStorage.id,
            role: localStorage.role,
            teamID: localStorage.teamId,
            deptID: localStorage.deptId,
            name: localStorage.fname + " " + localStorage.lname
          },
          applicant: {
            id: this.applicantData.id,
            name: this.applicantData.name,
            position: this.applicantData.position,
            dpetID: this.applicantData.deptId
          }
        });

        var token = localStorage.token;
        this.$store.dispatch("dashboard/createSchedule", {
          token: token,
          applicant: this.applicantData,
          dateTime: moment(String(this.datetime)).format(
            "YYYY-MM-DD hh:mm:ss A"
          ),
          location: this.location,
          conP: this.contactP,
          conN: this.contactN,
          notifData: this.notifData
        });
        this.note = "Saving, please wait...";
        this.logActivity();
      }
    },
    closeCreateSched() {
      this.$store.commit("dashboard/createSchedDone", "");

      this.$root.$emit("bv::hide::modal", "createSchedID", "#createSchedID");
      if (this.note == "Saving, please wait...") {
        this.reloadScheduleAssessmentTable();
        this.reloadAssessmentTable();
      }
      this.clearFields();
      setTimeout(() => {
        this.$store.commit("dashboard/createSchedDone", "");
      }, 5000);
      this.note = "";
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 5,
        variant,
        message
      };
    }
  },
  computed: {
    ...mapGetters({ applicantData: "dashboard/applicantDetails" }),
    ...mapGetters({ applicantStage: "dashboard/applicantStage" }),
    ...mapGetters({ doneCreateSched: "dashboard/doneCreateSched" }),
    alertt() {
      if (this.doneCreateSched != "") {
        if (String(this.doneCreateSched) == "Done") {
          // this.showAlert("Success: " + this.doneCreateSched, "success");
          this.closeCreateSched();
        } else {
          this.showAlert("Failed: " + this.doneCreateSched, "danger");
        }
        this.note = "";
        return this.doneCreateSched;
      }
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;

.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
.kfr_remarks {
  border: 1px solid #c4c4c4;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 12px;
  padding: 8px;
}
</style>
