<template>
    <div class="moduleContainer">
        <div class="moduleName">Actions</div>
        <div class="moduleContent2">
            <b-row class="actionHold">
                <b-col cols="3">
                    <b-row class="actionHeader">Dashboard Tabs</b-row>
                    <b-row class="col1 grouper3">
                        <b-col>
                            <b-row v-for="(data, x) in actions" :key="'x'+x">
                                <div :class="chosenTab == data.action_name.split(' - ')[1] ? 'activeT':'inactiveT'"
                                v-show="data.action_name.includes('View Tab -')"
                                @click="choseTab(data.action_name.split(' - ')[1], data)"
                                >
                                    <button :class="'butn '+ (data.status == 'active' ? 'actv':'inactv')" @click="activate(data);">
                                        <fa :icon="['fa', 'check']" />
                                    </button>
                                    &emsp;{{ data.action_name.split(' - ')[1] }}
                                </div>
                            </b-row>
                        </b-col>
                    </b-row>
                </b-col>
                <b-col cols="9">
                    <b-row class="actionHeader">Actions:&emsp;{{ chosenTab }}</b-row>
                    <b-row class="col2 grouper3">
                        <b-col>
                            <div class="actions" 
                            v-for="(act, z) in actions" :key="'z'+z"
                            v-show="act.action_name.split(' - ')[0] == chosenTab"
                             @click="activate(act);"
                            >
                                <button :class="'butn '+ (act.status == 'active' ? 'actv':'inactv')">
                                    <fa :icon="['fa', 'check']" />
                                </button>
                                &emsp;{{ act.action_name.split(' - ')[1] }}
                            </div>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <div class="note">
                        <fa :icon="['fa', 'info-circle']" /> &ensp; Changes to actions and access rights will apply after relogin.
                    </div>
                </b-col>
            </b-row>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
export default {
    layout: "sideBar",
    components: {},
    data() {
        return {
            allActions: [],
            token: "",
            chosenTab: "Assessment",
            actionData: ""
        }
    },
    methods: {
        activate(data) {
            if(data.status == "active") {
                var state = "inactive";
            }
            else {
                var state = "active"
            }
            // alert(data.module_id+" - "+data.action_name+" - "+state);
            console.log(data.module_id+" - "+data.action_name+" - "+state);
            axios({
                method: "PUT",
                url: `${this.$axios.defaults.baseURL}/actions/admin/update/${data.id}`,
                headers: {
                    Authorization: `Bearer ${this.token}`
                },
                data: {
                    action_name: data.action_name,
                    module_id: data.module_id,
                    status: state
                }
            })
            .then(
                res => {
                    // this.allActions = res.data;
                    // console.log(this.allActions);
                    this.getActions(this.token);
                },
                error => {
                    console.log(error);
                }
            );
        },
        choseTab(name, data) {
            this.chosenTab = name;
            this.actionData = data;
        },
        getActions(token) {
            axios({
                method: "GET",
                url: `${this.$axios.defaults.baseURL}/actions/admin/view/`,
                headers: {
                    Authorization: `Bearer ${token}`
                }
            })
            .then(
                res => {
                    this.allActions = res.data;
                    // console.log(this.allActions);
                },
                error => {
                    console.log(error);
                }
            );
        }
    },
    created() {
        setTimeout(() => {
            // CHECK IF USER IS ALLOWED TO ACCESS THIS PAGE
            var admin_access = localStorage.role;
            if(admin_access.toLowerCase().includes('admin')) {
                console.log("Welcome, admin " + localStorage.fname);

                // SET DEFAULT OPEN TAB IN SIDEBAR
                if(localStorage.activeN) {
                    var open = [];
                    open.push({ id: 2, subID: 2.1, colID: "collapse-adminAccess", open: false});
                    this.$store.commit("openPage", open);
                }

                this.token = localStorage.token;
                this.getActions(this.token);

                // ADD TO doneLoader STATE
                this.$store.commit("doneLoad", 13);
            }
            else {
                this.$router.push({ path: "../../dashboard" });
            }
        }, 501);
    },
    computed: {
        actions() {
            return this.allActions;
        }
    }
    
}
</script>

<style>

</style>