<template>
  <div class="bg">
    <div class="customModalBG">
      <div class="container">
        <b-row>
          <b-col class="bord">
            <p class="m-title">Walk-in Applicant Registration</p>
          </b-col>
          <b-col class="bord t-right">
            <div class="closer" @click="close()">
              <fa :icon="['fa', 'times-circle']" />
            </div>
          </b-col>
        </b-row>
        <b-row class="scrollr">
          <b-col>
            <b-row>
              <b-col
                ><b class="modalText">Applicant Email: (required) </b></b-col
              >
              <b-col><b class="modalText">Department: (optional) </b></b-col>
              <b-col><b class="modalText">Position: (optional) </b></b-col>
            </b-row>
            <b-row>
              <b-col>
                <input
                  type="text"
                  class="modalEdit"
                  placeholder="ex. sample@email.com"
                  v-model="email"
                  @input="validateEmail()"
                />
              </b-col>
              <b-col>
                <Multiselect
                  class="selectInput"
                  v-model="dept"
                  deselect-label=""
                  select-label=""
                  track-by="name"
                  label="name"
                  placeholder="Select a Department"
                  :options="allDepartments"
                  :searchable="true"
                  :allow-empty="false"
                  @input="onSelectDep()"
                >
                </Multiselect>
              </b-col>
              <b-col>
                <Multiselect
                  class="selectInput"
                  v-model="positions"
                  deselect-label=""
                  select-label=""
                  track-by="name"
                  label="name"
                  placeholder="Select a Position"
                  :options="allPositions"
                  :searchable="true"
                  :allow-empty="false"
                >
                </Multiselect>
              </b-col>
            </b-row>

            <b-row>
              <b-col><b class="modalText">First Name: (required) </b></b-col>
              <b-col><b class="modalText">Middle Name: (optional) </b></b-col>
              <b-col><b class="modalText">Last Name: (required) </b></b-col>
            </b-row>
            <b-row>
              <b-col>
                <input
                  type="text"
                  class="modalEdit"
                  placeholder="Firstname"
                  v-model="fname"
                />
              </b-col>
              <b-col>
                <input
                  type="text"
                  class="modalEdit"
                  placeholder="Midname"
                  v-model="midname"
                />
              </b-col>
              <b-col>
                <input
                  type="text"
                  class="modalEdit"
                  placeholder="Lastname"
                  v-model="lname"
                />
              </b-col>
            </b-row>

            <b-row>
              <b-col><b class="modalText">Religion: (required) </b></b-col>
              <b-col><b class="modalText">Mobile No.: (required) </b></b-col>
              <b-col><b class="modalText">Upload Resume: (required) </b></b-col>
            </b-row>
            <b-row>
              <b-col>
                <input
                  type="text"
                  class="modalEdit"
                  placeholder="ex. Roman Catholic"
                  v-model="religion"
                />
              </b-col>
              <b-col>
                <input
                  type="number"
                  class="modalEdit"
                  placeholder="09xxxxxxxxx"
                  v-model="mobile"
                  @input="validateMobile()"
                />
              </b-col>
              <b-col>
                <b-form-file
                  :state="true"
                  v-model="resumeFile"
                  placeholder="Upload Resume"
                  class="uploadResume"
                />
              </b-col>
            </b-row>

            <b-row>
              <b-col cols="12"
                ><b class="modalText"
                  >Does your family own any livestocks? If yes, please specify
                  below otherwise type "No or None" (required)</b
                ></b-col
              >
            </b-row>
            <b-row>
              <b-col cols="12">
                <input
                  type="text"
                  class="modalEdit"
                  v-model="livestock"
                  placeholder="ex. Pigs, Chickens, Cows, Goats, etc..."
                />
              </b-col>
            </b-row>

            <b-row>
              <b-col cols="12"
                ><b class="modalText"
                  >Are you willing to travel? (required)</b
                ></b-col
              >
            </b-row>
            <b-row>
              <b-col cols="12">
                <b-form-radio
                  class="radioBtn"
                  size="m"
                  v-model="wtt"
                  name="some-radios"
                  value="yes"
                  >Yes</b-form-radio
                >
              </b-col>
              <b-col cols="12">
                <b-form-radio
                  class="radioBtn"
                  size="m"
                  v-model="wtt"
                  name="some-radios"
                  value="no"
                  >No</b-form-radio
                >
              </b-col>
            </b-row>
          </b-col>
        </b-row>

        <!-- FOOTER BUTTONS -->
        <b-row class="footrFunc">
          <b-col>
            <div class="grouper22">
              <b-row>
                <b-col cols="6" class="t-left">
                  <div v-if="alertMessage != ''">
                    <div
                      class="note text-alert"
                      v-if="alertMessage == 'Saving data...'"
                    >
                      <b-spinner
                        small
                        variant="warning"
                        type="grow"
                      ></b-spinner>
                      &ensp; {{ alertMessage }}
                    </div>
                    <div
                      class="note text-pos2"
                      v-else-if="alertMessage == 'Done!'"
                    >
                      <fa :icon="['fa', 'exclamation-triangle']" /> &nbsp;
                      {{ alertMessage }}
                    </div>
                    <div class="note text-sub2" v-else-if="alertMessage === ''">
                      <fa :icon="['fa', 'info-circle']" /> &nbsp; Please fil-in
                      all the fields
                    </div>
                    <div class="note text-reject" v-else>
                      <fa :icon="['fa', 'exclamation-triangle']" /> &nbsp;
                      {{ alertMessage }}
                    </div>
                  </div>
                </b-col>
                <b-col cols="6" class="t-right">
                  <!-- CLEAR -->
                  <button @click="clearFields()" class="btn-keep">
                    <fa :icon="['fa', 'eraser']" /> &nbsp; Clear
                  </button>
                  &emsp;
                  <!-- REGISTER -->
                  <button @click="register()" class="btn-positive2">
                    <fa :icon="['fa', 'clipboard-check']" /> &nbsp; Register
                  </button>
                </b-col>
              </b-row>
            </div>
          </b-col>
        </b-row>
      </div>
    </div>

    <!-- ALERT MESSAGE -->
    <b-alert
      :show="alert.showAlert"
      :variant="alert.variant"
      @dismissed="alert.showAlert = null"
    >
      <fa
        :icon="
          alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
        "
        class="mr-1"
        style="font-size:20px"
      />
      {{ alert.message }}
    </b-alert>
  </div>
</template>

<script>
import moment from "moment";
import axios from "axios";
import io from "socket.io-client";
import Multiselect from "vue-multiselect";

export default {
  components: {
    Multiselect
  },
  data() {
    return {
      url: this.$axios.defaults.baseURL + "/",
      dept: null,
      positions: null,
      resumeFile: null,
      wtt: "",
      alertMessage: "",
      resumeChosen: false,
      no_position: false,
      resume_path: "",
      email: "",
      fname: "",
      midname: "",
      lname: "",
      religion: "",
      mobile: "",
      livestock: "",
      newAppl: [],
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      }
    };
  },
  created() {
    // RELOAD ALL DEPARTMENTS
    this.$store.dispatch("viewAllDepartments", { token: localStorage.token });
  },
  methods: {
    reloadQuickApplicantTable() {
      this.$root.$refs.quickApplicantsComponent.getQuickApplicants(
        localStorage.token
      );
    },
    reloadReceivedTable() {
      this.$root.$refs.receivedComponent.getReceived();
    },
    validateEmail() {
      console.log();
      if (this.email.includes("@")) {
        console.log("Acceptable Email");
        // if(this.email.includes("gmail.com") || this.email.includes("yahoo.com")) {
        //     if(this.email.split('@')[0] == "") {
        //         this.alertMessage = "Invalid Email";
        //     }
        //     else {
        //         this.alertMessage = "";
        //     }
        // }
        // else {
        //     this.alertMessage = "Unrecognized email: Please provide another one from Google or Yahoo";
        // }
        if (this.email.split("@")[0] == "") {
          this.alertMessage = "Invalid Email";
        } else {
          this.alertMessage = "";
        }
      } else if (this.email == "") {
        this.alertMessage = "";
      } else {
        this.alertMessage = "Invalid Email";
      }
    },
    validateMobile() {
      if (this.mobile.length !== 11) {
        this.alertMessage = "Invalid Mobile Number";
      } else {
        this.alertMessage = "";
      }
    },
    clearFields() {
      this.email = "";
      this.fname = "";
      this.midname = "";
      this.lname = "";
      this.religion = "";
      this.mobile = "";
      this.livestock = "";
      this.wtt = "";
      this.dept = null;
      this.positions = null;
      this.resumeFile = null;
      this.alertMessage = "";
    },
    addApplicant() {
      // console.log(this.alertMessage);
      console.log(this.dept);
      console.log(this.positions);
      console.log(this.wtt);
      if (this.email.includes("@")) {
        if (this.resume_path === "") {
          this.alertMessage = "Missing: Resume URL";
        } else {
          if (this.dept != null || this.positions != null) {
            this.no_position = false;
          } else {
            this.no_position = true;
          }

          // FINAL ADD APPLICANT
          console.log(this.no_position);
          axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/add`,
            headers: {
              "Access-Control-Allow-Origin": "*",
              Authorization: `Bearer ${localStorage.token}`
            },
            data: {
              email: this.email,
              firstname: this.fname,
              middlename: this.midname,
              lastname: this.lname,
              mobile: this.mobile,
              livestock: this.livestock,
              resume_url: this.resume_path,
              position_id: this.no_position == false ? this.positions.id : "",
              travel: this.wtt,
              religion: this.religion,
              isQuickApplicant: this.no_position
            }
          }).then(
            result => {
              console.log("==============================");
              console.log("Sample");
              console.log("==============================");
              console.log(result.data);
              console.log("==============================");

              if (result.data.posted.msg == "User already exist!") {
                this.showAlert(result.data.posted.msg, "danger");
                this.alertMessage = result.data.posted.msg;
              } else {
                if (this.no_position == false) {
                  let applicantID = result.data.posted.data.applicantID;
                  this.emailReceived(applicantID);
                }
                this.alertMessage = "Done!";
                this.clearFields();
                this.showAlert(
                  "Walk-in applicant registraion: Success",
                  "success"
                );

                // NOTIFY OTHER USERS
                const socket = io.connect(localStorage.serverLink, {
                  secure: true
                });
                let user = localStorage.fname + " " + localStorage.lname;
                let applicantName =
                  this.fname + " " + this.midname + " " + this.lname;
                socket.emit("notificationAlerts", [
                  {
                    date: moment(new Date()).format("YYYY-MM-DD"),
                    stage: this.no_position == true ? "Quick Applicant" : "Received",
                    actionID: 198,
                    actionName: "Registration",
                    action: "Walk-in Registration",
                    desc: user + "  registered a walk-in applicant:  " + applicantName,
                    user: {
                      id: localStorage.id,
                      role: localStorage.role,
                      teamID: localStorage.teamId,
                      deptID: localStorage.deptId,
                      name: localStorage.fname + " " + localStorage.lname
                    },
                    applicant: {
                      id: result.data.posted.data.applicantID,
                      name: this.fname + " " + this.midname + ". " + this.lname,
                      position: result.data.posted.data.position,
                      dpetID: result.data.posted.data.departmentID
                    }
                  }
                ]);
              }
              this.reloadReceivedTable();
              this.reloadQuickApplicantTable();
            },
            error => {
              console.log(error);
              this.alertMessage = "Error";
              this.showAlert(
                "Walk-in applicant registraion: Failed - " + error,
                "danger"
              );
            }
          );
        }
      } else {
        this.showAlert("Invalid Email", "danger");
      }
    },
    emailReceived(applicantID) {
      axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/email/applicant/${applicantID}/received`,
        headers: { Authorization: `Bearer ${localStorage.token}` }
      }).then(result => {});
    },
    register() {
      console.log("==========================================");
      console.log(this.resume_path);
      console.log("==========================================");
      // CHECK IF ALL FIELDS ARE NOT EMPTY
      if (this.email == "") {
        this.alertMessage = "Missing: Applicant's email";
      } else if (this.fname == "") {
        this.alertMessage = "Missing: Applicant's first name";
      } else if (this.lname == "") {
        this.alertMessage = "Missing: Applicant's last name";
      } else if (this.religion == "") {
        this.alertMessage = "Missing: Applicant's religion";
      } else if (this.mobile == "") {
        this.alertMessage = "Missing: Applicant's mobile number";
      } else if (this.livestock == "") {
        this.alertMessage =
          "Please provide an answer on the 'Livestocks' field";
      } else if (this.wtt == "") {
        this.alertMessage = "Please specify if applicant is willing to travel";
      } else {
        this.alertMessage = "Saving data...";
        this.uploadResumeFile();
      }
    },
    close() {
      this.$store.commit("closeAddApplicant", true);
      // if (this.alertMessage == "Saving data...") {
      // }
    },
    onSelectDep() {
      this.positions = null;
      var temp = [];
      temp.push({
        id: this.dept.id,
        token: localStorage.token
      });
      // VIEW POSITIONS BY DEPARTMENT
      this.$store.dispatch("viewPositionsByDept", { data: temp });
    },
    uploadResumeFile() {
      console.log(this.resumeFile);
      if (!this.resumeFile) {
        this.resumeChosen = false;
        this.resumeFile = null;
        this.alertMessage = "Please upload applicant's resume";
      } else if (
        this.resumeFile.type == "image/png" ||
        this.resumeFile.type == "image/jpeg" ||
        this.resumeFile.type == "application/pdf" ||
        this.resumeFile.type == "application/msword"
      ) {
        try {
          if (this.resumeFile) {
            console.log("Initializing upload");
            // upload first
            const fd = new FormData();
            fd.append("image", this.resumeFile, this.resumeFile.name);
            axios
              .post(`${this.$axios.defaults.baseURL}/users/upload`, fd, {
                headers: { Authorization: `Bearer ${localStorage.token}` }
              })
              .then(
                result => {
                  console.log("image path", result);
                  this.resume_path = result.data.imagePath;
                  console.log("==========================================");
                  console.log("Uploaded Succesfully");
                  console.log("==========================================");
                  console.log(result.data);
                  console.log("==========================================");
                  console.log("Registering applicant...");
                  console.log("==========================================");
                  this.addApplicant();
                  console.log("==========================================");
                },
                error => {
                  this.resume_path = "";
                  console.log("==========================================");
                  console.log("Upload Failed");
                  console.log("==========================================");
                  console.log(error);
                  console.log("==========================================");
                }
              );
            // this.register(this.token);
            console.log("Done Upload");
          } else {
            console.log("No resume");
            // this.register(this.token);
          }
        } catch (e) {
          console.log(e);
          this.alertMessage = JSON.stringify("Error: ", e);
          this.resumeChosen = false;
          this.resumeFile = null;
        }
      } else {
        this.alertMessage = "Invalid file format";
        this.resumeChosen = false;
        this.resumeFile = null;
      }
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    }
  },
  computed: {
    allDepartments() {
      return this.$store.getters.viewAllDept;
    },
    allPositions() {
      if (this.$store.getters.viewPositionsByDept.length > 0) {
        return this.$store.getters.viewPositionsByDept;
      } else if (this.dept != null) {
        return [
          {
            id: "none",
            name: "No positions available",
            $isDisabled: true
          }
        ];
      } else {
        return [
          {
            id: "none",
            name: "Please select a department first",
            $isDisabled: true
          }
        ];
      }
    }
  }
};
</script>

<style lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;

.uploadResume .custom-file-label {
  width: 100%;
  height: 30px;
}
.uploadResume .custom-file-label .form-file-text,
.uploadResume .custom-file-label::after {
  font-size: 11px !important;
}
.uploadResume .custom-file-label::after {
  background: #f5f5f5;
}
.uploadResume .custom-control {
  &:focus {
    box-shadow: 0 0 0 3px #00a6501f !important;
    border: 1px solid #00a651;
  }
}
.uploadResume .was-validated .custom-file-input:valid ~ .custom-file-label,
.custom-file-input.is-valid ~ .custom-file-label {
  border: 1px solid #6d757123;
}

.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
