<template>
  <div class="bg">
    <div id="loader" class="loader1">
      <div class="loading">
        •
      </div>
    </div>
    <div id="loader" class="loader2">
      <div class="load">
        •
      </div>
    </div>
    <!-- <div id="loader" class="loader2">
            <div class="lab">Loading, please wait...</div>
        </div>   -->
    <div id="loader" class="loader3">
      <div class="logo"></div>
    </div>
    <div id="loader" class="loader4">
      <div class="logoBG"></div>
    </div>
  </div>
</template>

<script>
export default {
};
</script>

<style scoped lang="scss">
.loader1,
.loader2,
.loader3,
.loader4 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}
.loader1 {
  z-index: 10002;
}
.loader2 {
  z-index: 10003;
}
.loader3 {
  z-index: 10004;
}
.loader4 {
  z-index: 10003;
}
.bg {
  z-index: 10001;
  position: fixed;
  left: 0;
  top: 0;
  background: #00000080;
  width: 100%;
  height: 100vh;
  animation: fadeIn 0.4s;
}
.loading {
  border: 4px solid #ffffff00;
  border-radius: 50%;
  // border-top: 2px solid #a6ce39;
  color: #a6ce39;
  width: 140px;
  height: 140px;
  animation: spin 2s linear infinite;
  font-size: 55px;
}
.load {
  font-size: 55px;
  border: 4px solid #ffffff00;
  border-radius: 50%;
  // border-top: 2px solid #00a651;
  color: #00a651;
  width: 160px;
  height: 160px;
  animation: spin 3s linear infinite;
}
.logo {
  background-image: url("/logos/bfiLeafCenterW.png");
  background-size: cover;
  width: 100px;
  height: 100px;
}
.logoBG {
  width: 100px;
  height: 100px;
  background: linear-gradient(45deg, #005e2d, #00a651, #a6ce39, #f7ffe0);
  background-size: 300% 300%;
  border-radius: 100px;
  animation: gradient 4s ease infinite;
}
.lab {
  margin-top: 200px;
  // font-weight: bold;
  color: white;
  // color: gray;
  // background: white;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 13px;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>
