<template>
  <div class="bg">
    <div class="customModalBG">
      <div class="container">

        <!-- HEADER -->
        <b-row>
          <b-col class="bord">
            <!-- <p class="m-title">User Usage Data: {{ userDataStatus.split(':')[0] }}</p> -->
            <p class="m-title">User Usage Data</p>
          </b-col>
          <b-col class="bord t-right">
            <div class="closer" @click="close()">
              <fa :icon="['fa', 'times-circle']" />
            </div>
          </b-col>
        </b-row>

        <!-- CONTENT -->
        <b-row>
          <div class="usageCont">
            <div class="usageCont1" v-show="userDataStatus.split(':')[1] != '2'">
              <div class="grouper2">
                <b-row> 
                  <b-col class="bord">
                    <span class="applname userName_usage">{{ userData.user }}</span>
                  </b-col>
                </b-row>
                <b-row> <b-col class="bord"><b>User Role :</b>&nbsp;{{ userData.role }}</b-col> </b-row>
              </div>
              <div class="grouper2">
                <!-- <b-row> <b-col class="bord"><span class="applname">Month of {{ userData.monYear }}</span></b-col></b-row> -->
                <b-row> 
                  <b-col :class="'bord bord1 ' + (walkins == 0 ? 'fadeColor':'')"><b>Registered Walk-ins </b></b-col>
                  <b-col :class="'bord ' + (walkins == 0 ? 'fadeColor':'')"><b>: {{ walkins }}</b></b-col>
                </b-row>
                <b-row> 
                  <b-col :class="'bord bord1 ' + (permitted == 0 ? 'fadeColor':'')"><b>Permitted to TAKE exams </b></b-col>
                  <b-col :class="'bord ' + (permitted == 0 ? 'fadeColor':'')"><b>: {{ permitted }}</b></b-col>
                </b-row>
                <b-row> 
                  <b-col :class="'bord bord1 ' + (retake == 0 ? 'fadeColor':'')"><b>Permitted to RETAKE exams </b></b-col>
                  <b-col :class="'bord ' + (retake == 0 ? 'fadeColor':'')"><b>: {{ retake }}</b></b-col>
                </b-row>
                <b-row> 
                  <b-col :class="'bord bord1 ' + (endorseToDep == 0 ? 'fadeColor':'')"><b>Endorsed to other Dept. </b></b-col>
                  <b-col :class="'bord ' + (endorseToDep == 0 ? 'fadeColor':'')"><b>: {{ endorseToDep }}</b></b-col>
                </b-row>
                <b-row> 
                  <b-col :class="'bord bord1 ' + (endorsedForAssessment == 0 ? 'fadeColor':'')"><b>Endorsed for Assessment </b></b-col>
                  <b-col :class="'bord ' + (endorsedForAssessment == 0 ? 'fadeColor':'')"><b>: {{ endorsedForAssessment }}</b></b-col>
                </b-row>
                <b-row> 
                  <b-col :class="'bord bord1 ' + (createSchedule == 0 ? 'fadeColor':'')"><b>Scheduled for Assessment</b></b-col>
                  <b-col :class="'bord ' + (createSchedule == 0 ? 'fadeColor':'')"><b>: {{ createSchedule }}</b></b-col>
                </b-row>
                <b-row> 
                  <b-col :class="'bord bord1 ' + (ratedIAF == 0 ? 'fadeColor':'')"><b>Rated IAFs </b></b-col>
                  <b-col :class="'bord ' + (ratedIAF == 0 ? 'fadeColor':'')"><b>: {{ ratedIAF }}</b></b-col>
                </b-row>
                <b-row>
                  <b-col :class="'bord bord1 ' + (shortlisted == 0 ? 'fadeColor':'')"><b>Shortlisted </b></b-col>
                  <b-col :class="'bord ' + (shortlisted == 0 ? 'fadeColor':'')"><b>: {{ shortlisted }}</b></b-col>
                </b-row>
                <b-row> 
                  <b-col :class="'bord bord1 ' + (jobOffer == 0 ? 'fadeColor':'')"><b>Job Offers </b></b-col>
                  <b-col :class="'bord ' + (jobOffer == 0 ? 'fadeColor':'')"><b>: {{ jobOffer }}</b></b-col>
                </b-row>
                <b-row>
                  <b-col :class="'bord bord1 ' + (deployed == 0 ? 'fadeColor':'')"><b>Deployed </b></b-col>
                  <b-col :class="'bord ' + (deployed == 0 ? 'fadeColor':'')"><b>: {{ deployed }}</b></b-col>
                </b-row>
                <b-row> 
                  <b-col :class="'bord bord1 ' + (changeDeployedDate == 0 ? 'fadeColor':'')"><b>Changed Deployment Date </b></b-col>
                  <b-col :class="'bord ' + (changeDeployedDate == 0 ? 'fadeColor':'')"><b>: {{ changeDeployedDate }}</b></b-col>
                </b-row>
                <b-row> 
                  <b-col :class="'bord bord1 ' + (addReferral == 0 ? 'fadeColor':'')"><b>Added Referrals </b></b-col>
                  <b-col :class="'bord ' + (addReferral == 0 ? 'fadeColor':'')"><b>: {{ addReferral }}</b></b-col>
                </b-row>
                <b-row>
                  <b-col :class="'bord bord1 ' + (kept == 0 ? 'fadeColor':'')"><b>Kept for reference </b></b-col>
                  <b-col :class="'bord ' + (kept == 0 ? 'fadeColor':'')"><b>: {{ kept }}</b></b-col>
                </b-row>
                <b-row>
                  <b-col :class="'bord bord1 ' + (returned == 0 ? 'fadeColor':'')"><b>Returned Applicants </b></b-col>
                  <b-col :class="'bord ' + (returned == 0 ? 'fadeColor':'')"><b>: {{ returned }}</b></b-col>
                </b-row>
                <b-row>
                  <b-col :class="'bord bord1 ' + (blacklisted == 0 ? 'fadeColor':'')"><b>Blacklisted </b></b-col>
                  <b-col :class="'bord ' + (blacklisted == 0 ? 'fadeColor':'')"><b>: {{ blacklisted }}</b></b-col>
                </b-row>
                <b-row> 
                  <b-col :class="'bord bord1 ' + (rejected == 0 ? 'fadeColor':'')"><b>Rejected </b></b-col>
                  <b-col :class="'bord ' + (rejected == 0 ? 'fadeColor':'')"><b>: {{ rejected }}</b></b-col>
                </b-row>
                <b-row> 
                  <b-col :class="'bord bord1 ' + (assisted == 0 ? 'fadeColor':'')"><b>No. of Assisted Applications </b></b-col>
                  <b-col :class="'bord ' + (assisted == 0 ? 'fadeColor':'')"><b>: {{ assisted }}</b></b-col>
                </b-row>
                <b-row> 
                  <b-col :class="'bord bord1 ' + (totalActions == 0 ? 'fadeColor':'')"><b>No. of Actions </b></b-col>
                  <b-col :class="'bord ' + (totalActions == 0 ? 'fadeColor':'')"><b>: {{ totalActions }}</b></b-col>
                </b-row>
                <b-row> 
                  <b-col :class="'bord bord1 ' + (logins == 0 ? 'fadeColor':'')"><b>No. of Log ins </b></b-col>
                  <b-col :class="'bord ' + (logins == 0 ? 'fadeColor':'')"><b>: {{ logins }}</b></b-col>
                </b-row>
              </div>
            </div>
            
            <div class="usageCont2" v-show="userDataStatus.split(':')[1] != '2'">
              <div class="dataRow">
                <div class="dataColH colW3">List of activities during {{ userData.monYear }}</div>
                <div class="dataColH colW1">Date</div>
                <div class="dataColH colW2">Action</div>
              </div>
              <div class="usageContScroll">
                <div class="dataRow" v-for="(data, u) in reportData" :key="u">
                  <div class="dataCol colW3">{{ data.comment }}</div>
                  <div class="dataCol colW1">{{ formatDate(data.date) }}</div>
                  <div class="dataCol colW2">{{ (data.actionID != 198 ? data.action.split(" - ")[1] : data.action) }}</div>
                </div>

                <div class="userUsageStatus" v-show="userDataStatus.split(':')[1] == '-1'">
                  No records of activity during {{ userData.monYear }}
                </div>
              </div>
            </div>

            <div class="usageLoader">
              <b-spinner large variant="success" type="grow"  v-show="userDataStatus.split(':')[1] == '2'"></b-spinner>
              <div v-show="userDataStatus.split(':')[1] == '0'">Unknown Error: Please contact ITG for assistance, thank you.</div>
              <div v-show="userDataStatus.split(':')[0] == 'Error'">{{ 'Error: '+ userDataStatus.split(':')[1] +' - Please Please contact ITG for assistance, thank you.'}}</div>
            </div>
          </div>
        </b-row>

        <b-row> 
          <b-col>
            <div class="usageFooter">
              <div class="usageFoot1">

                <button class="u_year">
                  <fa :icon="['fa', 'angle-double-left']" @click="selectYear('prev')"/>
                </button>

                <button class="u_year">
                  <fa :icon="['fa', 'chevron-left']" @click="selectMonth('prev')"/>
                </button>

                <div class="u_join">
                  <div class="u_monthHolder" @click="chooseMonths()">{{ selectedMonth }}</div>
                  <div class="u_dayHolder" @click="chooseDays()">{{ selectedDay }}</div>
                  <input class="u_yearHolder" type="text" v-model="selectedYear" @keyup.enter="enterYear()"/>

                  <div class="u_months_cont" v-show="show_months">
                    <div class="u_months_list" v-for="(mon, g) in monthsAll" :key="'m'+g" @click="chooseMon(mon.month, mon.id)">
                      {{ mon.month }}
                    </div>
                  </div>
                  <div class="u_days_cont" v-show="show_days">
                    <div class="u_days_list" v-for="(day, c) in days" :key="'d'+c" @click="chooseDay(day.d)">
                      {{ day.d }}
                    </div>
                  </div>
                </div>
                
                <button class="u_year">
                  <fa :icon="['fa', 'chevron-right']" @click="selectMonth('next')"/>
                </button>

                <button class="u_year">
                  <fa :icon="['fa', 'angle-double-right']" @click="selectYear('next')"/>
                </button>

              </div>
              <div class="usageFoot2">
                <!-- DAILY -->
                <button class="btn-keep" v-b-tooltip.hover title="Walk-in Applicant Form" @click="daily(userData)">
                  <fa :icon="['fa', 'print']" /> &nbsp; Daily
                </button>

                <!-- WEEKLY -->
                <button class="btn-keep" v-b-tooltip.hover title="Walk-in Applicant Form" @click="weekly(userData)">
                  <fa :icon="['fa', 'print']" /> &nbsp; Weekly
                </button>

                <!-- MONTHLY -->
                <button class="btn-keep" v-b-tooltip.hover title="Walk-in Applicant Form" @click="monthly(userData)">
                  <fa :icon="['fa', 'print']" /> &nbsp; Monthly
                </button>

                <!-- ANNUAL -->
                <button class="btn-positive2" v-b-tooltip.hover title="Walk-in Applicant Form" @click="annual(userData)">
                  <fa :icon="['fa', 'print']" /> &nbsp; Annual
                </button>
              </div>
            </div>
          </b-col>
        </b-row>

      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  data() {
    return {
      token: "",
      selectedMonth: moment().format("MMMM"),
      selectedYear: moment().format("YYYY"),
      selectedDay: moment().format("D"),
      finalDate: "",
      count: moment().format("M"),
      loader: false,
      show_months: false,
      show_days: false,
      sun: "",
      sat: "",
      monthsAll: [
        {
          id: 0,
          month: "January" 
        },
        {
          id: 1,
          month: "February" 
        },
        {
          id: 2,
          month: "March" 
        },
        {
          id: 3,
          month: "April" 
        },
        {
          id: 4,
          month: "May" 
        },
        {
          id: 5,
          month: "June" 
        },
        {
          id: 6,
          month: "July" 
        },
        {
          id: 7,
          month: "August" 
        },
        {
          id: 8,
          month: "September" 
        },
        {
          id: 9,
          month: "October" 
        },
        {
          id: 10,
          month: "November" 
        },
        {
          id: 11,
          month: "December" 
        },
      ],
      weeks: [
        { d: 0, n: "Sun" },
        { d: 1, n: "Mon"},
        { d: 2, n: "Tue"},
        { d: 3, n: "Wed"},
        { d: 4, n: "Thu"},
        { d: 5, n: "Fri"},
        { d: 6, n: "Sat"},
      ],
    };
  },
  methods: {
    getFinalDates() {
      this.finalDate = moment(this.selectedMonth+', '+this.selectedDay+' '+this.selectedYear).format('YYYY-MM-DD');
      // console.log(this.finalDate);
    },
    daily(userData) {
      console.log("=============================================");
      console.log("Today's Report");
      console.log("=============================================");
      console.log(this.finalDate + " - " + moment(this.finalDate).format('MMMM, D YYYY'));
      console.log("=============================================");
      var userID = userData.id;
      var repID = String(new Date().valueOf()) +'_'+ localStorage.id;
      // OPEN REPORT
      window.open(`/userUsageReport?token=${localStorage.token}&userID=${userID}&from=${this.finalDate}&to=${this.finalDate}&type=1&rp=${repID}`);
    },
    weekly(userData) {
      var baseDate = this.finalDate;

      // var baseDate = "March 11, 2022";
      // var baseDate = "December 30, 2021";
      // var baseDate = "January 1, 2021";
      // var baseDate = "March 31, 2022";
      // var baseDate = "Feb 27, 2022";
      // var baseDate = "Mar 1, 2022";

      var nth = moment(baseDate).weekday();

      var getSat = 6 - nth;
      var getSun = 6 - getSat;

      console.log("=====================================");
      console.log(getSun);
      console.log(getSat);

      var sun = moment(baseDate).subtract(getSun, "days").format('MMMM, DD YYYY');
      var sat = moment(baseDate).add(getSat, "days").format('MMMM, DD YYYY');
      console.log(sun);
      console.log(sat);

      var userID = userData.id;
      var repID = String(new Date().valueOf()) +'_'+ localStorage.id;
      // OPEN REPORT
      window.open(`/userUsageReport?token=${localStorage.token}&userID=${userID}&from=${sun}&to=${sat}&type=2&rp=${repID}`);
    },
    monthly(userData) {
      var thisMon = moment(this.finalDate).format('MM');
      var thisYear = moment(this.finalDate).format('YYYY');
      var FDay = String(thisYear +"-"+thisMon+"-01");
      var LDay = String(thisYear +"-"+thisMon+"-"+ moment(this.finalDate).endOf('month').format('D'));
      console.log("=============================================");
      console.log("This Month's Report");
      console.log("=============================================");
      console.log(FDay + " - " + moment(FDay).format('MMMM, DD YYYY'));
      console.log(LDay + " - " + moment(LDay).format('MMMM, DD YYYY'));
      console.log("=============================================");
      var userID = userData.id;
      var repID = String(new Date().valueOf()) +'_'+ localStorage.id;
      // OPEN REPORT
      window.open(`/userUsageReport?token=${localStorage.token}&userID=${userID}&from=${FDay}&to=${LDay}&type=3&rp=${repID}`);
    },
    annual(userData) {
      var thisYer = moment(this.finalDate).format('YYYY');
      var yearB = String(thisYer+'-01-01');
      var yearE = String(thisYer+'-12-31');
      console.log("=============================================");
      console.log("This Year's Report");
      console.log("=============================================");
      console.log(yearB +" - "+ moment(yearB).format("MMMM, DD YYYY"));
      console.log(yearE +" - "+ moment(yearE).format("MMMM, DD YYYY"));
      console.log("=============================================");
      var userID = userData.id;
      var repID = String(new Date().valueOf()) +'_'+ localStorage.id;
      // OPEN REPORT
      window.open(`/userUsageReport?token=${localStorage.token}&userID=${userID}&from=${yearB}&to=${yearE}&type=4&rp=${repID}`);
    },
    viewUserUsage() {
      // console.log("================================");
      // console.log(this.userData.id);
      // console.log(this.userData.user);
      // console.log(this.selectedMonth+" "+this.selectedYear);
      // console.log("================================");

      // SET FINAL DATE
      this.getFinalDates();

      this.loader = true;
      var userInfo = {
        userTeam: this.userData.team,
        userDepartment: this.userData.dep,
        userRole: this.userData.role,
      };
      this.$store.dispatch("viewUserUsage", {
        userID: this.userData.id,
        token: localStorage.token,
        dateTo: moment(this.selectedMonth+" "+this.selectedYear).format("MMM DD, YYYY"),
        user: this.userData.user,
        data: userInfo
      });
    },
    selectMonth(m) {
      // PREV or NEXT MONTH
      if(this.selectedMonth != "" || this.selectedMonth != undefined) {
        if(m == "next") {
          if(parseInt(this.count) == 11) {
            this.count = 0;
            this.selectedYear = parseInt(this.selectedYear) + 1;
          }
          else {
            this.count = parseInt(this.count) + 1;
          }
        }
        else if(m == "prev") {
          if(parseInt(this.count) == 0) {
            // console.log("this.count is 0");
            this.count = 11;
            this.selectedYear = parseInt(this.selectedYear) - 1;
          }
          else {
            // console.log("this.count is NOT 0");
            this.count = parseInt(this.count) - 1;
          }
        }
        console.log(this.count);
        // console.log(this.monthsAll);
        this.selectedMonth = this.monthsAll[this.count].month;

        // LOAD DATA
        this.viewUserUsage();
      }
    },
    enterYear() {
      // console.log(this.selectedYear.length);
      if(this.selectedYear.length < 4 ) {
        this.selectedYear = moment().format("YYYY");;
      }
      // LOAD DATA
      this.viewUserUsage();
    },
    selectYear(y) {
      this.enterYear();
      // PREV or NEXT Year
      if(this.selectedYear != "" || this.selectedYear != undefined) {
        if(y == "next") {
          this.selectedYear = parseInt(this.selectedYear) + 1;
        }
        else if(y == "prev") {
          this.selectedYear = parseInt(this.selectedYear) - 1;
        }
      }
      // LOAD DATA
      this.viewUserUsage();
    },
    chooseMonths() {
      // SHOW MONTH ARRAY
      this.show_months = !this.show_months;
      this.show_days = false;
    },
    chooseDays() {
      this.show_days = !this.show_days;
      this.show_months = false;
    },
    chooseDay(day) {
      this.show_days = !this.show_days;
      this.selectedDay = day;
    },
    chooseMon(mon, num) {
      this.selectedMonth = mon;
      this.show_months = !this.show_months;

      // LOAD DATA
      this.viewUserUsage();
    },
    close() {
      this.selectedMonth = moment().format("MMMM");
      this.selectedYear = moment().format("YYYY");
      this.$store.commit("closeUserUsageData", true);
    },
    mon(date) {
      if (date != "") {
        return moment(date).format("MMMM");
      } else {
        return "N/A";
      }
    },
    formatDate(data) {
      if (data != "") {
        return moment(data).format("MMM DD, YYYY");
      } else {
        return "N/A";
      }
    }
  },
  computed: {
    days() {
      var dates = [];
      var lastDay = moment(this.selectedMonth+", "+this.selectedYear).endOf("month").format("D");
      for(var x=1; x <= lastDay; x++) {
        dates.push( { d: x } );
      }
      return dates;
    },
    logins() {
      var data = this.$store.state.filteredUserLogs;
      // console.log(data);
      return data.length;
    },
    userDataStatus() {
      var status = this.$store.state.userDataStatus;
      if(status != "") {
        return status;
      }
      else {
        return "Error while setting status: 0"
      }
    },
    reportData() {
      return this.$store.state.userUsageData;
    },
    userData() {
      // SET FINAL DATE
      this.getFinalDates();

      var data = this.$store.state.userData;
      if(data != null || data != undefined || data != "") {
        // this.selectedMonth = data.month;
        // this.selectedYear = data.year;
        // this.count = parseInt(data.mon);
        return data;
      }
      else {
        return [];
      }
    },
    totalActions() {
      const list = this.$store.state.userUsageData;
      if(list.length < 1) {
        return 0;
      }
      else {
        const actions = new Set();

        for(var c=0; c < list.length; c++) {
          actions.add(list[c].action);
        }
        var temp = Array.from(actions);
        // console.log(temp);
        return temp.length;
      }
    },
    assisted() {
      const list = this.$store.state.userUsageData;
      if(list.length < 1) {
        return 0;
      }
      else {
        const applicants = new Set();

        for(var c=0; c < list.length; c++) {
          applicants.add(list[c].applicantID);
        }
        var temp = Array.from(applicants);
        // console.log(temp);
        return temp.length;
      }
    },
    permitted() {
      var data = this.$store.state.userUsageData;
      var cnt = 0;
      if(data != null || data != undefined || data != []) {
        for(var d=0; d < data.length; d++) {
          if(data[d].action.split(" - ")[1] == "Online Exam" && data[d].actionID != 198) {
            cnt = cnt + 1;
          }
        }
        return cnt;
      }
      else {
        return 0;
      }
    },
    retake() {
      var data = this.$store.state.userUsageData;
      var cnt = 0;
      if(data != null || data != undefined || data != []) {
        for(var d=0; d < data.length; d++) {
          if(data[d].action.split(" - ")[1] == "Retake" && data[d].actionID != 198) {
            cnt = cnt + 1;
          }
        }
        return cnt;
      }
      else {
        return 0;
      }
    },
    endorseToDep() {
      var data = this.$store.state.userUsageData;
      var cnt = 0;
      if(data != null || data != undefined || data != []) {
        for(var d=0; d < data.length; d++) {
          if(data[d].action.split(" - ")[1] == "Endorse to other Department" && data[d].actionID != 198) {
            cnt = cnt + 1;
          }
        }
        return cnt;
      }
      else {
        return 0;
      }
    },
    endorsedForAssessment() {
      var data = this.$store.state.userUsageData;
      var cnt = 0;
      if(data != null || data != undefined || data != []) {
        for(var d=0; d < data.length; d++) {
          if(data[d].action.split(" - ")[1] == "Endorse For Assessment" && data[d].actionID != 198) {
            cnt = cnt + 1;
          }
        }
        return cnt;
      }
      else {
        return 0;
      }
    },
    shortlisted() {
      var data = this.$store.state.userUsageData;
      var cnt = 0;
      if(data != null || data != undefined || data != []) {
        for(var d=0; d < data.length; d++) {
          if(data[d].action.split(" - ")[1] == "Shortlist" && data[d].actionID != 198) {
            cnt = cnt + 1;
          }
        }
        return cnt;
      }
      else {
        return 0;
      }
    },
    jobOffer() {
      var data = this.$store.state.userUsageData;
      var cnt = 0;
      if(data != null || data != undefined || data != []) {
        for(var d=0; d < data.length; d++) {
          if(data[d].action.split(" - ")[1] == "Job Offer" && data[d].actionID != 198) {
            cnt = cnt + 1;
          }
        }
        return cnt;
      }
      else {
        return 0;
      }
    },
    deployed() {
      var data = this.$store.state.userUsageData;
      var cnt = 0;
      if(data != null || data != undefined || data != []) {
        for(var d=0; d < data.length; d++) {
          if(data[d].action.split(" - ")[1] == "Deploy" && data[d].actionID != 198) {
            cnt = cnt + 1;
          }
        }
        return cnt;
      }
      else {
        return 0;
      }
    },
    kept() {
      var data = this.$store.state.userUsageData;
      var cnt = 0;
      if(data != null || data != undefined || data != []) {
        for(var d=0; d < data.length; d++) {
          if(data[d].action.split(" - ")[1] == "Keep for Reference" && data[d].actionID != 198) {
            cnt = cnt + 1;
          }
        }
        return cnt;
      }
      else {
        return 0;
      }
    },
    blacklisted() {
      var data = this.$store.state.userUsageData;
      var cnt = 0;
      if(data != null || data != undefined || data != []) {
        for(var d=0; d < data.length; d++) {
          if(data[d].action.split(" - ")[1] == "Blacklist" && data[d].actionID != 198) {
            cnt = cnt + 1;
          }
        }
        return cnt;
      }
      else {
        return 0;
      }
    },
    rejected() {
      var data = this.$store.state.userUsageData;
      var cnt = 0;
      if(data != null || data != undefined || data != []) {
        for(var d=0; d < data.length; d++) {
          if(data[d].action.split(" - ")[1] == "Reject" && data[d].actionID != 198) {
            cnt = cnt + 1;
          }
        }
        return cnt;
      }
      else {
        return 0;
      }
    },
    walkins() {
      var data = this.$store.state.userUsageData;
      var cnt = 0;
      if(data != null || data != undefined || data != []) {
        for(var d=0; d < data.length; d++) {
          if(data[d].actionID == 198) {
            cnt = cnt + 1;
          }
        }
        return cnt;
      }
      else {
        return 0;
      }
    },
    returned() {
      var data = this.$store.state.userUsageData;
      var cnt = 0;
      if(data != null || data != undefined || data != []) {
        for(var d=0; d < data.length; d++) {
          if(data[d].action.split(" - ")[1] == "Return Applicant" && data[d].actionID != 198) {
            cnt = cnt + 1;
          }
        }
        return cnt;
      }
      else {
        return 0;
      }
    },
    createSchedule() {
      var data = this.$store.state.userUsageData;
      var cnt = 0;
      if(data != null || data != undefined || data != []) {
        for(var d=0; d < data.length; d++) {
          if(data[d].action.split(" - ")[1] == "Create Schedule" && data[d].actionID != 198) {
            cnt = cnt + 1;
          }
        }
        return cnt;
      }
      else {
        return 0;
      }
    },
    ratedIAF() {
      var data = this.$store.state.userUsageData;
      var cnt = 0;
      if(data != null || data != undefined || data != []) {
        for(var d=0; d < data.length; d++) {
          if(data[d].action.split(" - ")[1] == "Rate IAF" && data[d].actionID != 198) {
            cnt = cnt + 1;
          }
        }
        return cnt;
      }
      else {
        return 0;
      }
    },
    changeDeployedDate() {
      var data = this.$store.state.userUsageData;
      var cnt = 0;
      if(data != null || data != undefined || data != []) {
        for(var d=0; d < data.length; d++) {
          if(data[d].action.split(" - ")[1] == "Change Deployed Date" && data[d].actionID != 198) {
            cnt = cnt + 1;
          }
        }
        return cnt;
      }
      else {
        return 0;
      }
    },
    addReferral() {
      var data = this.$store.state.userUsageData;
      var cnt = 0;
      if(data != null || data != undefined || data != []) {
        for(var d=0; d < data.length; d++) {
          if(data[d].action.split(" - ")[1] == "Add Referral" && data[d].actionID != 198) {
            cnt = cnt + 1;
          }
        }
        return cnt;
      }
      else {
        return 0;
      }
    },
  }
};
</script>

<style lang="scss"></style>
