<template>
    <div class="bg">
        <div class="customModalBG">
        <div class="container">

            <b-row>
                <b-col class="bord">
                    <p class="m-title"><b>Biotech Farms Employee Referral Form</b></p>
                </b-col>
                <b-col class="bord t-right">
                    <div class="closer" @click="close()">
                        <fa :icon="['fa', 'times-circle']" />
                    </div>
                </b-col>
            </b-row>
            <b-row class="scrollr">
                <b-col>
                    <b-row>
                        <b-col>
                            <div class="grouper">
                                <div class="formTitle"> Referrer's Details </div>
                                <div class="grouper">
                                    <b-row>
                                        <b-col cols="6"> <div class="formLabel">Name: </div> </b-col>
                                        <b-col cols="6"> <div class="formLabel">Department: </div> </b-col>
                                    </b-row>
                                    <b-row>
                                        <b-col cols="6"> <input type="text" class="modalEdit" v-model="info.referrer_name" :disabled="editt"> </b-col>
                                        <b-col cols="6"> <input type="text" class="modalEdit" v-model="info.referrer_dept" :disabled="editt"> </b-col>
                                    </b-row>

                                    <b-row>
                                        <b-col cols="6"> <div class="formLabel">Position: </div> </b-col>
                                        <b-col cols="6"> <div class="formLabel">Contact: </div> </b-col>
                                    </b-row>
                                    <b-row>
                                        <b-col cols="6"> <input type="text" class="modalEdit" v-model="info.referrer_position" :disabled="editt"> </b-col>
                                        <b-col cols="6"> <input type="text" class="modalEdit" v-model="info.referrer_contact" :disabled="editt"> </b-col>
                                    </b-row>
                                </div>
                            </div>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col>
                            <div class="grouper">
                                <div class="formTitle"> Referral's Details </div>
                                <div class="grouper">
                                    <b-row>
                                        <b-col cols="6"> <div class="formLabel">Name: </div> </b-col>
                                        <b-col cols="6"> <div class="formLabel">Contact: </div> </b-col>
                                    </b-row>
                                    <b-row>
                                        <b-col cols="6"> <input type="text" class="modalEdit" v-model="info.referral_name" :disabled="editt"> </b-col>
                                        <b-col cols="6"> <input type="text" class="modalEdit" v-model="info.referral_contact" :disabled="editt"> </b-col>
                                    </b-row>

                                    <b-row>
                                        <b-col cols="6"> <div class="formLabel">Position: </div> </b-col>
                                        <b-col cols="6"> <div class="formLabel">Relationship to Referrer: </div> </b-col>
                                    </b-row>
                                    <b-row>
                                        <b-col cols="6"> <input type="text" class="modalEdit" v-model="info.referral_position_applying" :disabled="editt"> </b-col>
                                        <b-col cols="6"> <input type="text" class="modalEdit" v-model="info.referral_relationship_referrer" :disabled="editt"> </b-col>
                                    </b-row>
                                </div>
                            </div>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>

            <!-- FOOTER BUTTONS -->
            <b-row class="footrFunc">
                <b-col>
                    <div class="grouper22">
                        <b-row>
                            <b-col class="t-right">
                                <!-- CANCEL -->
                                <button v-show="editt == false" @click="cancel()" class="btn-deact">
                                    <fa :icon="['fa', 'times']" /> &nbsp; Cancel
                                </button>

                                <!-- PRINT -->
                                <button v-show="editt == true" class="btn-view" @click="printing()">
                                    <fa :icon="['fa', 'print']" /> &nbsp; Print
                                </button>

                                &ensp;

                                <!-- EDIT & SAVE -->
                                <button @click="edit()" :class="editt ? 'btn-edit' : 'btn-positive2'">
                                    <fa :icon="['fa', editt ? 'edit' : 'save']" /> &nbsp; {{ editt ? "Edit" : "Save" }}
                                </button>


                            </b-col>
                        </b-row>
                    </div>
                </b-col>
            </b-row>

        </div>
        </div>
    </div>
</template>

<script>
import moment from "moment";
export default {
    data() {
        return {
            url: this.$axios.defaults.baseURL+"/",
            editt: true,
        }
    },
    methods: {
        printing() {
            var token = localStorage.token;
            var id = this.info.applicant_id;
            window.open(`/employeeReferralForm?token=${token}&id=${id}`);
        },
        close() {
            this.$store.commit("closeReferralForm", true);
        },
        edit() {
            this.editt = !this.editt;
            if (this.editt == true) {
                console.log("saved");
            } else {
                console.log("edit");
            }
        },
        cancel() {
            this.editt = !this.editt;
            console.log("canceled");
        },
    },
    computed: {
        info() {
            return this.$store.state.referralForm;
        }
    }
}
</script>

<style lang="scss">

</style>