<template>
  <div class="bg">
    <div class="customModalBG">
      <div class="container">
        <b-row>
          <b-col class="bord">
            <p class="m-title">Applicant Information</p>
          </b-col>
          <b-col class="bord t-right">
            <div class="closer" @click="close()">
              <fa :icon="['fa', 'times-circle']" />
            </div>
          </b-col>
        </b-row>
        <b-row
          v-for="(infos, x) in applicants"
          :key="x"
          v-show="infos.noData != true"
        >
          <b-col cols="4">
            <!-- MAIN INFO -->
            <b-row class="">
              <b-col class="grouper">
                <b-row
                  ><b-col class="bord"
                    ><span class="applname">{{ infos.name }}</span></b-col
                  ></b-row
                >
                <b-row>
                  <b-col v-if="infos.position == null" class="bord"
                    ><b> No position yet </b>
                  </b-col>
                  <b-col v-else class="bord"
                    ><b>{{ infos.position }}</b>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col class="bord">
                    <div
                      class="stage text-keep-pill"
                      v-if="infos.stage == 'kept for reference'"
                    >
                      {{ infos.stage }}
                    </div>
                    <div
                      class="stage text-reject-pill"
                      v-else-if="infos.stage == 'rejected'"
                    >
                      {{ infos.stage }}
                    </div>
                    <div
                      class="stage text-blacklist-pill"
                      v-else-if="infos.stage == 'blacklist'"
                    >
                      {{ infos.stage }}
                    </div>
                    <div
                      class="stage text-edit-pill"
                      v-else-if="infos.stage == 'online exam'"
                    >
                      {{ infos.stage }}
                    </div>
                    <div
                      class="stage text-pos2-pill"
                      v-else-if="infos.stage == 'deployed'"
                    >
                      {{ infos.stage }}
                    </div>
                    <div
                      class="stage text-pos1-pill"
                      v-else-if="infos.stage == 'job offer'"
                    >
                      {{ infos.stage }}
                    </div>
                    <div
                      class="stage text-alert-pill"
                      v-else-if="infos.stage == 'received'"
                    >
                      {{ infos.stage }}
                    </div>
                    <div
                      class="stage text-admin-pill"
                      v-else-if="infos.stage == 'pending for review'"
                    >
                      {{ infos.stage }}
                    </div>
                    <div
                      class="stage text-infos-pill"
                      v-else-if="infos.stage == 'assessment'"
                    >
                      {{ infos.stage }}
                    </div>
                    <div
                      class="stage text-view-pill"
                      v-else-if="infos.stage == 'endorsement'"
                    >
                      {{ infos.stage }}
                    </div>
                    <div
                      class="stage text-alert-pill"
                      v-else-if="infos.stage == 'quick applicant'"
                    >
                      {{ infos.stage }}
                    </div>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>

            <!-- CONTACTS -->
            <b-row class="">
              <b-col class="grouper">
                <b-row>
                  <b-col class="bord"
                    ><b>Email :</b>&nbsp;{{ infos.email }}</b-col
                  >
                </b-row>
                <b-row>
                  <b-col class="bord"
                    ><b>Mobile :</b>&nbsp;{{ infos.mobile }}</b-col
                  >
                </b-row>
              </b-col>
            </b-row>

            <!-- APPLICATION -->
            <b-row class="">
              <b-col class="grouper">
                <b-row v-if="infos.applicationDate">
                  <b-col class="bord"
                    ><b>Application Date :</b>&nbsp;
                    {{ formatDate(infos.applicationDate) }}
                  </b-col>
                </b-row>
                <b-row v-else>
                  <b-col class="bord">
                    No Application Date: Please contact ITG
                  </b-col>
                </b-row>
                <b-row>
                  <b-col class="bord"
                    ><b>Department :</b>&nbsp;{{ infos.department }}</b-col
                  >
                </b-row>
                <b-row>
                  <b-col class="bord"
                    ><b>Team :</b>&nbsp;{{ infos.team }}</b-col
                  >
                </b-row>
                <b-row>
                  <b-col class="bord t-left">
                    <b>Willing to Travel (WTT) :</b> &ensp;
                    <div
                      v-if="
                        infos.willingToTravel &&
                          String(infos.willingToTravel)
                            .toLowerCase()
                            .includes('yes')
                      "
                      class="text-pos2-pill"
                    >
                      {{ infos.willingToTravel }}
                    </div>
                    <div v-else class="text-edit-pill">
                      {{ String(infos.willingToTravel) }}
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col class="bord"><b>Livestock :</b></b-col>
                </b-row>
                <b-row>
                  <b-col class="bord"
                    ><span class="livestock">{{ infos.livestock }}</span></b-col
                  >
                </b-row>
              </b-col>
            </b-row>

            <!-- DATES -->
            <b-row class="">
              <b-col class="grouper">
                <b-row v-if="infos.endorsementDate">
                  <b-col class="bord"
                    ><b>Endorsement Date :</b>&nbsp;
                    {{ formatDate(infos.endorsementDate) }}
                  </b-col>
                </b-row>
                <b-row v-else>
                  <b-col class="bord">
                    <b>Endorsement Date :</b>&nbsp;No Date
                  </b-col>
                </b-row>
                <b-row v-if="infos.assessmentDate">
                  <b-col class="bord"
                    ><b>Assessment Date :</b>&nbsp;
                    {{ formatDate(infos.assessmentDate) }}
                  </b-col>
                </b-row>
                <b-row v-else>
                  <b-col class="bord">
                    <b>Assessment Date :</b>&nbsp;No Date
                  </b-col>
                </b-row>
                <b-row v-if="infos.deploymentDate">
                  <b-col class="bord"
                    ><b>Deployment Date :</b>&nbsp;
                    {{ formatDate(infos.deploymentDate) }}
                  </b-col>
                </b-row>
                <b-row v-else>
                  <b-col class="bord">
                    <b>Deployment Date :</b>&nbsp;No Date
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
          </b-col>
          <b-col cols="8" class="bord-left">
            <b-row class="bord">
              <b-col class="infoBox">
                <!-- ONLINE EXAM -->
                <div class="results_holder">
                  <div class="res_header" v-if="typeof exam == 'object'">
                    Online Exam Results (Problem Solving and Essays are
                    excluded)
                  </div>
                  <div class="res_header_none" v-else>
                    No Online Exam Results
                  </div>

                  <div class="results" v-show="typeof exam == 'object'">
                    <div>
                      <div class="t-left">
                        <div class="resTab1 catg">Category</div>
                        <div class="resTab1">Correct Answers</div>
                        <div class="resTab1">Wrong Answers</div>
                        <div class="resTab1">No. of Items</div>
                      </div>
                    </div>
                    <div
                      class="t-left"
                      v-for="(data, c) in exam"
                      :key="'c' + c"
                    >
                      <div class="resTab2 catg">{{ data.catgname }}</div>
                      <div class="resTab2">{{ data.correctanswer }}</div>
                      <div class="resTab2">{{ data.wronganswer }}</div>
                      <div class="resTab2">
                        {{
                          parseInt(data.correctanswer) +
                            parseInt(data.wronganswer)
                        }}
                      </div>
                    </div>
                    <br />
                    <div class="bord">
                      <b>Final Score</b> : {{ totalExamScore }}
                    </div>
                    <div class="bord">
                      <b>Total no of items</b> : {{ totalExamItems }}
                    </div>
                  </div>
                </div>

                <!-- IQBE -->
                <div class="results_holder">
                  <div class="res_header" v-if="typeof iqbe == 'object'">
                    IQBE Results
                  </div>
                  <div class="res_header_none" v-else>
                    No IQBE Results
                  </div>

                  <div class="results" v-show="typeof iqbe == 'object'">
                    <div>
                      <div class="t-left">
                        <div class="resTab1 catg">Category</div>
                        <div class="resTab1">Correct Answers</div>
                        <div class="resTab1">Wrong Answers</div>
                        <div class="resTab1">No. of Items</div>
                      </div>
                    </div>
                    <div
                      class="t-left"
                      v-for="(data, d) in iqbe"
                      :key="'d' + d"
                    >
                      <div class="resTab2 catg">{{ data.catgname }}</div>
                      <div class="resTab2">{{ data.correctanswer }}</div>
                      <div class="resTab2">{{ data.wronganswer }}</div>
                      <div class="resTab2">
                        {{
                          parseInt(data.correctanswer) +
                            parseInt(data.wronganswer)
                        }}
                      </div>
                    </div>
                    <br />
                    <div class="bord">
                      <b>Final Score</b> : {{ totalIQBEScore }}
                    </div>
                    <div class="bord">
                      <b>Total no of items</b> : {{ totalIQBEItems }}
                    </div>
                  </div>
                </div>

                <!-- INTERVIEW ASSESSMENT RESULTS (IAF) -->
                <div class="results_holder">
                  <div class="res_header" v-if="assessment.length > 0">
                    Interview Assessment Results
                  </div>
                  <div class="res_header_none" v-else>
                    No Interview Assessment Results
                  </div>

                  <div class="results" v-show="assessment.length > 0">
                    <div
                      class="grouper2"
                      v-for="(data, b) in assessment"
                      :key="'b' + b"
                    >
                      <div class="bord">
                        <b>Interviewer</b> : {{ data.interviewer }}
                      </div>
                      <div class="bord">
                        <b>Interview Date</b> :
                        {{ formatDate(data.interviewDate) }}
                      </div>
                      <br />
                      <div class="t-left">
                        <div class="resTab4 catg2">Category</div>
                        <div class="resTab4">Rating</div>
                        <div class="resTab4 catg3">Remarks</div>
                      </div>
                      <div class="t-left">
                        <div class="resTab3 catg2">
                          Communication Skills (Flow &amp; Consistency)
                        </div>
                        <div class="resTab3">
                          {{ data.communicationSkills }}
                        </div>
                        <div class="resTab3 catg3">
                          {{
                            data.communicationSkillsNote
                              ? data.communicationSkillsNote
                              : "-"
                          }}
                        </div>
                      </div>
                      <div class="t-left">
                        <div class="resTab3 catg2">
                          Demonstrated Confidence (Self Expression &amp;
                          Outlook)
                        </div>
                        <div class="resTab3">{{ data.confidence }}</div>
                        <div class="resTab3 catg3">
                          {{ data.confidenceNote ? data.confidenceNote : "-" }}
                        </div>
                      </div>
                      <div class="t-left">
                        <div class="resTab3 catg2">
                          Physical Appearance (Physical Condition &amp; Dressing
                          Style)
                        </div>
                        <div class="resTab3">{{ data.physicalAppearance }}</div>
                        <div class="resTab3 catg3">
                          {{
                            data.physicalAppearanceNote
                              ? data.physicalAppearanceNote
                              : "-"
                          }}
                        </div>
                      </div>
                      <div class="t-left">
                        <div class="resTab3 catg2">Knowledge &amp; Skills</div>
                        <div class="resTab3">{{ data.knowledgeSkills }}</div>
                        <div class="resTab3 catg3">
                          {{
                            data.knowledgeSkillsNote
                              ? data.knowledgeSkillsNote
                              : "-"
                          }}
                        </div>
                      </div>
                      <br />
                      <div class="bord">
                        <b>Asking Rate</b> : {{ data.askingRate }}
                      </div>
                      <div class="bord">
                        <b>Availability</b> : {{ data.availability }}
                      </div>
                      <div class="bord"><b>Others</b> : {{ data.others }}</div>
                    </div>
                  </div>
                </div>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
        <b-row
          v-for="(infos, x) in applicants"
          :key="'a' + x"
          v-show="infos.noData == true"
        >
          <b-col class="bord">{{ infos.mess }}</b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  data() {
    return {
      totalExamScore: 0,
      totalExamItems: 0,
      totalIQBEScore: 0,
      totalIQBEItems: 0
    };
  },
  methods: {
    close() {
      this.$store.commit("closeViewApplicants", true);
    },
    formatDate(data) {
      if (data != "") {
        return moment(data).format("MMMM DD, YYYY");
      } else {
        return "No Date";
      }
    }
  },
  computed: {
    applicants() {
      var info = [];
      info.push({
        ...this.$store.state.applicantDetails
      });
      return info;
    },
    assessment() {
      var results = [];
      if (this.$store.state.assessmentResults.length > 0) {
        results = this.$store.state.assessmentResults;
      }
      return results;
    },
    exam() {
      var results = [];
      var leng = this.$store.state.examResults.length;
      this.totalExamScore = 0;
      this.totalExamItems = 0;
      if (leng > 0) {
        results = this.$store.state.examResults;
        for (var x = 0; x < leng; x++) {
          // console.log(leng +" - "+ x);
          // console.log(results[x]);
          // console.log(results[x].catgname +": "+ results[x].correctanswer +" + "+ results[x].wronganswer  +" + "+ this.totalExamItems);

          this.totalExamScore =
            this.totalExamScore + parseInt(results[x].correctanswer);
          this.totalExamItems =
            this.totalExamItems +
            (parseInt(results[x].correctanswer) +
              parseInt(results[x].wronganswer));
        }
      }
      return results;
    },
    iqbe() {
      var results = [];
      var leng = this.$store.state.iqbeResults.length;
      this.totalIQBEScore = 0;
      this.totalIQBEItems = 0;
      if (leng > 0) {
        results = this.$store.state.iqbeResults;
        for (var x = 0; x < leng; x++) {
          // console.log(leng +" - "+ x);
          // console.log(results[x]);
          // console.log(results[x].catgname +": "+ results[x].correctanswer +" + "+ results[x].wronganswer  +" + "+ this.totalExamItems);

          this.totalIQBEScore =
            this.totalIQBEScore + parseInt(results[x].correctanswer);
          this.totalIQBEItems =
            this.totalIQBEItems +
            (parseInt(results[x].correctanswer) +
              parseInt(results[x].wronganswer));
        }
      }
      return results;
    }
  }
};
</script>

<style lang="scss"></style>
