<template>
    <div class="moduleContainer">
        <div class="moduleName">Reports</div>
        <div class="tabSize" ref="tabsizer">
        <button
            v-for="(tab, i) in tabs"
            :key="i"
            :class="'tab ' + (tab.id == chosenTabs ? 'activeTab' : '')"
            @click="chooseTab(i, tab.id, tab.name)"
            >
            {{ tab.name }}

            </button>
        </div>
        
        <KeptforRef v-show="chosenTabs == 1"/>
        <Deployed v-show="chosenTabs == 2"/>
        <Blacklisted v-show="chosenTabs == 3"/>
        <Rejected v-show="chosenTabs == 4"/>
    </div>
</template>

<script>
import KeptforRef from "../../../components/Reports/keptforRef";
import Deployed from "../../../components/Reports/deployed";
import Blacklisted from "../../../components/Reports/blacklisted"
import Rejected from "../../../components/Reports/rejected"
export default {
    layout: "sideBar",
    components: {
        KeptforRef,
        Deployed,
        Blacklisted,
        Rejected
    },
    data() {
        return {
            token: "",
            chosenTab: "",
            actionData: "",
            chosenTabs: 1,
            tabs: [
                {
                    id: 1,
                    name: "Kept for Reference"
                },
                {
                    id: 2,
                    name: "Deployed"
                },
                {
                    id: 3,
                    name: "Blacklisted"
                },
                {
                    id: 4,
                    name: "Rejected"
                },
            ],
        }
    },
    methods: {
        chooseTab(ind, id, name){
            this.chosenTabs = id;

            // GET ACCESS RIGHTS
            this.token = localStorage.token;
            this.modulez =  null;
            this.accessRights = [];
            // this.getAccessRights(this.token);
        },
    },
    created() {
        // SET DEFAULT OPEN TAB IN SIDEBAR
        if(localStorage.activeN) {
            var open = [];
            open.push({ id: 4, subID: 4.1, colID: "collapse-exports", open: false});
            this.$store.commit("openPage", open);
        }

        // ADD TO doneLoader STATE
        this.$store.commit("doneLoad", 13);
    }
    
}
</script>

<style scoped lang="scss">

</style>