<template>
  <div class="moduleContainer">
    <loader v-show="loader" />

    <div class="moduleName">IQ Test</div>
    <div class="moduleContent2" ref="rowDeter">
      <!-- HEADER TOOLS -->
      <div class="tabTools">
        <!-- ADD NEW DEPARTMENT -->
        <div class="tabToolsDiv">
          <button
            class="btn-positive2"
            v-b-tooltip.hover
            v-b-modal.addQuestionModal
            title="Add new Question"
          >
            <fa :icon="['fa', 'plus']" />
          </button>
        </div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>

        <!-- SEARCH -->
        <div class="tabToolsDiv">
          <button class="toolSearchIco" disabled>
            <fa :icon="['fa', 'search']" />
          </button>
          <input
            class="toolSearch fa"
            type="text"
            name=""
            placeholder="Type to search"
            v-model="find"
          />
          <b-button
            class="toolClear"
            @click="find = ''"
            v-b-tooltip.hover
            title="Clear Search"
          >
            <fa :icon="['fa', 'eraser']" />
          </b-button>
        </div>
        <!-- RELOAD DATA -->
        <div class="tabToolsDiv" v-b-tooltip.hover title="Refresh Table">
          <button class="btn-keep" @click="getData(token)">
            <fa :icon="['fa', 'redo-alt']" :spin="isBusy" />
          </button>
        </div>
      </div>

      <!-- TABLE @row-clicked="rowData"  -->
      <div class="tabTable">
        <b-table
          hover
          class="table"
          id="allApplicantsTable"
          select-mode="single"
          :filter="find"
          :items="tableDataComputed"
          :per-page="perPage"
          :fields="fieldHeaders"
          :busy="isBusy"
          :current-page="computedCurrentPage"
          show-empty
        >
          <!-- LOADERS IF isBusy == true -->
          <template #table-busy>
            <div class="text-center text-secondary">
              <b-spinner small class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>

          <!-- Custom display for Type' -->
          <template #cell(type)="row">
            <div v-if="row.value.includes('Multiple')" class="text-keep-pill">
              {{ row.value }}
            </div>
            <div
              v-else-if="row.value.includes('Problem')"
              class="text-edit-pill"
            >
              {{ row.value }}
            </div>
            <div v-else-if="row.value.includes('Essay')" class="text-pos1-pill">
              {{ row.value }}
            </div>
          </template>

          <!-- Custom display for Questions' -->
          <template #cell(questions)="row">
            <div class="text-main">
              <span v-if="row.value.includes('@')">
                {{ row.value.split("@")[0] }}
              </span>
              <span v-else>
                {{ row.value }}
              </span>
            </div>
          </template>

          <!-- BUTTON PER ROW -->
          <template #cell(extra)="row">
            <div class="rowmenuHold" v-show="showMenu && row.index == rowIndex">
              <div class="rowmenu">
                <div class="actionFor">
                  <div class="pointing">
                    <div><fa :icon="['fa', 'brain']" /></div>
                    Actions
                  </div>
                  <!-- <div class="pointRight"></div> -->
                </div>
                <div class="line"></div>

                <div class="rowMenuScroll">
                  <div v-for="(act, a) in actionsTable" :key="a">
                    <button
                      class="bX b-keep"
                      @click="
                        takeAct(
                          act.id,
                          act.action_name,
                          row.item,
                          row,
                          row.index
                        )
                      "
                    >
                      &ensp; {{ act.action_name }}
                    </button>
                  </div>
                </div>
              </div>

              <!-- <div class="pointRight"></div> -->
            </div>

            <button class="btn-actions" @click="selectRow(row, row.index)">
              <fa :icon="['fa', 'ellipsis-v']" />
            </button>
          </template>
        </b-table>
      </div>

      <!-- adding IQ test questions modal -->
      <div>
        <b-modal id="addQuestionModal" size="lg">
          <template #modal-header="{close}" class="headr">
            <div class="deptIcn">
              <fa :icon="['fa', 'plus']" />
            </div>
            <div class="deptTitleDiv">
              <b>Add New Question</b>
            </div>
            <div class="iconBtn" @click="close()">
              <fa :icon="['fa', 'times-circle']" />
            </div>
          </template>
          <div class="mdlBody">
            <div>
              <b-row>
                <b class="modalText">Question Type: </b>
              </b-row>
              <b-row>
                <multiselect
                  deselect-label=""
                  select-label=""
                  track-by="id"
                  label="question_type"
                  placeholder="Select question type"
                  :options="questionTypes"
                  :searchable="true"
                  :allow-empty="false"
                  class="selectInput"
                  @input="selectType()"
                  v-model="type"
                >
                </multiselect>
              </b-row>
            </div>
            <div>
              <b-row><b class="modalText">Question:</b> </b-row>
              <b-row>
                <input
                  type="text"
                  class="modalEdit"
                  placeholder="Enter question here."
                  v-model="questions"
              /></b-row>
            </div>
            <div>
              <b-row><b class="modalText">Choose File:</b> </b-row>
              <b-row>
                <b-form-file
                  id="file-small"
                  size="sm"
                  class="uploadFileInput"
                  v-model="questionImg"
                ></b-form-file>
              </b-row>
            </div>
            <div v-show="multipleChoice == true">
              <b-row><b class="modalText">Choices:</b> </b-row>
              <b-row v-for="(input, id) in inputs" :key="id">
                <!-- <b-form-group label="Individual radios"> -->
                <b-col cols="2" class="rmvPadding">
                  <b-form-radio
                    class="radioBtn"
                    name="some-radios"
                    :value="'' + id + ''"
                    size="sm"
                    :id="'choices[' + id + ']'"
                    v-model="correctAnswer"
                  >
                    <b class="selectRadio">Correct Answer</b></b-form-radio
                  >
                </b-col>
                <b-col cols="9" class="rmvPadding">
                  <input
                    type="text"
                    class="modalEdit"
                    placeholder="Enter choice here."
                    v-model="input.option"
                  />
                  <b-form-file
                    id="file-small"
                    size="sm"
                    plain
                    class="fileUpload"
                    v-model="input.img"
                  ></b-form-file>
                </b-col>
                <b-col class="rmvPadding">
                  <button
                    class="btn-minus"
                    v-b-tooltip.hover
                    title="Remove choice"
                    @click="removeChoices(id)"
                  >
                    <fa class="plusIcon" :icon="['fa', 'minus']" />
                  </button>
                </b-col>
                <b-col class="rmvPadding">
                  <button
                    class="btn-plus"
                    v-b-tooltip.hover
                    title="Add new choice"
                    @click="addChoices(id)"
                    v-show="id == inputs.length - 1"
                  >
                    <fa class="plusIcon" :icon="['fa', 'plus']" />
                  </button>
                </b-col>
              </b-row>

              <!-- </b-form-group> -->
            </div>
          </div>
          <template #modal-footer>
            <button class="btn-deact" @click="close()">
              Cancel
            </button>
            <button class="btn-positive2" @click="uploadChoiceImgs(token)">
              Submit
            </button>
          </template>
        </b-modal>
      </div>

      <!-- Edit Details Modal -->
      <div>
        <b-modal id="editQuestionModal" size="lg">
          <template #modal-header="{close}" class="headr">
            <div class="deptIcn">
              <fa :icon="['fa', 'plus']" />
            </div>
            <div class="deptTitleDiv">
              <b>Edit Question</b>
            </div>

            <div class="iconBtn" @click="close()">
              <fa :icon="['fa', 'times-circle']" />
            </div>
          </template>
          <div class="mdlBody">
            <div>
              <b-row>
                <b class="modalText">Question Type: </b>
              </b-row>
              <!-- <b-row>
                <multiselect
                  deselect-label=""
                  select-label=""
                  track-by="id"
                  label="question_type"
                  placeholder="Select question type"
                  :options="questionTypes"
                  :searchable="true"
                  :allow-empty="false"
                  class="selectInput"
                  @input="selectType()"
                  v-model="editQuestion.type"
                  disabled
                >
                </multiselect> -->
              <b-row>
                <input
                  type="text"
                  class="modalEdit"
                  placeholder="Enter question here."
                  v-model="editQuestion.type"
                  disabled
                />
              </b-row>
              <!-- </b-row> -->
            </div>
            <div>
              <b-row><b class="modalText">Question:</b> </b-row>
              <b-row>
                <input
                  type="text"
                  class="modalEdit"
                  placeholder="Enter question here."
                  v-model="editQuestion.questions"
                />
              </b-row>
            </div>
            <div>
              <b-row><b class="modalText">Choose File:</b> </b-row>
              <b-row>
                <b-form-file
                  id="file-small"
                  size="sm"
                  class="uploadFileInput"
                  v-model="editQuestionImg"
                ></b-form-file>
              </b-row>
            </div>
            <div v-show="editQuestion.type == 'Multiple choice'">
              <b-row><b class="modalText">Choices:</b> </b-row>
              <b-row v-for="(input, id) in editInputs" :key="id">
                <!-- <b-form-group label="Individual radios"> -->
                <b-col cols="2" class="rmvPadding">
                  <b-form-radio
                    class="radioBtn"
                    name="some-radios"
                    :value="'' + id + ''"
                    size="sm"
                    :id="'choices[' + id + ']'"
                    v-model="editQuestion.correctAnswer"
                  >
                    <b class="selectRadio">Correct Answer</b>
                  </b-form-radio>
                </b-col>
                <b-col cols="9" class="rmvPadding">
                  <input
                    type="text"
                    class="modalEdit"
                    placeholder="Enter choice here."
                    v-model="input.option"
                  />
                  <b-form-file
                    id="file-small"
                    size="sm"
                    plain
                    class="fileUpload"
                    v-model="input.img"
                  >
                  </b-form-file>
                </b-col>
                <b-col class="rmvPadding">
                  <button
                    class="btn-minus"
                    v-b-tooltip.hover
                    title="Remove choice"
                    @click="removeChoicesEdit(id)"
                  >
                    <fa class="plusIcon" :icon="['fa', 'minus']" />
                  </button>
                </b-col>
                <b-col class="rmvPadding">
                  <button
                    class="btn-plus"
                    v-b-tooltip.hover
                    title="Add new choice"
                    @click="addChoicesEdit(id)"
                    v-show="id == editInputs.length - 1"
                  >
                    <fa class="plusIcon" :icon="['fa', 'plus']" />
                  </button>
                </b-col>
              </b-row>

              <!-- </b-form-group> -->
            </div>
          </div>
          <template #modal-footer>
            <button class="btn-deact" @click="closeEditQuestionModal()">
              Cancel
            </button>
            <button class="btn-positive2" @click="uploadChoiceImgsEdit(token)">
              Submit
            </button>
          </template>
        </b-modal>
      </div>
      <!-- FOOTER TOOLS -->
      <div class="footer">
        <div class="tabTools">
          <div class="tabToolsDiv">
            Total no. of records: {{ records }} | Page
            {{ computedCurrentPage }} of {{ computedTotalPage }}
          </div>
          <div class="tabToolsDiv tabToolsDivX"></div>
          <div class="tabToolsDiv tabEx">
            <div class="overflow-auto">
              <div>
                <b-pagination
                  size="sm"
                  v-model="currentPage"
                  :total-rows="records"
                  :per-page="perPage"
                  aria-controls="allApplicantsTable"
                ></b-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ALERT -->
    <div>
      <b-alert
        :show="alert.showAlert"
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <fa
          :icon="
            alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
          "
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}
      </b-alert>
    </div>

    <!-- VIEW QUESTION -->
    <ViewQuestion v-show="!closeFull" />
  </div>
</template>

<script>
import axios from "axios";
import Multiselect from "vue-multiselect";
import ViewQuestion from "../../../components/viewQuestion";
import loader from "../../../components/loader";
import { mapState, mapMutations, mapGetters } from "vuex";

export default {
  layout: "sideBar",
  components: {
    ViewQuestion,
    Multiselect,
    loader
  },
  data() {
    return {
      loader: false,
      isBusy: false,
      token: "",
      find: "",
      tableData: [],
      perPage: 1,
      currentPage: 1,
      rowIndex: -1,
      prevIndex: -1,
      showMenu: false,
      screenHeight: 0,
      tableHeight: 0,
      rowDeterm: 0,
      multipleChoice: false,
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      actions: [],
      actionsTable: [
        { id: 1, action_name: "View Details" },
        { id: 2, action_name: "Edit Details" }
      ],
      type: "",
      questions: "",
      questionImg: null,
      editQuestionImg: null,
      questionImgPath: "",
      editQuestionImgPath: "",
      questionTypes: [],
      question_type_id: "",
      question_type: "",
      correctAnswer: "",
      inputs: [
        {
          option: "",
          img: null,
          imgPath: ""
        }
      ],
      editQuestion: {
        questions: "",
        type: "",
        question_type_id: null,
        questionImg: null,
        correctAnswer: "",
        details: []
      },
      editInputs: [
        {
          id: null,
          option: "",
          img: null,
          imgPath: ""
        }
      ],
      choicesArray: [],
      editChoicesArray: [],
      choicesImagesArray: [],
      editChoicesImagesArray: [],

      fieldHeaders: [
        // TABLE HEADERS
        {
          key: "type",
          label: "Type",
          sortable: true
        },
        {
          key: "questions",
          label: "Questions",
          sortable: false
        },
        {
          key: "extra", // column name from API
          label: "", // custom name set
          sortable: false // sort data by column
        }
      ]
    };
  },
  methods: {
    selectRow(row, ind) {
      this.applicant = row;
      this.rowIndex = ind;
      // console.log("this.prevIndex: " + this.prevIndex);
      // console.log("this.rowIndex: " + this.rowIndex);
      // console.log("this.showMenu: " + this.showMenu);
      row.toggleDetails();
      // console.log(row);
      if (this.prevIndex != this.rowIndex) {
        this.prevIndex = this.rowIndex;
        this.showMenu = true;
      } else {
        this.showMenu = !this.showMenu;
      }
    },
    takeAct(actID, actName, data, row, ind) {
      this.selectRow(row, ind);
      console.log("data.id", data.id);
      // this.editQuestion.details.push(data.details);
      // console.log("ger", this.editQuestion.details);

      // if multiple choice find choices and correct answer
      if (data.type == "Multiple choice" || data.type == "Multiple Choice") {
        this.editQuestion.correctAnswer = this.formatChoices(
          data.correct_answer
        ).choiceName;
        this.editQuestion.details = data.details;
        this.editInputs = [];

        //push choices to array
        for (let index = 0; index < data.details.length; index++) {
          let choice = data.details[index].choice;
          console.log("choice", choice);
          this.editInputs.push({
            option: this.formatChoices(choice).choiceName
          });
        }
      }
      // this.editQuestion.questions = data.questions;
      this.editQuestion.questions = data.questions.split("@")[0];
      this.editQuestion.type = data.type;
      this.editQuestion.id = data.id;
      this.editQuestion.question_type_id = data.question_type_id;
      // this.editQuestion.type = data.type;
      // this.editQuestion.type = data.type;
      // show view details modal
      switch (actName) {
        case "View Details":
          this.$store.commit("closeQuestionDetails", false);
          this.$store.dispatch("viewQuestionDetails", {
            questionID: data.id,
            token: localStorage.token,
            type: data.type
          });
          console.log("rowq.data", data);
      }
      // show edit details modal
      switch (actName) {
        case "Edit Details":
          this.$root.$emit(
            "bv::show::modal",
            "editQuestionModal",
            "#editQuestionModal"
          );
      }
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    },
    selectType() {
      console.log("see", this.type.question_type);
      console.log("slect", this.type.id);
      this.question_type_id = this.type.id;
      this.question_type = this.type.question_type;
      if (
        this.question_type == "Multiple choice" ||
        this.question_type == "Multiple Choice"
      ) {
        this.multipleChoice = true;
      } else {
        this.multipleChoice = false;
      }
    },
    close() {
      //   this.editCategory = true;
      this.$root.$emit(
        "bv::hide::modal",
        "addQuestionModal",
        "#addQuestionModal"
      );
    },
    closeAddQuestionModal() {
      this.$root.$emit(
        "bv::hide::modal",
        "addQuestionModal",
        "#addQuestionModal"
      );
    },
    closeEditQuestionModal() {
      this.$root.$emit(
        "bv::hide::modal",
        "editQuestionModal",
        "#editQuestionModal"
      );
    },
    clearFields() {
      this.question_type = "";
      this.questions = "";
      this.question_type_id = "";
      this.inputs = [
        {
          option: null,
          img: null,
          imgPath: null
        }
      ];
    },

    addChoices(index) {
      this.inputs.push({ option: "", img: null, imgPath: "" });
    },

    addChoicesEdit(index) {
      this.editInputs.push({ option: "", img: null, imgPath: "" });
    },
    removeChoices(index) {
      if (this.inputs.length > 1) {
        this.inputs.splice(index, 1);
      }
    },
    removeChoicesEdit(index) {
      if (this.editInputs.length > 1) {
        this.editInputs.splice(index, 1);
      }
    },
    //separate choice and image link
    formatChoices(data) {
      let array = data.split("@");
      let choiceName = array[0];
      let choiceImage = array[1];
      return { choiceName, choiceImage };
    },
    rowDet() {
      // INITIALIZE perPage
      this.perPage = 1;

      // DETERMINE HOW MANY ROWS TO SHOW DEPENDING ON moduleContent HEIGHT
      var rowCounter = setInterval(() => {
        if (this.$refs.rowDeter == undefined) {
          clearInterval(rowCounter);
        } else {
          this.screenHeight = screen.height; // SCREEN HEIGHT / MONITOR HEIGHT
          this.rowDeterm = this.$refs.rowDeter.clientHeight; // moduleContent HEIGHT (px)
          this.tableHeight = ((this.rowDeterm - 50) / screen.height) * 100; // moduleContent HEIGHT (%)

          if (this.tableHeight < 65) {
            this.perPage++;
            // console.log(this.perPage);
          } else {
            // SET DEFAULT ROWS PER PAGE IN ALL TABS
            this.$store.commit("setPerPage", this.perPage);

            // STOP INTERVAL AFTER this.tableHeight == 60
            clearInterval(rowCounter);
          }
        }
      }, 1);
    },
    getData(token) {
      this.isBusy = true;
      // FETCH DEPARTMENTS BY DEPARTMENT
      console.log(localStorage.deptId);
      axios({
        method: "GET",
        url: `${this.$axios.defaults.baseURL}/questions/view/IQBE/all`,
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + token
        }
      }).then(
        result => {
          console.log("=======================================");
          console.log("Successfully fetched IQBE questions");
          console.log("=======================================");
          this.tableData = result.data[Object.keys(result.data)[0]];

          console.log(this.tableData);
          this.isBusy = false;

          // IMPORTANT!
          this.rowDet();
        },
        error => {
          console.log("=======================================");
          console.log("Failed to fetch IQBE questions");
          console.log("=======================================");
          console.log(error);
          this.showAlert(error, "danger");
          console.log("=======================================");
        }
      );
    },
    //convert multiple choices to array
    async convertInputs() {
      this.choicesArray = []; // empty array
      let choices = this.inputs;

      for (let index = 0; index < choices.length; index++) {
        let path = this.choicesImagesArray[index];
        let choice = choices[index].option;
        //concat choice and choice' image
        let finalChoice = "";
        if (typeof path === "undefined") {
          finalChoice = choice + "@";
        } else {
          finalChoice = choice + "@" + path;
        }
        this.choicesArray.push(finalChoice);
      }
      //get correct answer
      for (let index = 0; index < this.choicesArray.length; index++) {
        let answer = this.choicesArray[index];
        if (this.correctAnswer == index) {
          this.correctAnswer = answer;
          break;
        }
      }
      //add question to API
      await this.addQuestions(localStorage.token);
    },
    //upload images
    async uploadChoiceImgs() {
      this.loader = true;

      this.choicesImagesArray = [];
      this.questionImgPath = "";
      //if question image is not empty upload image
      if (this.questionImg) {
        let formData = new FormData();
        formData.append("image", this.questionImg, this.questionImg.name);
        axios
          .post(`${this.$axios.defaults.baseURL}/users/upload`, formData, {
            headers: { Authorization: `Bearer ${localStorage.token}` }
          })
          .then(res => (this.questionImgPath = res.data.imagePath));
      }
      // if multiple choices images is not empty upload images
      if (this.inputs[0].img) {
        await this.uploadAllImagesChoices();
      }
      //after uploading, get image link, and concat choice to image link
      setTimeout(() => {
        this.convertInputs();
      }, 5000);
    },
    // for uploading images in multiple choice
    async uploadAllImagesChoices() {
      this.choicesImagesArray = [];
      let choices = this.inputs;
      if (choices.length > 0) {
        for (let index = 0; index < choices.length; index++) {
          let e = choices[index];
          let choice = e.img;
          if (choice) {
            let formData = new FormData();
            formData.append("image", choice, choice.name);
            let res = await axios.post(
              `${this.$axios.defaults.baseURL}/users/upload`, formData, {
                headers: { Authorization: `Bearer ${localStorage.token}` }
              }
            );
            // .then(res => (this.questionImgPath = res.data.imagePath));
            this.choicesImagesArray.push(res.data.imagePath);
          }
        }
      }
    },
    // fetch question types
    getQuestionTypes(token) {
      axios({
        method: "GET",
        url: `${this.$axios.defaults.baseURL}/question_types/view_all`,
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + token
        }
      }).then(
        result => {
          console.log(result.data);
          this.questionTypes = result.data;
          // console.log(result.data[Object.keys(result.data)[0]]);
          this.isBusy = false;
        },
        error => {
          console.log(error);
          this.showAlert(error, "danger");
        }
      );
    },
    //activity logs add
    async activityLogs(token, module, table_affected, activity) {
      await this.$store
        .dispatch("activityLogsAction", {
          token,
          module,
          table_affected,
          activity
        })
        .then(console.log("log"));
    },
    // add questions
    async addQuestions(token) {
      this.isBusy = true;
      console.log("woho", this.choicesArray);

      if (this.question_type == "Multiple choice") {
        await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/questions/add`,
          headers: {
            "Content-Type": "application/json",
            Authorization: "Bearer " + token
          },
          data: {
            questions: this.questions,
            correct_answer: this.correctAnswer,
            question_type_id: this.question_type_id,
            categories_id: "105",
            details: this.choicesArray
          }
        }).then(
          result => {
            console.log("add", result.data);
            // console.log(result.data[Object.keys(result.data)[0]]);
            let msg = result.data.posted.msg;
            this.activityLogs(
              localStorage.token,
              "Add new question.",
              "questions, questions_choices",
              `Added new question: ${this.questions}`
            );
            this.showAlert(msg, "success");
            this.getData(this.token);
            this.closeAddQuestionModal();

            this.isBusy = false;
            this.clearFields();
            this.loader = false;
          },
          error => {
            console.log(error.response.data.error);
            let err = error.response.data.error;
            this.isBusy = false;
            this.showAlert(err, "danger");
            this.loader = false;
          }
        );
      } else {
        if (this.questionImg) {
          this.questions = this.questions + "@" + this.questionImgPath;
        }
        await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/questions/essay/add`,
          headers: {
            "Content-Type": "application/json",
            Authorization: "Bearer " + token
          },
          data: {
            questions: this.questions,
            details: this.inputs,
            question_type_id: this.question_type_id,
            categories_id: "105"
          }
        }).then(
          result => {
            console.log("add", result.data);
            let msg = result.data.posted.msg;
            this.activityLogs(
              localStorage.token,
              "Add new question.",
              "questions, questions_choices",
              `Added new question: ${this.questions}`
            );
            this.showAlert(msg, "success");
            this.getData(this.token);
            this.closeAddQuestionModal();
            this.isBusy = false;
            this.clearFields();
            this.loader = false;
          },
          error => {
            console.log(error.response.data.error);
            let err = error.response.data.error;
            this.isBusy = false;
            this.showAlert(err, "danger");
            this.loader = false;
          }
        );
      }
    },
    async convertInputsEdit() {
      this.editChoicesArray = []; // empty array
      let choices = this.editInputs;

      for (let index = 0; index < choices.length; index++) {
        let path = this.editChoicesImagesArray[index];
        let choice = choices[index].option;
        //concat choice and choice' image
        let finalChoice = "";
        if (typeof path === "undefined") {
          finalChoice = choice + "@";
        } else {
          finalChoice = choice + "@" + path;
        }
        this.editChoicesArray.push(finalChoice);
      }
      //get correct answer
      for (let index = 0; index < this.editChoicesArray.length; index++) {
        let answer = this.editChoicesArray[index];
        if (this.editQuestion.correctAnswer == index) {
          this.editQuestion.correctAnswer = answer;
          break;
        }
      }
      //add question to API
      await this.editQuestions(localStorage.token);
    },
    //upload images
    async uploadChoiceImgsEdit() {
      this.loader = true;

      this.editChoicesImagesArray = [];
      this.editQuestionImgPath = "";
      //if question image is not empty upload image
      if (this.editQuestionImg) {
        let formData = new FormData();
        formData.append(
          "image",
          this.editQuestionImg,
          this.editQuestionImg.name
        );
        axios
          .post(`${this.$axios.defaults.baseURL}/users/upload`, formData, {
            headers: { Authorization: `Bearer ${localStorage.token}` }
          })
          .then(res => (this.editQuestionImgPath = res.data.imagePath));
      }
      // if multiple choices images is not empty upload images
      if (this.editInputs[0].img) {
        await this.uploadAllImagesChoicesEdit();
      }
      //after uploading, get image link, and concat choice to image link
      setTimeout(() => {
        this.convertInputsEdit();
      }, 5000);
    },
    // for uploading images in multiple choice
    async uploadAllImagesChoicesEdit() {
      this.editChoicesImagesArray = [];
      let choices = this.editInputs;
      if (choices.length > 0) {
        for (let index = 0; index < choices.length; index++) {
          let e = choices[index];
          let choice = e.img;
          if (choice) {
            let formData = new FormData();
            formData.append("image", choice, choice.name);
            let res = await axios.post(
              `${this.$axios.defaults.baseURL}/users/upload`, formData, {
                headers: { Authorization: `Bearer ${localStorage.token}` }
              }
            );
            // .then(res => (this.questionImgPath = res.data.imagePath));
            this.editChoicesImagesArray.push(res.data.imagePath);
            //fix image pathssss
          }
        }
      }
    },

    //edit question
    async editQuestions(token) {
      await this.getDetailsPerQuestion(this.editQuestion.id);
      this.isBusy = true;
      if (this.editQuestionImg) {
        this.editQuestion.questions =
          this.editQuestion.questions + "@" + this.editQuestionImgPath;
      }
      console.log(
        "path",
        this.editQuestion.questions + "@" + this.editQuestionImgPath
      );
      await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/questions/edit/${this.editQuestion.id}`,
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + token
        },
        data: {
          questions: this.editQuestion.questions,
          correct_answer: this.editQuestion.correctAnswer,
          question_type_id: this.editQuestion.question_type_id,
          categories_id: 105,
          details: this.editChoicesArray
        }
      }).then(
        result => {
          console.log("add", result.data);
          // console.log(result.data[Object.keys(result.data)[0]]);
          let msg = result.data.patched.msg;
          this.activityLogs(
            localStorage.token,
            "Updated question.",
            "questions, questions_choices",
            `Updated question: ${this.questions}`
          );
          this.showAlert(msg, "success");
          this.getData(this.token);
          this.closeEditQuestionModal();

          this.isBusy = false;
          this.clearFields();
          this.loader = false;
        },
        error => {
          console.log(error.response.data.error);
          let err = error.response.data.error;
          this.isBusy = false;
          this.showAlert(err, "danger");
          this.loader = false;
        }
      );
    },
    //get question's question type id for editing question
    async getDetailsPerQuestion(id) {
      await axios({
        method: "GET",
        url: `${this.$axios.defaults.baseURL}/questions/view/${id}`,
        headers: { Authorization: `Bearer ${this.token}` },
        data: {
          type: this.editQuestion.type
        }
      }).then(
        res => {
          let data = res.data[Object.keys(res.data)[0]];
          this.editQuestion.question_type_id = data[0].question_type_id;
        },
        err => {
          console.log(err);
          this.loader = false;
        }
      );
    },
    closeMenu() {
      this.showMenu = false;
    }
  },
  mounted() {
    // CLOSE IF CLICKED OUTSIDE
    var self = this;
    var el = document.getElementById("outsideNotif");
    window.addEventListener(
      "click",
      function(e) {
        if (!el.contains(e.target) && e.target instanceof HTMLElement) {
          self.closeMenu();
        }
      },
      false
    );
  },
  created() {
    // SET DEFAULT OPEN TAB IN SIDEBAR
    if (localStorage.activeN) {
      var open = [];
      open.push({
        id: 3,
        subID: 3.3,
        colID: "collapse-onlineExam",
        open: false
      });
      this.$store.commit("openPage", open);
    }
    setTimeout(() => {
      // CHECK IF USER IS ALLOWED TO ACCESS THIS PAGE
      // ALLOWED: ADMIN | OH | PG
      var user_access = localStorage.role;
      this.token = localStorage.token;
      if (
        user_access.toLowerCase().includes("admin") ||
        user_access.toLowerCase().includes("people") ||
        user_access.toLowerCase().includes("operation")
      ) {
        console.log("Welcome, " + localStorage.fname);

        // LOOK FOR THE "EXAMINATION MODULE" (module_id: 3)
        var access_rights = JSON.parse(localStorage.access_rights_details);
        for (var a = 0; a < access_rights.length; a++) {
          if (access_rights[a].module_id == 3) {
            for (var v = 0; v < access_rights[a].access.length; v++) {
              // GET POSITION ACTIONS
              this.actions.push({
                ...access_rights[a].access[v]
              });
            }
          }
        }

        this.getData(this.token);

        // ADD TO doneLoader STATE
        this.$store.commit("doneLoad", 13);
      } else {
        this.$router.push({ path: "../../dashboard" });
      }
    }, 501);
    this.getQuestionTypes(localStorage.token);
  },
  computed: {
    closeFull() {
      return this.$store.state.closeQuestionInfo;
    },
    records() {
      return this.tableDataComputed.length;
    },
    computedCurrentPage() {
      // console.log(this.currentPage);
      if (this.records == 0) {
        return 0;
      } else {
        return this.currentPage;
      }
    },
    computedTotalPage() {
      if (this.records <= this.currentPage) {
        if (this.records == 0) {
          return 0;
        } else {
          return 1;
        }
      } else {
        let totalPage = this.records % this.perPage;
        if ((totalPage = 0)) {
          return parseInt(this.records / this.perPage);
        } else {
          return parseInt(this.records / this.perPage) + 1;
        }
      }
    },
    tableDataComputed() {
      // return this.tableData
      return this.tableData.filter(data => {
        return (
          data.questions.toLowerCase().includes(this.find.toLowerCase()) ||
          data.type.toLowerCase().includes(this.find.toLowerCase())
        );
      });
    },
    details() {
      return;
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;
.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
