<template>
  <div class="mainContainer">
    <div class="loginForm">
      <div class="logo"></div>

      <div class="appName">Application Form</div>

      <div class="subName">RecTrack v3</div>

      <div>
        <input
          type="text"
          class="loginFields"
          placeholder="Enter your email"
          v-model="user.email"
          @keyup.enter="login()"
          :input-attrs="{ autocomplete: true }"
        />

        <div class="passCons">
          <input
            :type="inpType"
            class="loginFields pass"
            placeholder="Enter the given password"
            v-model="user.pass"
            @keyup.enter="login()"
          />

          <div class="eye" @click="show()">
            <fa :icon="['fa', icn]" />
          </div>
        </div>

        <button class="loginButton loginBX" @click="login()">
          <span class="buttonName">Login</span>
        </button>

        <div class="sysLabel">&copy;{{ year }} Biotech Farms Inc.</div>
      </div>
      <div>
        <b-alert
          :show="alert.showAlert"
          :variant="alert.variant"
          @dismissed="alert.showAlert = null"
        >
          <fa
            :icon="
              alert.variant == 'success'
                ? 'check-circle'
                : 'exclamation-triangle'
            "
            class="mr-1"
            style="font-size:20px"
          />
          {{ alert.message }}</b-alert
        >
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      pass: false,
      icn: "eye",
      inpType: "password",
      user: {
        email: "",
        pass: ""
      },
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      }
    };
  },
  head() {
    return {
      title: "Application Form"
      // meta: [
      //   // hid is used as unique identifier. Do not use `vmid` for it as it will not work
      //   {
      //     hid: 'description',
      //     name: 'description',
      //     content: 'My custom description'
      //   }
      // ]
    };
  },
  created() {
    // CLEAR LOCAL STORAGE
    localStorage.clear();
  },
  computed: {
    year() {
      return new Date().getFullYear();
    }
  },
  methods: {
    login() {
      this.loader = true;

      // TEMPORARY LOGIN
      // localStorage.show_page = 1;
      // localStorage.done_percent = 16.66666666666667;
      // this.$router.push({ path: "../applicationFormFillUp" });
      // this.loader = false;

      // DO NOT USE
      // axios({
      //   method: "PUT",
      //   url: `${this.$axios.defaults.baseURL}/users/applicant/login/online-exam`,
      //   data: {
      //     email: this.user.email,
      //     password: this.user.pass
      //   }
      // }).then(
      //     result => {
      //       console.log("GET CATEGORIES: Success");
      //       console.log(result.data);

      //       // GO TO FORM FILL UP
      //       this.$router.push({ path: "../applicationFormFillUp" });
      //     },
      //     error => {
      //       console.log("GET CATEGORIES: Error");
      //       console.log(error);
      //     });

      // WORKING CODE
      axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/users/applicant/login/application-form`,
        data: {
          email: this.user.email.trim(),
          password: this.user.pass.trim()
        }
      }).then(
        res => {
          console.log("res", res);
          localStorage.id = res.data.patched.applicantID;
          localStorage.token = res.data.patched.token;
          localStorage.show_page = 1;
          localStorage.done_percent = 16.66666666666667;
          this.$router.push({ path: "../applicationFormFillUp" });
          this.loader = false;
          let msg = res.data.patched.msg;
          this.showAlert(msg, "success");
        },
        error => {
          // console.log(error.response.data.error);
          // // console.log(error.response.data.patched.msg);

          if (error.response.data.error) {
            let err = error.response.data.error;
            console.log(err);
            if (err == "Cannot read property 'token' of undefined") {
              err = "Invalid Account.";
            }
            this.showAlert(err, "danger");
          }
          if (error.response.data.patched.msg) {
            let err = error.response.data.patched.msg;
            this.showAlert(err, "danger");
          }
          this.loader = false;
        }
      );

      // IDK WHAT THIS IS
      // .then(() => this.redirects())
      // .catch(err => {
      //   let error = err.response.data.patched.msg;
      //   console.log(error);
      //   this.showAlert(error, "danger");
      // });
    },
    show() {
      this.pass = !this.pass;
      console.log(this.pass);
      if (this.pass == true) {
        this.icn = "eye-slash";
        this.inpType = "text";
      } else {
        this.icn = "eye";
        this.inpType = "password";
      }
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;
.logo {
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
  background-image: url("../assets/bfi_gradient.png");
  height: 80px;
  width: 100%;
}
@media only screen and (max-width: 320px), (max-width: 1000px) {
  .logo {
    background-size: 60px;
  }
}
.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
