<template>
  <div id="scrollrr" class="scrollrr">
    <div class="formCont">
      <section>
        <div class="formSection">
          <div class="formArticle">
            <div class="formHeader">
              <div class="centerAl">
                <img
                  class="formLogo"
                  src="/logos/bfi_full.png"
                  alt="applicant name"
                />
              </div>
              <div class="centerAl">
                <div class="formLabel">BO.6, BANGA, SOUTH COTABATO</div>
              </div>
              <div class="centerAl">
                <div class="formSub">EMPLOYMENT APPLICATION FORM</div>
              </div>
              <br />
            </div>
            <div class="formData">
              <table class="formBorder">
                <tr class="rowMargin">
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="5">
                    <div class="formLabel">POSITION APPLIED</div>
                    <div class="formAnswer">
                      <b>1st choice : </b> {{ userData.positionFirstChoice }}
                    </div>
                    <div class="formAnswer">
                      <b>2nd choice : </b> {{ userData.positionSecondChoice }}
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="formLabel">DESIRED SALARY</div>
                    <div class="formAnswer">{{ basicInfo.salary_desired }}</div>
                  </td>
                  <td colspan="2">
                    <div class="formLabel">APPLICATION DATE</div>
                    <div
                      class="formAnswer"
                      v-if="String(basicInfo.date_application)"
                    >
                      {{ formateDate(basicInfo.date_application) }}
                    </div>
                    <div class="formAnswer" v-else>
                      No Date
                    </div>
                  </td>
                  <td colspan="3" rowspan="4">
                    <div class="applicantPicture">
                      <img
                        class="applicantPictureImg"
                        :src="
                          `${this.$axios.defaults.baseURL}` +
                            '/' +
                            userData.userImage
                        "
                        :alt="userData.lastname"
                      />
                    </div>
                  </td>
                </tr>
                <!-- ============================ GENERAL INFORMATION ============================ -->
                <tr>
                  <td class="formDivide" colspan="9">
                    <div class="formLabel2"><b>I.</b> GENERAL INFORMATION</div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="3">
                    <div class="formLabel">SURNAME</div>
                    <div class="formAnswer">{{ userData.lastname }}</div>
                  </td>
                  <td colspan="3">
                    <div class="formLabel">FIRST NAME</div>
                    <div class="formAnswer">{{ userData.firstname }}</div>
                  </td>
                  <td colspan="3">
                    <div class="formLabel">MIDDLE NAME</div>
                    <div class="formAnswer">{{ userData.middlename }}</div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="9">
                    <div class="formLabel">CITY ADDRESS</div>
                    <div class="formAnswer">
                      {{
                        basicInfo.unitroomnumberfloor
                          ? basicInfo.unitroomnumberfloor + ", "
                          : ""
                      }}
                      {{
                        basicInfo.buildingname
                          ? basicInfo.buildingname + ", "
                          : ""
                      }}
                      {{
                        basicInfo.lotblockphasehousenumber
                          ? basicInfo.lotblockphasehousenumber + ", "
                          : ""
                      }}
                      {{
                        basicInfo.streetname ? basicInfo.streetname + ", " : ""
                      }}
                      {{
                        basicInfo.villagesubdivision
                          ? basicInfo.villagesubdivision + ", "
                          : ""
                      }}
                      {{ basicInfo.barangay ? basicInfo.barangay + ", " : "" }}
                      {{
                        basicInfo.municipality
                          ? basicInfo.municipality + ", "
                          : ""
                      }}
                      {{
                        basicInfo.cityprovince
                          ? basicInfo.cityprovince + ", "
                          : ""
                      }}
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="9">
                    <div class="formLabel">PROVINCIAL ADDRESS</div>
                    <div class="formAnswer">
                      {{ basicInfo.barangay ? basicInfo.barangay + ", " : "" }}
                      {{
                        basicInfo.municipality
                          ? basicInfo.municipality + ", "
                          : ""
                      }}
                      {{
                        basicInfo.cityprovince
                          ? basicInfo.cityprovince + ", "
                          : ""
                      }}
                    </div>
                  </td>
                  <td colspan="3" rowspan="2">
                    <div class="formLabel">CONTACT NO.</div>
                    <div class="formAnswer">
                      <b>HOME :</b> {{ userData.mobile }}
                    </div>
                    <div class="formAnswer"><b>OFFICE :</b></div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="4">
                    <div class="formLabel">PLACE OF BIRTH</div>
                    <div class="formAnswer">{{ basicInfo.place_birth }}</div>
                  </td>
                  <td colspan="2">
                    <div class="formLabel">DATE OF BIRTH</div>
                    <div class="formAnswer" v-if="String(basicInfo.bday) != ''">
                      {{
                        new Date(
                          String(basicInfo.bday).split("T")[0]
                        ).toLocaleString("default", { month: "long" })
                      }}
                      {{
                        new Date(
                          String(basicInfo.bday).split("T")[0]
                        ).getDate()
                      }},
                      {{
                        new Date(
                          String(basicInfo.bday).split("T")[0]
                        ).getFullYear()
                      }}
                    </div>
                    <div class="formAnswer" v-else>
                      No Date of Birth
                    </div>
                  </td>
                  <td colspan="1">
                    <div class="formLabel">AGE</div>
                    <div class="formAnswer">{{ basicInfo.age }}</div>
                  </td>
                  <td colspan="1">
                    <div class="formLabel">HEIGHT</div>
                    <div class="formAnswer">{{ basicInfo.height }}</div>
                  </td>
                  <td colspan="1">
                    <div class="formLabel">WEIGHT</div>
                    <div class="formAnswer">{{ basicInfo.weight }}</div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="3">
                    <div class="formLabel">GENDER</div>
                    <div class="formAnswer">
                      <div class="alignRight">
                        <div class="square">
                          <fa
                            :icon="['fa', 'check']"
                            v-show="
                              basicInfo.gender == 'MALE' ||
                                basicInfo.gender == 'male'
                            "
                          />
                        </div>
                        &ensp; MALE &emsp;

                        <div class="square">
                          <fa
                            :icon="['fa', 'check']"
                            v-show="
                              basicInfo.gender == 'FEMALE' ||
                                basicInfo.gender == 'female'
                            "
                          />
                        </div>
                        &ensp; FEMALE
                      </div>
                    </div>
                  </td>
                  <td colspan="6">
                    <div class="alignRight">
                      <div class="formLabel">SINGLE PARENT &emsp;</div>
                      <div class="square">
                        <fa
                          :icon="['fa', 'check']"
                          v-show="basicInfo.is_single_parent == true"
                        />
                      </div>
                      &ensp; YES &emsp;

                      <div class="square">
                        <fa
                          :icon="['fa', 'check']"
                          v-show="basicInfo.is_single_parent == false"
                        />
                      </div>
                      &ensp; NO
                    </div>
                    <div class="formLabel">CIVIL STATUS</div>
                    <div class="formAnswer">
                      <div class="alignRight">
                        <div class="square">
                          <fa
                            :icon="['fa', 'check']"
                            v-show="
                              basicInfo.civil_status == 'SINGLE' ||
                                basicInfo.civil_status == 'single'
                            "
                          />
                        </div>
                        &ensp; SINGLE &emsp;

                        <div class="square">
                          <fa
                            :icon="['fa', 'check']"
                            v-show="
                              basicInfo.civil_status == 'MARRIED' ||
                                basicInfo.civil_status == 'married'
                            "
                          />
                        </div>
                        &ensp; MARRIED &emsp;

                        <div class="square">
                          <fa
                            :icon="['fa', 'check']"
                            v-show="
                              basicInfo.civil_status == 'WIDOWER' ||
                                basicInfo.civil_status == 'widower'
                            "
                          />
                        </div>
                        &ensp; WIDOWER &emsp;

                        <div class="square">
                          <fa
                            :icon="['fa', 'check']"
                            v-show="
                              basicInfo.civil_status == 'SEPARATED' ||
                                basicInfo.civil_status == 'separated'
                            "
                          />
                        </div>
                        &ensp; SEPARATED
                      </div>
                    </div>
                  </td>
                  <td colspan="3" class="noPadding">
                    <div class="customTD">
                      <div class="alignRight">
                        <div class="formLabel">CITIZENSHIP :</div>
                        <div class="formAnswer">
                          {{ basicInfo.citizenship }}
                        </div>
                      </div>
                    </div>
                    <div class="customTD border-top">
                      <div class="alignRight">
                        <div class="formLabel">RELIGION :</div>
                        <div class="formAnswer">{{ basicInfo.religion }}</div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="6">
                    <div class="formLabel">
                      WHO REFERRED YOU TO THIS COMPANY?
                    </div>
                    <div class="formAnswer">
                      {{
                        basicInfo.who_referred ? basicInfo.who_referred : "NONE"
                      }}
                    </div>
                  </td>
                  <td colspan="6">
                    <div class="formLabel">HOW SOON CAN YOU START? &emsp;</div>
                    <div class="formAnswer">{{ basicInfo.when_to_start }}</div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="12">
                    <div class="formLabel">RELATIVE IN OUR COMPANY</div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="3"><div class="formLabel3">FULL NAME</div></td>
                  <td colspan="3">
                    <div class="formLabel3">RELATIONSHIP</div>
                  </td>
                  <td colspan="3"><div class="formLabel3">POSITION</div></td>
                  <td colspan="3"><div class="formLabel3">BRANCH</div></td>
                </tr>
                <tr
                  class="rowMargin"
                  valign="top"
                  v-for="(data, r) in relativesInComp"
                  :key="'r' + r"
                >
                  <td colspan="3">
                    <div class="formAnswer3">
                      {{ data.full_name ? data.full_name : "-" }}
                    </div>
                  </td>
                  <td colspan="3">
                    <div class="formAnswer3">
                      {{ data.relationship ? data.relationship : "-" }}
                    </div>
                  </td>
                  <td colspan="3">
                    <div class="formAnswer3">
                      {{ data.position ? data.position : "-" }}
                    </div>
                  </td>
                  <td colspan="3">
                    <div class="formAnswer3">
                      {{ data.branch ? data.branch : "-" }}
                    </div>
                  </td>
                </tr>
                <tr
                  class="rowMargin"
                  valign="top"
                  v-show="
                    relativesInComp == undefined || relativesInComp.length == 0
                  "
                >
                  <td colspan="12">
                    <div class="formAnswer3">
                      No relatives within the company
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="5">
                    <div class="formLabel">
                      PERSON TO NOTIFY IN CASE OF EMERGENCY
                    </div>
                    <div class="formAnswer">
                      {{ basicInfo.person_to_notify }}
                    </div>
                  </td>
                  <td colspan="1">
                    <div class="formLabel">RELATIONSHIP</div>
                    <div class="formAnswer">
                      {{ basicInfo.person_relationship }}
                    </div>
                  </td>
                  <td colspan="6">
                    <div class="formLabel">ADDRESS/TELEPHONE</div>
                    <div class="formAnswer">
                      {{
                        basicInfo.person_address
                          ? basicInfo.person_address + " / "
                          : ""
                      }}
                      {{
                        basicInfo.person_telephone
                          ? basicInfo.person_telephone
                          : ""
                      }}
                    </div>
                  </td>
                </tr>

                <!-- ============================ TECHNICAL BACKGROUND ============================ -->
                <tr>
                  <td class="formDivide" colspan="12">
                    <div class="formLabel2">
                      <b>II.</b> TECHNICAL BACKGROUND
                    </div>
                  </td>
                </tr>

                <tr class="rowMargin" valign="top">
                  <td colspan="12">
                    <div class="formLabel">A. EDUCATIONAL RECORD</div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="3">
                    <div class="formLabel3">EDUCATIONAL ATTAINMENT</div>
                  </td>
                  <td colspan="3">
                    <div class="formLabel3">NAME OF SCHOOL/ADDRESS</div>
                  </td>
                  <td colspan="2">
                    <div class="formLabel3">COURSE/DEGREE</div>
                  </td>
                  <td colspan="1">
                    <div class="formLabel3">YEARS</div>
                  </td>
                  <td colspan="3">
                    <div class="formLabel3">
                      AWARDS AND SCHOLARSHIPS RECEIVED
                    </div>
                  </td>
                </tr>
                <tr
                  class="rowMargin"
                  valign="top"
                  v-for="(data, e) in educBG"
                  :key="'e' + e"
                >
                  <td colspan="3">
                    <div class="formAnswer3">
                      {{
                        data.educational_attainment
                          ? data.educational_attainment
                          : "-"
                      }}
                    </div>
                  </td>
                  <td colspan="3">
                    <div class="formAnswer3">
                      {{
                        data.institution_name
                          ? data.institution_name + " / "
                          : ""
                      }}
                      {{
                        data.institution_address ? data.institution_address : ""
                      }}
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="formAnswer3">
                      {{ data.course_degree ? data.course_degree : "-" }}
                    </div>
                  </td>
                  <td colspan="1">
                    <div class="formAnswer3">
                      {{ data.years_attended ? data.years_attended : "-" }}
                    </div>
                  </td>
                  <td colspan="3">
                    <div class="formAnswer3">
                      {{ data.honors_awards ? data.honors_awards : "-" }}
                    </div>
                  </td>
                </tr>
                <tr
                  class="rowMargin"
                  valign="top"
                  v-show="educBG == undefined || educBG.length == 0"
                >
                  <td colspan="3">
                    <div class="formAnswer3">No educational background</div>
                  </td>
                </tr>

                <tr class="rowMargin" valign="top">
                  <td colspan="12">
                    <div class="formLabel">B. PROFESSIONAL LICENSES HELD</div>
                  </td>
                </tr>
                <tr
                  class="rowMargin"
                  valign="top"
                  v-for="(data, p) in profLicense"
                  :key="'p' + p"
                >
                  <td colspan="6">
                    <div class="alignRight">
                      <div class="formLabel3">
                        Certificate / Professional License
                      </div>
                      <div class="formAnswer3">
                        {{
                          data.professional_licenses_held
                            ? data.professional_licenses_held
                            : "N/A"
                        }}
                      </div>
                    </div>
                  </td>
                  <td colspan="6">
                    <div class="alignRight">
                      <div class="formLabel3">Certificate No.</div>
                      <div class="formAnswer3">
                        {{
                          data.certification_number
                            ? data.certification_number
                            : "N/A"
                        }}
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td
                    colspan="12"
                    v-show="profLicense == undefined || profLicense.length == 0"
                  >
                    <div class="alignRight">
                      <div class="formAnswer3">
                        No certificates or professional licenses
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="6">
                    <div class="alignRight">
                      <div class="formLabel3">CIVIL SERVICE ELIGIBILITY :</div>
                      <div class="formAnswer3">
                        {{
                          basicInfo.cs_eligible ? basicInfo.cs_eligible : "N/A"
                        }}
                      </div>
                    </div>
                  </td>
                  <td colspan="6">
                    <div class="alignRight">
                      <div class="formLabel3">DATE TAKEN :</div>
                      <div class="formAnswer3">
                        {{
                          basicInfo.cs_date_taken
                            ? basicInfo.cs_date_taken
                            : "N/A"
                        }}
                      </div>
                    </div>
                  </td>
                </tr>

                <tr class="rowMargin" valign="top">
                  <td colspan="12">
                    <div class="formLabel">
                      C. MEMBERSHIP IN PROFESSIONAL/CIVIC ORGANIZATION
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="5">
                    <div class="formLabel3">ASSOCIATION NAME</div>
                  </td>
                  <td colspan="5">
                    <div class="formLabel3">POSITION TITLE</div>
                  </td>
                  <td colspan="2">
                    <div class="formLabel3">YEAR PARTICIPATION</div>
                  </td>
                </tr>
                <tr
                  class="rowMargin"
                  valign="top"
                  v-for="(data, m) in memberships"
                  :key="'m' + m"
                >
                  <td colspan="5">
                    <div class="formAnswer3">
                      {{ data.association_name ? data.association_name : "-" }}
                    </div>
                  </td>
                  <td colspan="5">
                    <div class="formAnswer3">
                      {{ data.position_title ? data.position_title : "-" }}
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="formAnswer3">
                      {{
                        data.year_participation ? data.year_participation : "-"
                      }}
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td
                    colspan="12"
                    v-show="memberships == undefined || memberships.length == 0"
                  >
                    <div class="alignRight">
                      <div class="formAnswer3">
                        No membership in professional or civic organization
                      </div>
                    </div>
                  </td>
                </tr>

                <tr class="rowMargin" valign="top">
                  <td colspan="12">
                    <div class="formLabel">
                      D. SPECIAL TRAININGS/SEMINARS/WORKSHOPS/ATTENDED
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="5"><div class="formLabel3">TITLE</div></td>
                  <td colspan="5">
                    <div class="formLabel3">VENUE/CONDUCTED BY</div>
                  </td>
                  <td colspan="2"><div class="formLabel3">DATE</div></td>
                </tr>
                <tr
                  class="rowMargin"
                  valign="top"
                  v-for="(data, s) in seminars"
                  :key="'s' + s"
                >
                  <td colspan="5">
                    <div class="formAnswer3">
                      {{ data.seminar_name ? data.seminar_name + " - " : "" }}
                      {{ data.description ? data.description : "" }}
                    </div>
                  </td>
                  <td colspan="5">
                    <div class="formAnswer3">
                      {{ data.venue ? data.venue : "" }}
                      {{
                        data.conducted_by ? " - By: " + data.conducted_by : ""
                      }}
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="formAnswer3">
                      {{ data.dates ? data.dates : "-" }}
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td
                    colspan="12"
                    v-show="seminars == undefined || seminars.length == 0"
                  >
                    <div class="alignRight">
                      <div class="formAnswer3">
                        No special trainings, seminars, or any workshops,
                        attended
                      </div>
                    </div>
                  </td>
                </tr>

                <!-- ============================ WORK EXPERIENCES ============================ -->
                <tr>
                  <td class="formDivide" colspan="12">
                    <div class="formLabel2">
                      <b>III.</b> WORK EXPERIENCES (Start with your latest
                      employer)
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="4">
                    <div class="formLabel3">COMPANY/ADDRESS</div>
                  </td>
                  <td colspan="2"><div class="formLabel3">POSITION</div></td>
                  <td colspan="1"><div class="formLabel3">SALARY</div></td>
                  <td colspan="1"><div class="formLabel3">STARTED</div></td>
                  <td colspan="1"><div class="formLabel3">ENDED</div></td>
                  <td colspan="3">
                    <div class="formLabel3">REASON FOR LEAVING</div>
                  </td>
                </tr>
                <tr
                  class="rowMargin"
                  valign="top"
                  v-for="(data, w) in workEx"
                  :key="'w' + w"
                >
                  <td colspan="4">
                    <div class="formAnswer3">
                      {{ data.company_name ? data.company_name + ", " : "" }}
                      {{ data.address ? data.address : "" }}
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="formAnswer3">
                      {{ data.position ? data.position : "-" }}
                    </div>
                  </td>
                  <td colspan="1">
                    <div class="formAnswer3">
                      {{ data.last_salary ? data.last_salary : "-" }}
                    </div>
                  </td>
                  <td colspan="1">
                    <div class="formAnswer3">
                      {{ data.start_date ? data.start_date : "-" }}
                    </div>
                  </td>
                  <td colspan="1">
                    <div class="formAnswer3">
                      {{ data.end_date ? data.end_date : "-" }}
                    </div>
                  </td>
                  <td colspan="3">
                    <div class="formAnswer3">
                      {{ data.reason_leaving ? data.reason_leaving : "-" }}
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td
                    colspan="12"
                    v-show="workEx == undefined || workEx.length == 0"
                  >
                    <div class="alignRight">
                      <div class="formAnswer3">No previous work experience</div>
                    </div>
                  </td>
                </tr>

                <tr class="rowMargin" valign="top">
                  <td colspan="12">
                    <div class="alignRight">
                      <div class="formLabel">
                        HAVE YOU PREVIOUSLY WORKED WITH BIOTECH AND/OR ANY OF
                        ITS AFFILIATES? &emsp;
                      </div>
                      <div class="formAnswer">
                        <span v-if="workedInBFI == true">YES</span>
                        <span v-else>NO</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="4">
                    <div class="formLabel">IF YES, WHAT BRANCH/COMPANY?</div>
                  </td>
                  <td colspan="2"><div class="formLabel">WHEN</div></td>
                  <td colspan="3"><div class="formLabel">POSITION</div></td>
                  <td colspan="3"><div class="formLabel">DEPARTMENT</div></td>
                </tr>
                <tr
                  class="rowMargin"
                  valign="top"
                  v-for="(data, b) in BFI_workData"
                  :key="'b' + b"
                  v-show="workedInBFI == true"
                >
                  <td colspan="4">
                    <div class="formAnswer">
                      {{ data.branch_company ? data.branch_company : "-" }}
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="formAnswer">
                      {{ data.dates ? data.dates : "-" }}
                    </div>
                  </td>
                  <td colspan="3">
                    <div class="formAnswer">
                      {{ data.department ? data.department : "-" }}
                    </div>
                  </td>
                  <td colspan="3">
                    <div class="formAnswer">
                      {{ data.position ? data.position : "-" }}
                    </div>
                  </td>
                </tr>
                <tr
                  class="rowMargin"
                  valign="top"
                  v-show="workedInBFI == false"
                >
                  <td
                    colspan="12"
                    v-show="workEx == undefined || workEx.length == 0"
                  >
                    <div class="alignRight">
                      <div class="formAnswer3">No previous work in BFI</div>
                    </div>
                  </td>
                </tr>

                <!-- ============================ OTHER INFORMATION ============================ -->
                <tr>
                  <td class="formDivide" colspan="12">
                    <div class="formLabel2"><b>IV.</b> OTHER INFORMATION</div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="6">
                    <div class="alignRight">
                      <div class="formLabel">SPECIAL SKILLS :&emsp;&emsp;</div>
                      <div class="formAnswer">
                        <b>TYPING :</b> &ensp;{{
                          otherInfo ? otherInfo.typing_wpm + " wpm" : ""
                        }}
                      </div>
                      &emsp;&emsp;
                      <div class="formAnswer">
                        <b>STENO :</b> &ensp;{{
                          otherInfo ? otherInfo.steno_wpm + " wpm" : ""
                        }}
                      </div>
                    </div>
                  </td>
                  <td colspan="6">
                    <div class="alignRight">
                      <div class="formAnswer">
                        <div class="alignRight">
                          <div class="square">
                            <fa
                              :icon="['fa', 'check']"
                              v-show="otherInfo && otherInfo.computer == true"
                            />
                          </div>
                          &ensp; <b>COMPUTER</b>
                        </div>
                      </div>
                      &emsp;&emsp;
                      <div class="formAnswer">
                        <div class="alignRight">
                          <div class="square">
                            <fa
                              :icon="['fa', 'check']"
                              v-show="otherInfo && otherInfo.art_work == true"
                            />
                          </div>
                          &ensp; <b>ART WORK</b>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="1">
                    <div class="formLabel">HOBBIES</div>
                  </td>
                  <td colspan="11">
                    <div class="formAnswer">
                      {{ otherInfo ? otherInfo.hobbies : "" }}
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="5">
                    <div class="formLabel">
                      LANGUAGES/DIALECTS YOU CAN SPEAK AND WRITE
                    </div>
                  </td>
                  <td colspan="7">
                    <div class="formAnswer">
                      {{ otherInfo ? otherInfo.language_speak_write : "" }}
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="5">
                    <div class="formLabel">
                      MACHINES/EQUIPMENTS YOU CAN OPERATE
                    </div>
                  </td>
                  <td colspan="7">
                    <div class="formAnswer">
                      {{ otherInfo ? otherInfo.machines_can_operate : "" }}
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="5">
                    <div class="formLabel">
                      HAVE YOU EVER BEEN CONVICTED OF ANY CRIME?
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="formAnswer">
                      <div class="alignRight">
                        <div class="square">
                          <fa
                            :icon="['fa', 'check']"
                            v-show="
                              otherInfo &&
                                otherInfo.any_crime_committed == false
                            "
                          />
                        </div>
                        &ensp; NO &emsp;&emsp;
                        <div class="square">
                          <fa
                            :icon="['fa', 'check']"
                            v-show="
                              otherInfo && otherInfo.any_crime_committed == true
                            "
                          />
                        </div>
                        &ensp; YES
                      </div>
                    </div>
                  </td>
                  <td colspan="5">
                    <div class="formAnswer3">
                      IF YES, GIVE DETAILS&ensp;:&ensp;{{
                        otherInfo ? otherInfo.crime_details : ""
                      }}
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="5">
                    <div class="formLabel">
                      HAVE YOU EVER BEEN HOSPITALIZED?
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="formAnswer">
                      <div class="alignRight">
                        <div class="square">
                          <fa
                            :icon="['fa', 'check']"
                            v-show="
                              otherInfo && otherInfo.been_hospitalized == false
                            "
                          />
                        </div>
                        &ensp; NO &emsp;&emsp;
                        <div class="square">
                          <fa
                            :icon="['fa', 'check']"
                            v-show="
                              otherInfo && otherInfo.been_hospitalized == true
                            "
                          />
                        </div>
                        &ensp; YES
                      </div>
                    </div>
                  </td>
                  <td colspan="5">
                    <div class="formAnswer3">
                      IF YES, GIVE DETAILS&ensp;:&ensp;{{
                        otherInfo ? otherInfo.hospitalized_details : ""
                      }}
                    </div>
                  </td>
                </tr>

                <!-- ============================ FAMILY BACKGROUND ============================ -->
                <tr>
                  <td class="formDivide" colspan="12">
                    <div class="formLabel2"><b>V.</b> FAMILY BACKGROUND</div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="3"><div class="formLabel3">NAME</div></td>
                  <td colspan="2">
                    <div class="formLabel3">RELATIONSHIP</div>
                  </td>
                  <td colspan="1"><div class="formLabel3">AGE</div></td>
                  <td colspan="2"><div class="formLabel3">OCCUPATION</div></td>
                  <td colspan="4">
                    <div class="formLabel3">COMPANY ADDRESS</div>
                  </td>
                </tr>
                <tr
                  class="rowMargin"
                  valign="top"
                  v-for="(data, f) in family"
                  :key="'f' + f"
                >
                  <td colspan="3">
                    <div class="formAnswer3">{{ data ? data.name : "-" }}</div>
                  </td>
                  <td colspan="2">
                    <div class="formAnswer3">
                      {{ data ? data.relationship : "-" }}
                    </div>
                  </td>
                  <td colspan="1">
                    <div class="formAnswer3">{{ data ? data.age : "-" }}</div>
                  </td>
                  <td colspan="2">
                    <div class="formAnswer3">
                      {{ data ? data.occupation : "-" }}
                    </div>
                  </td>
                  <td colspan="4">
                    <div class="formAnswer3">
                      {{ data ? data.company_address : "-" }}
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td
                    colspan="12"
                    v-show="family == undefined || family.length == 0"
                  >
                    <div class="alignRight">
                      <div class="formAnswer3">
                        No information regarding family background
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td colspan="12">
                    <div class="alignRight">
                      <div class="square">
                        <fa
                          :icon="['fa', 'check']"
                          v-show="isMarried && isMarried.is_married == true"
                        />
                      </div>
                      &ensp;
                      <div class="formLabel">IS MARRIED &emsp;</div>
                      <div class="formAnswer">
                        NUMBER OF CHILDREN :&ensp;
                        {{ isMarried ? isMarried.number_children : "" }}
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="12">
                    <div class="alignRight">
                      <div class="formLabel">DO YOU: &emsp;</div>
                      <div class="square">
                        <fa
                          :icon="['fa', 'check']"
                          v-show="
                            isMarried &&
                              String(isMarried.do_you).includes('Rent')
                          "
                        />
                      </div>
                      <div class="formAnswer">
                        &ensp; RENT &emsp;&emsp;
                      </div>

                      <div class="square">
                        <fa
                          :icon="['fa', 'check']"
                          v-show="
                            isMarried &&
                              String(isMarried.do_you).includes('Board')
                          "
                        />
                      </div>
                      <div class="formAnswer">
                        &ensp; BOARD &emsp;&emsp;
                      </div>

                      <div class="square">
                        <fa
                          :icon="['fa', 'check']"
                          v-show="
                            isMarried &&
                              String(isMarried.do_you).includes('own')
                          "
                        />
                      </div>
                      <div class="formAnswer">
                        &ensp; LIVE IN OWN HOUSE &emsp;&emsp;
                      </div>

                      <div class="square">
                        <fa
                          :icon="['fa', 'check']"
                          v-show="
                            isMarried &&
                              String(isMarried.do_you).includes('relative')
                          "
                        />
                      </div>
                      <div class="formAnswer">
                        &ensp; LIVE IN RELATIVE'S HOUSE
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="12">
                    <div class="alignRight">
                      <div class="formLabel">WITH WHO: &emsp;</div>
                      <div class="square">
                        <fa
                          :icon="['fa', 'check']"
                          v-show="
                            isMarried &&
                              String(isMarried.with_who).includes('Parent')
                          "
                        />
                      </div>
                      <div class="formAnswer">
                        &ensp; PARENTS &emsp;&emsp;
                      </div>

                      <div class="square">
                        <fa
                          :icon="['fa', 'check']"
                          v-show="
                            isMarried &&
                              String(isMarried.with_who).includes(
                                'Brothers/Sisters'
                              )
                          "
                        />
                      </div>
                      <div class="formAnswer">
                        &ensp; SIBLINGS &emsp;&emsp;
                      </div>

                      <div class="square">
                        <fa
                          :icon="['fa', 'check']"
                          v-show="
                            isMarried &&
                              String(isMarried.with_who).includes('Relative')
                          "
                        />
                      </div>
                      <div class="formAnswer">
                        &ensp; RELATIVES &emsp;&emsp;
                      </div>

                      <div class="square">
                        <fa
                          :icon="['fa', 'check']"
                          v-show="
                            isMarried &&
                              String(isMarried.with_who).includes('Other')
                          "
                        />
                      </div>
                      <div class="formAnswer">
                        &ensp; OTHERS
                      </div>
                    </div>
                  </td>
                </tr>

                <!-- ============================ REFERENCES ============================ -->
                <tr>
                  <td class="formDivide" colspan="12">
                    <div class="formLabel2">
                      <b>VI.</b> REFERENCES (Not Relatives)
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="3"><div class="formLabel3">NAME</div></td>
                  <td colspan="3">
                    <div class="formLabel3">ADDRESS/CONTACT</div>
                  </td>
                  <td colspan="3"><div class="formLabel3">OCCUPATION</div></td>
                  <td colspan="3">
                    <div class="formLabel3">HOW LONG KNOWN</div>
                  </td>
                </tr>
                <tr
                  class="rowMargin"
                  valign="top"
                  v-for="(data, r) in reference"
                  :key="'r' + r"
                  v-show="reference != undefined || reference.length != 0"
                >
                  <td colspan="3">
                    <div class="formAnswer3">
                      {{ data ? data.name : "-" }}
                    </div>
                  </td>
                  <td colspan="3">
                    <div class="formAnswer3">
                      {{ data ? data.address : "-" }} /
                      {{ data ? data.telephone : "-" }}
                    </div>
                  </td>
                  <td colspan="3">
                    <div class="formAnswer3">
                      {{ data ? data.occupation : "-" }}
                    </div>
                  </td>
                  <td colspan="3">
                    <div class="formAnswer3">
                      {{ data ? data.how_long_known : "-" }}
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td
                    colspan="12"
                    v-show="reference == undefined || reference.length == 0"
                  >
                    <div class="alignRight">
                      <div class="formAnswer3">No listed references</div>
                    </div>
                  </td>
                </tr>

                <!-- ============================ EXPLAINATION ============================ -->
                <tr>
                  <td class="formDivide" colspan="12">
                    <div class="formLabel2">
                      <b
                        >EXPLAIN WHY SHOULD BE CONSIDERED FOR THE POSITION (AT
                        LEAST 50 WORDS)</b
                      >
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="formAnswer" colspan="12">
                    <div class="fieldText">
                      {{
                        willing
                          ? willing.explain_why_hire
                          : "No explaination found"
                      }}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="12">
                    <div class="alignRight">
                      <div class="formLabel">
                        Are you willing to undergo training as apprentice?
                        &emsp;
                      </div>
                      <div class="square">
                        <fa
                          :icon="['fa', 'check']"
                          v-show="
                            willing && willing.willing_train_apprentice == true
                          "
                        />
                      </div>
                      <div class="formAnswer">
                        &ensp; Yes &emsp;&emsp;
                      </div>
                      <div class="square">
                        <fa
                          :icon="['fa', 'check']"
                          v-show="
                            willing && willing.willing_train_apprentice == false
                          "
                        />
                      </div>
                      <div class="formAnswer">
                        &ensp; No &emsp;&emsp;
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="12">
                    <div class="alignRight">
                      <div class="formLabel">
                        Are you willing to post BOND should the nature of your
                        job applied requires so? &emsp;
                      </div>
                      <div class="square">
                        <fa
                          :icon="['fa', 'check']"
                          v-show="willing && willing.willing_to_BOND == true"
                        />
                      </div>
                      <div class="formAnswer">
                        &ensp; Yes &emsp;&emsp;
                      </div>
                      <div class="square">
                        <fa
                          :icon="['fa', 'check']"
                          v-show="willing && willing.willing_to_BOND == false"
                        />
                      </div>
                      <div class="formAnswer">
                        &ensp; No &emsp;&emsp;
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="2"><div class="formLabel3">SSS No.</div></td>
                  <td colspan="2"><div class="formLabel3">TIN No.</div></td>
                  <td colspan="2">
                    <div class="formLabel3">RESIDENTIAL CERTIFICATE</div>
                  </td>
                  <td colspan="2"><div class="formLabel3">DATE ISSUED</div></td>
                  <td colspan="4"><div class="formLabel3">PLACE</div></td>
                </tr>
                <tr class="rowMargin" valign="top">
                  <td colspan="2">
                    <div class="formAnswer3">
                      {{ willing ? willing.sss : "-" }}
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="formAnswer3">
                      {{ willing ? willing.tin : "-" }}
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="formAnswer3">
                      {{ willing ? willing.residence_certificate : "-" }}
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="formAnswer3">
                      {{
                        willing ? willing.residence_certificate_date_issue : "-"
                      }}
                    </div>
                  </td>
                  <td colspan="4">
                    <div class="formAnswer3">
                      {{
                        willing
                          ? willing.residence_certificate_place_issue
                          : "-"
                      }}
                    </div>
                  </td>
                </tr>
                <tr class="rowMargin">
                  <td colspan="12">
                    <div class="noterr">
                      I understand that any misinterpretation or falsification
                      or any omission of facts, of whatever nature required by
                      this application shall be considered sufficient cause for
                      dismissal at any time during my employment with Biotech
                      Farms Inc.
                    </div>
                    <div class="alignLeft">
                      <div class="applicantName">
                        {{ userData ? userData.firstname + " " : "-" }}
                        <!-- {{ userData ? userData.middlename + ". " : "-" }} -->
                        {{ userData ? userData.lastname : "-" }}
                      </div>
                    </div>
                    <div class="alignLeft">
                      <div class="applicantSignature">
                        APPLICANT'S SIGNATURE OVER PRINTED NAME/DATE
                      </div>
                    </div>
                    <br />
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>

    <button id="printr" class="printr" @click="prints()">
      <fa :icon="['fa', 'print']" />
    </button>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";

export default {
  data() {
    return {
      appFormData: []
    };
  },
  methods: {
    formateDate(date) {
      if (date == null || date == " " || date == "") {
        return "No Date";
      } else {
        return moment(date).format("MMMM DD, YYYY");
      }
    },
    prints() {
      document.getElementById("scrollrr").classList.remove("scrollrr");
      document.getElementById("printr").style.display = "none";
      window.print();
    }
  },
  created() {
    var token = this.$route.query.token;
    var id = this.$route.query.id;

    // ADD SCROLLER
    window.addEventListener("afterprint", function() {
      document.getElementById("printr").style.display = "block";
      document.getElementById("scrollrr").classList.add("scrollrr");
    });

    // REMOVE SCROLLER (To automatically break pages)
    document.addEventListener(
      "keydown",
      function(e) {
        // CTRL + P
        if (e.ctrlKey && e.keyCode == 80) {
          document.getElementById("printr").style.display = "none";
          document.getElementById("scrollrr").classList.remove("scrollrr");
        }
      },
      false
    );

    axios({
      method: "GET",
      url: `${this.$axios.defaults.baseURL}/users/application-form-view/${id}`,
      headers: {
        Authorization: `Bearer ${token}`
      }
    }).then(res => {
      this.appFormData = res.data.view[0];
      console.log("====================================");
      console.log("appFormData");
      console.log("====================================");
      console.log(this.appFormData);
      console.log("====================================");
    });
  },
  computed: {
    userData() {
      // APPLICANT DATA
      if (this.appFormData.results != undefined) {
        var temp = this.appFormData.results;
        for (var c = 0; c < temp.length; c++) {
          console.log("====================================");
          console.log("APPLICANT DATA");
          console.log("====================================");
          console.log(temp[c].userData[0]);
          console.log("====================================");

          return temp[c].userData[0];
        }
      } else {
        return [];
      }
    },
    basicInfo() {
      // BASIC INFORMATION
      if (this.appFormData.userData != undefined) {
        var temp = this.appFormData.userData;
        for (var c = 0; c < temp.length; c++) {
          console.log("====================================");
          console.log("BASIC INFORMATION");
          console.log("====================================");
          console.log(temp[c]);
          console.log("====================================");

          return temp[c];
        }
      } else {
        return [];
      }
    },
    relativesInComp() {
      // RELATIVES WITHIN THE COMPANY
      if (this.appFormData.relativeArray != undefined) {
        var temp = this.appFormData.relativeArray;
        // console.log(temp);
        for (var c = 0; c < temp.length; c++) {
          console.log("====================================");
          console.log("RELATIVES WITHIN THE COMPANY");
          console.log("====================================");
          console.log(temp[c]);
          console.log("====================================");

          return temp[c];
        }
      } else {
        return [];
      }
    },
    educBG() {
      // EDUCATIONAL BACKGROUND
      console.log("this.appFormData.", this.appFormData);
      if (this.appFormData.educationalBgArray != undefined) {
        var temp = this.appFormData.educationalBgArray;
        var finalData = [];
        if (this.appFormData.educationalBgArray.length != 0) {
          for (var c = 0; c < temp[0].educational_attainment.length; c++) {
            finalData.push({
              years_attended: temp[0].years_attended[c],
              educational_attainment: temp[0].educational_attainment[c],
              honors_awards: temp[0].honors_awards[c],
              institution_address: temp[0].institution_address[c],
              institution_name: temp[0].institution_name[c],
              course_degree: temp[0].course_degree[c]
            });
            // console.log(finalData);
          }
          console.log("====================================");
          console.log("EDUCATIONAL BACKGROUND");
          console.log("====================================");
          console.log(finalData);
          console.log("====================================");
          return finalData;
        } else {
          return [];
        }
      } else {
        return [];
      }
    },
    profLicense() {
      // PROFESSIONAL LICENSE HELD
      if (this.appFormData.professionalLicensesArray != undefined) {
        var temp = this.appFormData.professionalLicensesArray;
        // console.log(temp);
        for (var c = 0; c < temp.length; c++) {
          console.log("====================================");
          console.log("PROFESSIONAL LICENSE HELD");
          console.log("====================================");
          console.log(temp[c]);
          console.log("====================================");

          return temp[c];
        }
      } else {
        return [];
      }
    },
    memberships() {
      // MEMBERSHIP IN PROFESSIONAL/CIVIC ORGANIZATION
      if (this.appFormData.orgMembershipArray != undefined) {
        var temp = this.appFormData.orgMembershipArray;
        // console.log(temp);
        for (var c = 0; c < temp.length; c++) {
          console.log("====================================");
          console.log("MEMBERSHIP IN PROFESSIONAL/CIVIC ORGANIZATION");
          console.log("====================================");
          console.log(temp[c]);
          console.log("====================================");
          return temp[c];
        }
      } else {
        return [];
      }
    },
    seminars() {
      // SEMINARS
      if (this.appFormData.seminarsAttendedArray != undefined) {
        var temp = this.appFormData.seminarsAttendedArray;
        // console.log(temp);
        for (var c = 0; c < temp.length; c++) {
          console.log("====================================");
          console.log("SEMINARS");
          console.log("====================================");
          console.log(temp[c]);
          console.log("====================================");
          return temp[c];
        }
      } else {
        return [];
      }
    },
    workEx() {
      // WORK EXPERIENCES
      if (this.appFormData.workExperienceArray != undefined) {
        var temp = this.appFormData.workExperienceArray;
        // console.log(temp);
        for (var c = 0; c < temp.length; c++) {
          console.log("====================================");
          console.log("WORK EXPERIENCES");
          console.log("====================================");
          console.log(temp[c]);
          console.log("====================================");
          return temp[c];
        }
      } else {
        return [];
      }
    },
    workedInBFI() {
      // WORKED WITH BIOTECH AND/OR ANY OF ITS AFFILIATES (TRUE or FALSE)
      if (this.appFormData.workWithBFIArray != undefined) {
        var temp = this.appFormData.workWithBFIArray;
        if (this.appFormData.workWithBFIArray.length != 0) {
          console.log("====================================");
          console.log(
            "WORKED WITH BIOTECH AND/OR ANY OF ITS AFFILIATES (TRUE or FALSE)"
          );
          console.log("====================================");
          console.log(temp[c].have_work_with_bfi);
          console.log("====================================");
          return temp[0].have_work_with_bfi;
        } else {
          return [];
        }
      } else {
        return "Empty";
      }
    },
    BFI_workData() {
      // WORKED WITH BIOTECH AND/OR ANY OF ITS AFFILIATES (FULL DATA)
      if (this.appFormData.workWithBFIArray != undefined) {
        var temp = this.appFormData.workWithBFIArray;
        var finalData = [];
        if (this.appFormData.workWithBFIArray.length != 0) {
          for (var c = 0; c < temp[0].branch_company.length; c++) {
            finalData.push({
              branch_company: temp[0].branch_company[c],
              dates: temp[0].dates[c],
              position: temp[0].position[c],
              department: temp[0].department[c]
            });
            // console.log(finalData);
          }

          console.log("====================================");
          console.log(
            "WORKED WITH BIOTECH AND/OR ANY OF ITS AFFILIATES (FULL DATA)"
          );
          console.log("====================================");
          console.log(finalData);
          console.log("====================================");
          return finalData;
        } else {
          return [];
        }
      } else {
        return [];
      }
    },
    otherInfo() {
      // OTHER INFORMATION
      if (this.appFormData.otherInfoArray != undefined) {
        var temp = this.appFormData.otherInfoArray;
        if (this.appFormData.otherInfoArray.length != 0) {
          for (var c = 0; c < temp.length; c++) {
            console.log("====================================");
            console.log("OTHER INFORMATION");
            console.log("====================================");
            console.log(temp[c]);
            console.log("====================================");
            return temp[c];
          }
        }
      } else {
        return [];
      }
    },
    family() {
      // FAMILY BACKGROUND
      if (this.appFormData.familyBgArray != undefined) {
        var temp = this.appFormData.familyBgArray;
        var finalData = [];
        if (this.appFormData.familyBgArray.length != 0) {
          for (var c = 0; c < temp[0].name.length; c++) {
            finalData.push({
              name: temp[0].name[c],
              relationship: temp[0].relationship[c],
              age: temp[0].age[c],
              occupation: temp[0].occupation[c],
              company_address: temp[0].company_address[c]
            });
          }
          console.log("====================================");
          console.log("FAMILY BACKGROUND");
          console.log("====================================");
          console.log(finalData);
          console.log("====================================");
          return finalData;
        } else {
          return [];
        }
      } else {
        return [];
      }
    },
    isMarried() {
      // IS MARRIED
      if (this.appFormData.isMarriedArray != undefined) {
        var temp = this.appFormData.isMarriedArray;
        if (this.appFormData.isMarriedArray.length != 0) {
          for (var c = 0; c < temp.length; c++) {
            console.log("====================================");
            console.log("IS MARRIED");
            console.log("====================================");
            console.log(temp[c]);
            console.log("====================================");
            return temp[c];
          }
        }
      } else {
        return [];
      }
    },
    reference() {
      // REFERENCES
      if (this.appFormData.referencesArray != undefined) {
        var temp = this.appFormData.referencesArray;
        var finalData = [];
        if (this.appFormData.referencesArray.length != 0) {
          for (var c = 0; c < temp[0].name.length; c++) {
            finalData.push({
              address: temp[0].address[c],
              how_long_known: temp[0].how_long_known[c],
              name: temp[0].name[c],
              occupation: temp[0].occupation[c],
              telephone: temp[0].telephone[c]
            });
          }
          console.log("finalData", finalData);
          return finalData;
        } else {
          return [];
        }
      } else {
        return [];
      }
    },
    willing() {
      // EXPLAIN & WILLINGNESS
      if (this.appFormData.willingnessArray != undefined) {
        var temp = this.appFormData.willingnessArray;
        if (this.appFormData.willingnessArray.length != 0) {
          for (var c = 0; c < temp.length; c++) {
            console.log("====================================");
            console.log("EXPLAIN & WILLINGNESS");
            console.log("====================================");
            console.log(temp[c]);
            console.log("====================================");
            return temp[c];
          }
        }
      } else {
        return [];
      }
    }
  }
};
</script>

<style scoped lang="scss">
.formLogo {
  width: auto;
  height: 90px;
  // border: 1px solid red;
}
</style>
