<template>
  <div>
    <div class="mainContainer">
      <!-- LOADER -->
      <loader v-show="loader" />

      <div class="loginForm">
        <div class="logo"></div>

        <div class="appName">RecTrack</div>

        <div class="subName">Recruitment Tracking System 3.0.0</div>

        <div>
          <div>
            <input
              name="email"
              type="text"
              class="loginFields"
              placeholder="Email"
              v-model="user.email"
              @keyup.enter="login()"
            />
            <input
              :type="inpType"
              class="loginFields"
              placeholder="Password"
              v-model="user.pass"
              @keyup.enter="login()"
            />
            <button class="loginButton" @click="login()">
              <span class="buttonName">Login</span>
            </button>
            <div class="eyeIcon" @click="show()">
              <fa :icon="['fa', icn]" />
            </div>
            <div class="linkDiv">
              <b-link
                v-b-modal.modalEmail
                @click="passwordChange"
                class="linkText"
                >Forgot Password?</b-link
              >
            </div>
            <!-- <div class="sysLabel">&copy; {{ year }} Biotech Farms Inc.</div> -->

            <div class="sysLabel">
              &copy;&nbsp;{{ year }} Biotech Farms Inc.
            </div>
          </div>
          <div>
            <b-alert
              :show="alert.showAlert"
              :variant="alert.variant"
              @dismissed="alert.showAlert = null"
            >
              <fa
                :icon="
                  alert.variant == 'success'
                    ? 'check-circle'
                    : 'exclamation-triangle'
                "
                class="mr-1"
                style="font-size:20px"
              />
              {{ alert.message }}
            </b-alert>
          </div>
        </div>
      </div>

      <div class="freezeEmail" v-show="modalEmail">
        <div class="freezeHoldEmail">
          <div class="freezeContentEmail">
            <div class="xButton" @click="exitBtn">
              <fa :icon="['fa', 'times-circle']" />
            </div>
            <div class="freezeHeaderEmail">Forgot Password</div>
            <div class="freezeBodyEmail">
              Please enter email to reset password.
              <br />
              <br />
              <input
                type="text"
                class="enterEmailField"
                placeholder="Email"
                v-model="email"
                :input-attrs="{ autocomplete: true }"
              />
            </div>
            <div class="freezeFooterEmail">
              <button @click="proceedForgotPassword">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { mapState, mapMutations, mapGetters } from "vuex";
import loader from "../components/loader";
export default {
  components: {
    loader
  },
  data() {
    return {
      modalEmail: false,
      saveAccessRights: [],
      pass: false,
      loader: false,
      icn: "eye-slash",
      inpType: "password",
      user: {
        email: "",
        pass: ""
      },
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      email: "",
      tabs: [
        {
          id: 0,
          name: "All Applicants"
        }
      ]
    };
  },

  beforeCreate() {},

  created() {
    // CLEAR LOCAL STORAGE
    localStorage.clear();
  },
  computed: {
    ...mapGetters({
      accessRightsState: "getAccessRights",
      activityLogsState: "getActivityLogs"
    }),

    year() {
      return new Date().getFullYear();
    }
  },
  mounted() {},
  methods: {
    async login() {
      this.loader = true;
      await this.$store
        .dispatch("loginUser", {
          email: this.user.email.trim(), // trim() - removes extra white spaces
          password: this.user.pass.trim() // trim() - removes extra white spaces
        })
        .then(
          res => {
            this.loader = false;
            // const result = res.response.data.patched.msg;
            // console.log(res);

            localStorage.openedTabs = JSON.stringify(this.tabs);
            // TOKEN
            localStorage.token = res.data.patched.token;
            // ROLE
            localStorage.role = res.data.patched.roles[0].name;
            this.$router.push({ path: "../dashboard" });
            // ACCESS RIGHTS ID
            localStorage.access_rights_id =
              res.data.patched.roles[0].access_rights_id;
            // FETCH ACCESS RIGHTS
            this.$store
              .dispatch("AccessRightsAction", {
                token: localStorage.token,
                id: localStorage.access_rights_id
              })
              .then(res => {
                // PUT ACCESS RIGHTS TO LOCAL STORAGE
                localStorage.access_rights_details = JSON.stringify(
                  this.$store.state.accessRightsState.actions
                );
              });
            // VIEW ALL APPLICANTS FROM EVERY DEPARTMENT
            this.$store.dispatch("viewAllDepartments", {
              token: localStorage.token
            });

            let signInCount = 0;
            if (res.data.patched.userId) {
              localStorage.id = res.data.patched.userId.id; //user id
              localStorage.deptId = res.data.patched.userId.department_id; //dept where belong
              localStorage.teamId = res.data.patched.userId.team_id;
              signInCount = res.data.patched.userId.sign_in_count;
            }
            if (res.data.patched.roleverify.length != 0) {
              localStorage.deptName = res.data.patched.roleverify[0].DepName; // to be used to filter viewing for PG-OH
            }
            this.activityLogs(); //call activityLogs method

            //first time login
            if (signInCount !== null) {
              // console.log("!null");
              this.$router.push({ path: "../dashboard" });
            } else {
              // console.log("null");
              this.$router.push({ path: "../firstTimeLogin" });
            }
          },
          error => {
            this.loader = false;
            if (error.response) {
              if (error.response.data.error != undefined) {
                const err = error.response.data.error;
                this.showAlert(err, "danger");
              } else {
                const err = error.response.data.patched.msg;
                this.showAlert(err, "danger");
              }
            } else {
              this.showAlert(error, "danger");
            }
          }
        );
    },

    //activity logs for login
    async activityLogs() {
      await this.$store
        .dispatch("activityLogsAction", {
          token: localStorage.token,
          module: "Login",
          table_affected: "users",
          activity: "Logged in to the system."
        })
        .then();
    },
    passwordChange() {
      // console.log("test");
      this.modalEmail = true;
    },

    show() {
      this.pass = !this.pass;
      // console.log(this.pass);
      if (this.pass == true) {
        this.icn = "eye";
        this.inpType = "text";
      } else {
        this.icn = "eye-slash";
        this.inpType = "password";
      }
    },

    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    },
    proceedForgotPassword() {
      // console.log("proceed");
      this.loader = true;
      // this.$router.push({ path: "../forgotPassword" });
      axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/email/applicant/forgot-password`,
        data: {
          // isRequestForgotPassword: true,
          email: this.email.trim(),
          id: this.userId,
          //change the baseURL in the future
          // baseURL: "https://rectrack-v2.biotechfarms.net" //PROD
          baseUrl: `${process.env.baseURL}/forgotPassword`
        }
      }).then(
        res => {
          this.loader = false;
          // console.log(res.data.patched);
          const msg = res.data.patched;
          this.showAlert(msg, "success");
          this.modalEmail = false;
        },
        error => {
          this.loader = false;
          // console.log("error", error);
          const err = error.response.data.error;
          this.showAlert(err, "danger");
        }
      );
    },
    exitBtn() {
      // console.log("close");
      this.modalEmail = false;
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;
.logo {
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
  background-image: url("../assets/bfi_gradient.png");
  height: 80px;
  width: 100%;
}
.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
