<template>
  <div class="moduleContainer">
    <div class="moduleName">Categories</div>
    <div class="moduleContent2" ref="rowDeter">
      <!-- HEADER TOOLS -->
      <div class="tabTools">
        <!-- ADD NEW DEPARTMENT -->
        <div class="tabToolsDiv">
          <button
            v-b-modal.addCategoryModal
            class="btn-positive2"
            v-b-tooltip.hover
            title="Add new Category"
          >
            <fa :icon="['fa', 'plus']" />
          </button>
        </div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>

        <!-- SEARCH -->
        <div class="tabToolsDiv">
          <button class="toolSearchIco" disabled>
            <fa :icon="['fa', 'search']" />
          </button>
          <input
            class="toolSearch fa"
            type="text"
            name=""
            placeholder="Type to search"
            v-model="find"
          />
          <b-button
            class="toolClear"
            @click="find = ''"
            v-b-tooltip.hover
            title="Clear Search"
          >
            <fa :icon="['fa', 'eraser']" />
          </b-button>
        </div>
        <!-- RELOAD DATA -->
        <div class="tabToolsDiv" v-b-tooltip.hover title="Refresh Table">
          <button class="btn-keep" @click="getData(token)">
            <fa :icon="['fa', 'redo-alt']" :spin="isBusy" />
          </button>
        </div>
      </div>

      <!-- TABLE @row-clicked="rowData"  -->
      <div class="tabTable">
        <b-table
          hover
          class="table"
          id="allApplicantsTable"
          select-mode="single"
          :filter="find"
          :items="tableDataComputed"
          :per-page="perPage"
          :fields="fieldHeaders"
          :busy="isBusy"
          :current-page="computedCurrentPage"
          show-empty
        >
          <!-- LOADERS IF isBusy == true -->
          <template #table-busy>
            <div class="text-center text-secondary">
              <b-spinner small class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>
          <!-- Custom display for Position' -->
          <template #cell(positionname)="row">
            <div class="text-main">
              <b>{{ row.value }}</b>
            </div>
          </template>

          <!-- Custom display for Position's Team -->
          <template #cell(teamname)="row">
            <div class="text-sub">
              {{ row.value }}
            </div>
          </template>

          <!-- Custom display for Description -->
          <template #cell(description)="row">
            <div class="text-sub">
              {{ row.value }}
            </div>
          </template>

          <!-- Custom display for Position's Department -->
          <template #cell(deptname)="row">
            <div class="text-sub">
              {{ row.value }}
            </div>
          </template>

          <!-- Custom display for status -->
          <template #cell(status)="row">
            <div class="text-sub">
              <div
                class="stage text-reject-pill"
                v-if="row.value == 'inactive'"
              >
                {{ row.value }}
              </div>
              <div
                class="stage text-pos2-pill"
                v-else-if="row.value == 'active'"
              >
                {{ row.value }}
              </div>
            </div>
          </template>

          <!-- Custom display for Department Head -->
          <template #cell(is_vacant)="row">
            <div class="text-sub">
              <div class="stage text-reject-pill" v-if="row.value == false">
                Unavailable
              </div>
              <div class="stage text-pos2-pill" v-else-if="row.value == true">
                Available
              </div>
            </div>
          </template>

          <!-- BUTTON PER ROW -->
          <template #cell(extra)="row">
            <div class="rowmenuHold" v-show="showMenu && row.index == rowIndex">
              <div class="rowmenu">
                <div class="actionFor">
                  <div class="pointing">
                    <div><fa :icon="['fa', 'sitemap']" /></div>
                    {{ row.item.catg }}
                  </div>
                  <!-- <div class="pointRight"></div> -->
                </div>
                <div class="line"></div>

                <div class="rowMenuScroll">
                  <div v-for="(act, a) in actions" :key="a">
                    <button
                      v-show="
                        act.action_name != 'Add Category' &&
                          act.action_name != 'Search Category' &&
                          act.action_name != 'View Category Details' &&
                          act.action_name != 'Filter Category'
                      "
                      class="bX b-keep"
                      @click="
                        takeAct(
                          act.id,
                          act.action_name,
                          row.item,
                          row,
                          row.index
                        )
                      "
                    >
                      &ensp; {{ act.action_name }}
                    </button>
                  </div>
                </div>
              </div>

              <!-- <div class="pointRight"></div> -->
            </div>

            <button class="btn-actions" @click="selectRow(row, row.index)">
              <fa :icon="['fa', 'ellipsis-v']" />
            </button>
          </template>
        </b-table>
      </div>
      <!-- modal for updating category details -->
      <div>
        <b-modal id="categoryModal">
          <template #modal-header class="headr">
            <div class="deptIcn">
              <fa :icon="['fa', 'id-card']" />
            </div>
            <div class="deptTitleDiv">
              <b>{{ categoryDetails.title }}</b>
            </div>
            <div class="iconBtn" @click="close()">
              <fa :icon="['fa', 'times-circle']" />
            </div>
          </template>
          <div class="mdlBody">
            <div>
              <b-row><b class="modalText">Category Name</b> </b-row>
              <b-row>
                <input
                  type="text"
                  class="modalEdit"
                  v-model="categoryDetails.name"
                  :disabled="editCategory"
              /></b-row>
            </div>
            <div>
              <b-row
                ><b class="modalText"
                  >Description <em class="optional">( optional )</em></b
                >
              </b-row>
              <b-row>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="categoryDetails.description"
                  :disabled="editCategory"
              /></b-row>
            </div>

            <div v-show="editCategory == true">
              <b-row><b class="modalText">Team Name:</b> </b-row>
              <b-row>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="categoryDetails.teamname"
                  disabled
              /></b-row>
            </div>
            <div v-show="editCategory == true">
              <b-row
                ><b class="modalText">Time limit per question in seconds: </b>
              </b-row>
              <b-row>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="categoryDetails.time_limit_on_seconds"
                  :disabled="editCategory"
              /></b-row>
            </div>
            <div v-show="editCategory == false">
              <b-row>
                <b-form-checkbox
                  size="sm"
                  class="switchBtn"
                  v-model="editTimeLimit"
                  switch
                >
                </b-form-checkbox>
                <b class="modalText">With time limit?</b>
              </b-row>
              <b-row v-show="editTimeLimit == true">
                <p class="modalText ">
                  Time limit per question in seconds
                </p>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="categoryDetails.time_limit_on_seconds"
                  :disabled="editCategory"
                  placeholder="Time limit per question in seconds"
                />
                <p class="modalText ">
                  Note: If value is 86400 seconds, it will be converted to
                  "Without time limit"
                </p>
              </b-row>
              <b-row> </b-row>
            </div>
            <div>
              <b-row
                ><b class="modalText">Status: {{ categoryDetails.status }} </b>
              </b-row>
              <b-form-radio-group v-show="editCategory == false">
                <b-form-radio
                  class="radioBtn"
                  size="sm"
                  v-model="categoryDetails.status"
                  name="radio-btn1"
                  value="active"
                  >Yes</b-form-radio
                >
                <b-form-radio
                  class="radioBtn"
                  size="sm"
                  v-model="categoryDetails.status"
                  name="radio-btn2"
                  value="inactive"
                  >No</b-form-radio
                >
              </b-form-radio-group>
            </div>
          </div>
          <template #modal-footer>
            <!-- CANCEL -->
            <button
              v-show="editCategory == false"
              @click="cancel()"
              class="btn-deact"
            >
              <fa :icon="['fa', 'times']" />
              &nbsp; Cancel
            </button>

            <!-- EDIT & SAVE -->
            <button
              @click="edit()"
              :class="editCategory ? 'btn-edit' : 'btn-positive2'"
            >
              <fa :icon="['fa', editCategory ? 'edit' : 'save']" />
              &nbsp;
              {{ editCategory ? "Edit" : "Save" }}
            </button>
          </template>
        </b-modal>
      </div>
      <!-- modal for adding new category -->
      <div>
        <b-modal id="addCategoryModal">
          <template #modal-header="{close}" class="headr">
            <div class="deptIcn">
              <fa :icon="['fa', 'plus']" />
            </div>
            <div class="deptTitleDiv">
              <b>Add New Exam Category</b>
            </div>
            <div class="iconBtn" @click="close()">
              <fa :icon="['fa', 'times-circle']" />
            </div>
          </template>
          <div class="mdlBody">
            <div>
              <b-row>
                <b class="modalText">Select Team: </b>
              </b-row>
              <b-row
                ><multiselect
                  v-model="newCategory.teams_id"
                  deselect-label=""
                  select-label=""
                  track-by="id"
                  label="teamname"
                  placeholder="Select a Team"
                  :options="teams"
                  :searchable="true"
                  :allow-empty="false"
                  class="selectInput"
                >
                </multiselect
              ></b-row>
            </div>
            <div>
              <b-row><b class="modalText">Category Name</b> </b-row>
              <b-row>
                <input type="text" class="modalEdit" v-model="newCategory.name"
              /></b-row>
            </div>
            <div>
              <b-row
                ><b class="modalText"
                  >Description <em class="optional">( optional )</em></b
                >
              </b-row>
              <b-row>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="newCategory.description"
              /></b-row>
            </div>

            <div>
              <b-row>
                <b-form-checkbox
                  size="sm"
                  class="switchBtn"
                  v-model="withTimeLimit"
                  switch
                >
                </b-form-checkbox>
                <b class="modalText">With time limit?</b>
              </b-row>
              <b-row v-show="withTimeLimit == true">
                <p class="modalText ">
                  Time limit per question in seconds
                </p>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="newCategory.time_limit_on_seconds"
                  placeholder="Time limit per question in seconds"
                />
                <p class="modalText ">
                  Note: If value is 86400 seconds, it will be converted to
                  "Without time limit"
                </p>
              </b-row>
            </div>
          </div>
          <template #modal-footer>
            <button class="btn-deact" @click="closeAddCategoryModal()">
              Cancel
            </button>
            <button class="btn-positive2" @click="addNewCategory(token)">
              Submit
            </button>
          </template>
        </b-modal>
      </div>
      <!-- FOOTER TOOLS -->
      <div class="footer">
        <div class="tabTools">
          <div class="tabToolsDiv">
            Total no. of records: {{ records }} | Page
            {{ computedCurrentPage }} of {{ computedTotalPage }}
          </div>
          <div class="tabToolsDiv tabToolsDivX"></div>
          <div class="tabToolsDiv tabEx">
            <div class="overflow-auto">
              <div>
                <b-pagination
                  size="sm"
                  v-model="currentPage"
                  :total-rows="records"
                  :per-page="perPage"
                  aria-controls="allApplicantsTable"
                ></b-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ALERT -->
    <div>
      <b-alert
        :show="alert.showAlert"
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <fa
          :icon="
            alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
          "
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}
      </b-alert>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Multiselect from "vue-multiselect";
import { mapState, mapMutations, mapGetters } from "vuex";

export default {
  layout: "sideBar",
  components: { Multiselect },
  data() {
    return {
      isBusy: false,
      editCategory: true,
      token: "",
      find: "",
      tableData: [],
      perPage: 1,
      currentPage: 1,
      rowIndex: -1,
      prevIndex: -1,
      showMenu: false,
      screenHeight: 0,
      tableHeight: 0,
      rowDeterm: 0,
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      editTimeLimit: true,
      withTimeLimit: true,
      categoryDetails: {
        id: "",
        title: "",
        name: "",
        teamname: "",
        description: "",
        time_limit_on_seconds: "",
        status: ""
      },
      newCategory: {
        name: "",
        description: "",
        time_limit_on_seconds: "",
        teams_id: ""
      },
      actions: [],
      teams: [],
      fieldHeaders: [
        // TABLE HEADERS
        {
          key: "catg",
          label: "Category",
          sortable: true
        },
        {
          key: "name",
          label: "Team Name",
          sortable: true
        },
        {
          key: "description",
          label: "Description",
          sortable: false
        },
        {
          key: "status",
          label: "Status",
          sortable: false
        },
        {
          key: "extra", // column name from API
          label: "", // custom name set
          sortable: false // sort data by column
        }
      ]
    };
  },
  methods: {
    selectRow(row, ind) {
      this.applicant = row;
      this.rowIndex = ind;
      // console.log("this.prevIndex: " + this.prevIndex);
      // console.log("this.rowIndex: " + this.rowIndex);
      // console.log("this.showMenu: " + this.showMenu);
      row.toggleDetails();
      // console.log(row);
      if (this.prevIndex != this.rowIndex) {
        this.prevIndex = this.rowIndex;
        this.showMenu = true;
      } else {
        this.showMenu = !this.showMenu;
      }
    },
    takeAct(actID, actName, data, row, ind) {
      this.selectRow(row, ind);
      // console.log(row);
      console.log("===============================");
      console.log("Team Details: ");
      console.log("===============================");
      // console.log(data);
      console.log("id: " + data.catid);
      console.log("categoryname: " + data.catg);
      console.log("teamname: " + data.name);
      console.log("description: " + data.description);
      console.log("is_vacant: " + data.is_vacant);
      console.log("===============================");
      console.log("Action ID: " + actID);
      console.log("Action Name: " + actName);
      console.log("===============================");

      this.categoryDetails.id = data.catid;

      if (actName == "Edit Category") {
        this.getEachCatDetails(localStorage.token, this.categoryDetails.id);
        this.$root.$emit("bv::show::modal", "categoryModal", "#categoryModal");

        console.log("object");
      }
    },
    edit() {
      this.editCategory = !this.editCategory;
      console.log(this.editCategory);
      if (this.editCategory == true) {
        this.editCategoryDetails(localStorage.token);
        console.log("save");
      } else {
        console.log("edit");
      }
    },
    close() {
      this.editCategory = true;
      this.$root.$emit("bv::hide::modal", "categoryModal", "#categoryModal");
    },
    closeAddCategoryModal() {
      this.newCategory = {
        name: "",
        description: "",
        time_limit_on_seconds: "",
        teams_id: ""
      };
      this.$root.$emit(
        "bv::hide::modal",
        "addCategoryModal",
        "#addCategoryModal"
      );
      this.clearAddFields();
    },
    clearAddFields() {
      this.newCategory.name = "";
      this.newCategory.description = "";
      this.newCategory.time_limit_on_seconds = "";
      this.newCategory.teams_id = "";
      this.withTimeLimit = true;
    },
    cancel() {
      this.editCategory = !this.editCategory;
      console.log("canceled");
    },
    selectTeam() {
      this.newCategory.teams_id = parseInt(this.newCategory.teams_id.id);
      console.log(this.newCategory.teams_id);
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    },
    rowDet() {
      // INITIALIZE perPage
      this.perPage = 1;

      // DETERMINE HOW MANY ROWS TO SHOW DEPENDING ON moduleContent HEIGHT
      var rowCounter = setInterval(() => {
        if (this.$refs.rowDeter == undefined) {
          clearInterval(rowCounter);
        } else {
          this.screenHeight = screen.height; // SCREEN HEIGHT / MONITOR HEIGHT
          this.rowDeterm = this.$refs.rowDeter.clientHeight; // moduleContent HEIGHT (px)
          this.tableHeight = ((this.rowDeterm - 50) / screen.height) * 100; // moduleContent HEIGHT (%)

          if (this.tableHeight < 65) {
            this.perPage++;
            // console.log(this.perPage);
          } else {
            // SET DEFAULT ROWS PER PAGE IN ALL TABS
            this.$store.commit("setPerPage", this.perPage);

            // STOP INTERVAL AFTER this.tableHeight == 60
            clearInterval(rowCounter);
          }
        }
      }, 1);
    },
    getData(token) {
      this.isBusy = true;
      // FETCH DEPARTMENTS BY DEPARTMENT
      console.log(localStorage.deptId);
      axios({
        method: "GET",
        url: `${this.$axios.defaults.baseURL}/categories/view-dept/${localStorage.deptId}`,
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + localStorage.token
        }
      }).then(
        result => {
          console.log("=======================================");
          console.log("Successfully fetched positions");
          console.log("=======================================");
          this.tableData = result.data[Object.keys(result.data)[0]];
          this.isBusy = false;
          console.log(this.tableData);
          // IMPORTANT!
          this.rowDet();
        },
        error => {
          console.log("=======================================");
          console.log("Failed to fetch positions");
          console.log("=======================================");
          console.log(error);
          this.showAlert(error, "danger");
          console.log("=======================================");
        }
      );
    },
    // async getTeams() {
    //   await this.$store
    //     .dispatch("admin/getTeamAction", { token: localStorage.token })
    //     .then(
    //       res => {
    //         this.teams = res;
    //       },
    //       error => {
    //         console.log("team err", error);
    //       }
    //     );
    // },

    async getEachCatDetails() {
      await this.$store
        .dispatch("online_exam/getCategoryDetails", {
          token: localStorage.token,
          id: this.categoryDetails.id
        })
        .then(
          res => {
            console.log(res);
            this.categoryDetails.title = res.name;
            this.categoryDetails.name = res.name;
            this.categoryDetails.description = res.description;
            this.categoryDetails.teamname = res.teamname;
            this.categoryDetails.teams_id = res.teams_id;
            this.categoryDetails.status = res.status;
            this.categoryDetails.time_limit_on_seconds =
              res.time_limit_on_seconds;
            // res.time_limit_on_seconds;
          },
          error => {
            console.log(error);
          }
        );
    },
    async editCategoryDetails() {
      console.log(typeof this.categoryDetails.teams_id);
      await this.$store
        .dispatch("online_exam/editCategory", {
          token: localStorage.token,
          id: this.categoryDetails.id,
          name: this.categoryDetails.name,
          description: this.categoryDetails.description,
          time_limit_on_seconds: this.categoryDetails.time_limit_on_seconds,
          teams_id: this.categoryDetails.teams_id,
          status: this.categoryDetails.status
        })
        .then(
          res => {
            console.log(res);
            let msg = "Successfully updated!";
            this.showAlert(msg, "success");
            this.editCatActivityLogs(
              localStorage.token,
              this.categoryDetails.name
            );
            this.getData(localStorage.token);
            this.close();
          },
          error => {
            console.log(error);
            this.editCategory = !this.editCategory;
            this.showAlert(error.response.data.error, "danger");
          }
        );
    },
    //add new category
    async addNewCategory() {
      if (this.withTimeLimit == false) {
        this.newCategory.time_limit_on_seconds = 86400;
      }
      console.log("time limit", this.newCategory.time_limit_on_seconds);
      await this.$store
        .dispatch("online_exam/addCategory", {
          token: localStorage.token,
          name: this.newCategory.name,
          description: this.newCategory.description,
          time_limit_on_seconds: this.newCategory.time_limit_on_seconds,
          teams_id: parseInt(this.newCategory.teams_id.id)
        })
        .then(
          res => {
            let msg = "Successfully updated!";
            if (res.data.posted.msg == "Category already exists!") {
              this.showAlert(res.data.posted.msg, "danger");
            } else {
              this.showAlert(msg, "success");
              this.addCatActivityLogs(
                localStorage.token,
                this.newCategory.name
              );
              this.getData(localStorage.token);
              this.closeAddCategoryModal();
              this.clearAddFields();
            }
          },
          error => {
            console.log(error);

            this.showAlert(error.response.data.error, "danger");
          }
        );
    },
    async editCatActivityLogs(token, name) {
      await this.$store
        .dispatch("activityLogsAction", {
          token: localStorage.token,
          module: "Update Category",
          table_affected: "categories",
          activity: `Updated category with name: ${name}`
        })
        .then();
    },
    async addCatActivityLogs(token, name) {
      await this.$store
        .dispatch("activityLogsAction", {
          token: localStorage.token,
          module: "Add Category",
          table_affected: "categories",
          activity: `Added new category with name: ${name}`
        })
        .then();
    },
    async getTeams() {
      await this.$store
        .dispatch("admin/getTeamAction", { token: localStorage.token })
        .then(
          res => {
            this.teams = res;
          },
          error => {
            console.log("team err", error);
          }
        );
    },
    closeMenu() {
      this.showMenu = false;
    }
  },
  mounted() {
    // CLOSE IF CLICKED OUTSIDE
    var self = this;
    var el = document.getElementById("outsideNotif");
    window.addEventListener(
      "click",
      function(e) {
        if (!el.contains(e.target) && e.target instanceof HTMLElement) {
          self.closeMenu();
        }
      },
      false
    );
  },
  created() {
    this.getTeams(localStorage.token); // SET DEFAULT OPEN TAB IN SIDEBAR
    if (localStorage.activeN) {
      var open = [];
      open.push({
        id: 3,
        subID: 3.1,
        colID: "collapse-onlineExam",
        open: false
      });
      this.$store.commit("openPage", open);
    }
    setTimeout(() => {
      // CHECK IF USER IS ALLOWED TO ACCESS THIS PAGE
      var admin_access = localStorage.role;

      this.token = localStorage.token;

      // FETCH CATEGORIES
      this.getData(localStorage.token);

      // ADD TO doneLoader STATE
      this.$store.commit("doneLoad", 13);

      // LOOK FOR THE "EXAMINATION MODULE" (module_id: 3)
      var access_rights = JSON.parse(localStorage.access_rights_details);
      for (var a = 0; a < access_rights.length; a++) {
        if (access_rights[a].module_id == 3) {
          for (var v = 0; v < access_rights[a].access.length; v++) {
            // GET POSITION ACTIONS
            if (
              access_rights[a].access[v].action_name
                .toLowerCase()
                .includes("categor")
            ) {
              this.actions.push({
                ...access_rights[a].access[v]
              });
            }
          }
        }
      }
    }, 501);
  },
  computed: {
    records() {
      return this.tableDataComputed.length;
    },
    computedCurrentPage() {
      // console.log(this.currentPage);
      if (this.records == 0) {
        return 0;
      } else {
        return this.currentPage;
      }
    },
    computedTotalPage() {
      if (this.records <= this.currentPage) {
        if (this.records == 0) {
          return 0;
        } else {
          return 1;
        }
      } else {
        let totalPage = this.records % this.perPage;
        if ((totalPage = 0)) {
          return parseInt(this.records / this.perPage);
        } else {
          return parseInt(this.records / this.perPage) + 1;
        }
      }
    },
    tableDataComputed() {
      // return this.tableData
      return this.tableData.filter(data => {
        return (
          String(data.catg)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.name)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.description)
            .toLowerCase()
            .includes(this.find.toLowerCase())
        );
      });
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;
.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
