<template>
  <div class="moduleContainer">
    <div class="moduleName">Applicant Stages</div>
    <div class="tabs" ref="tablength">
      <div class="tabSize" ref="tabsizer">
        <button
          v-for="(tab, i) in tabs"
          :key="i"
          :class="'tab ' + (i == chosenTab ? 'activeTab' : '')"
          @click="chooseTab(i, tab.id, tab.name)"
        >
          {{ tab.name }}

          <div class="tabClose" v-show="i != 0" @click="closeTab(i)">
            <fa :icon="['fa', 'times']" />
          </div>
        </button>
      </div>

      <button class="tabAdd" v-show="tabLimit <= 85" @click="selectTabs()">
        <fa :icon="['fa', 'plus']" />
        <div class="selectTab" v-show="showTabList">
          <div class="listArrow"></div>
          <div class="tabList">
            <div
              @click="addTab(parseInt(tabs.length - 1) + 1, tabz.id, tabz.name)"
              class="listT"
              v-for="(tabz, c) in choseTabs"
              :key="c"
            >
              {{ tabz.name }}
            </div>
          </div>
        </div>
      </button>
    </div>

    <allApplicants v-show="selectedTab == 0" />
    <quickApplicants v-show="selectedTab == 1" />
    <received v-show="selectedTab == 2" />
    <onlineExam v-show="selectedTab == 3" />
    <endorsement v-show="selectedTab == 4" />
    <scheduleAssesment v-show="selectedTab == 5" />
    <assesment v-show="selectedTab == 6" />
    <pending v-show="selectedTab == 7" />
    <shortlisted v-show="selectedTab == 8" />
    <keptForReference v-show="selectedTab == 9" />
    <jobOffer v-show="selectedTab == 10" />
    <deployed v-show="selectedTab == 11" />
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from "vuex";

import allApplicants from "../../components/Dashboard/allApplicants";
import quickApplicants from "../../components/Dashboard/quickApplicants";
import received from "../../components/Dashboard/received";
import onlineExam from "../../components/Dashboard/onlineExam";
import endorsement from "../../components/Dashboard/endorsement";
import scheduleAssesment from "../../components/Dashboard/scheduleAssesment";
import assesment from "../../components/Dashboard/assesment";
import pending from "../../components/Dashboard/pending";
import shortlisted from "../../components/Dashboard/shortlisted";
import keptForReference from "../../components/Dashboard/keptForReference";
import jobOffer from "../../components/Dashboard/jobOffer";
import deployed from "../../components/Dashboard/deployed";

export default {
  layout: "sideBar",
  components: {
    allApplicants,
    quickApplicants,
    received,
    onlineExam,
    endorsement,
    scheduleAssesment,
    assesment,
    pending,
    shortlisted,
    keptForReference,
    jobOffer,
    deployed
  },
  data() {
    return {
      chosenTab: 0,
      selectedTab: 0,
      opened: 0,
      closed: 0,
      showTabList: false,
      tabLimit: 0,
      tabs: JSON.parse(localStorage.openedTabs),
      // tabs: [
      //   {
      //     id: 0,
      //     name: "All Applicants"
      //   }
      // ],
      choseTabs: [],
      allTabs: [
        {
          id: 1,
          name: "Quick Applicant"
        },
        {
          id: 2,
          name: "Received"
        },
        {
          id: 3,
          name: "Online Exam"
        },
        {
          id: 4,
          name: "Endorsement"
        },
        {
          id: 5,
          name: "Schedule for Assessment"
        },
        {
          id: 6,
          name: "Assessment"
        },
        {
          id: 7,
          name: "Pending for Review"
        },
        {
          id: 8,
          name: "Shortlisted"
        },
        {
          id: 9,
          name: "Kept for Reference"
        },
        {
          id: 10,
          name: "Job Offer"
        },
        {
          id: 11,
          name: "Deployed"
        }
      ],
      accessTabs: []
    };
  },
  beforeCreate() {
    setTimeout(() => {
      this.access_rights_details = JSON.parse(
        localStorage.access_rights_details
      );
      // console.log(this.access_rights_details.actions);
    }, 1000);
  },
  mounted() {
    let tablength = this.$refs.tablength.clientWidth;
    var tabsize = this.$refs.tabsizer.clientWidth;
    // console.log(tablength);
    // console.log(tabsize);
    let tabPercent = Math.round((tabsize / tablength) * 100);
    // console.log("Tab Length: " + tablength + "px - Tab Size: " + tabsize + "px or " + tabPercent  + '%');
    this.tabLimit = tabPercent;

    // CLOSE IF CLICKED OUTSIDE
    var self = this;
    var el = document.getElementById("outsideNotif");
    window.addEventListener(
      "click",
      function(e) {
        if (!el.contains(e.target) && e.target instanceof HTMLElement) {
          self.hideAddTab();
        }
      },
      false
    );
  },
  created() {
    // SET DEFAULT OPEN TAB IN SIDEBAR
    var open = [];
    open.push({ id: 1, subID: "none", colID: "collapse-none", open: false });
    this.$store.commit("openPage", open);

    // ADD TO doneLoader STATE
    this.$store.commit("resetLoader");

    setTimeout(() => {
      // SEE IF TOKEN EXISTS
      if (!localStorage.token || localStorage.token == undefined) {
        this.$router.push({ path: "./" }); // LOG OUT IF NOT
      } else {
        this.chosenTab = 0;
        this.selectedTab = 0;

        // SEE IF ACCESS RIGHTS EXISTS
        if (
          !localStorage.access_rights_details ||
          localStorage.access_rights_details == undefined
        ) {
          this.$router.push({ path: "./" }); // LOG OUT IF NOT
        } else {
          // LOOK FOR THE "APPLICATION STAGES MODULE" (module_id: 5)
          var access_rights = JSON.parse(localStorage.access_rights_details);
          // console.log("No. of Access Rights: " + access_rights.length);

          for (var a = 0; a < access_rights.length; a++) {
            if (access_rights[a].module_id == 5) {
              for (var b = 0; b < access_rights[a].access.length; b++) {
                // console.log(access_rights[a].access[b]);
                if (
                  access_rights[a].access[b].action_name
                    .toLowerCase()
                    .includes("view tab") &&
                  access_rights[a].access[b].status == "active"
                ) {
                  this.accessTabs.push({
                    ...access_rights[a].access[b]
                  });
                  console.log(access_rights[a].access[b].action_name);
                }
              }
            }
          }

          // console.log("this.accessTabs");
          // COMPARE allTabs WITH accessTabs AND PUSH allTabs TO choseTabs IF TAB NAMES ARE MATCHED
          // console.log(this.accessTabs);
          for (var c = 0; c < this.allTabs.length; c++) {
            for (var e = 0; e < this.accessTabs.length; e++) {
              if (
                this.accessTabs[e].action_name.split(" - ")[1] ==
                this.allTabs[c].name
              ) {
                // console.log(
                //   this.accessTabs[e].action_name +
                //     " | " +
                //     this.allTabs[c].name +
                //     " - " +
                //     this.allTabs[c].id
                // );
                this.choseTabs.push({
                  id: this.allTabs[c].id,
                  name: this.allTabs[c].name
                });
              }
            }
          }
        }
      }
    }, 501);
  },
  computed: {
    // tabSize() {
    //   return this.$refs.tabSizer.clientWidth;
    // }
  },
  methods: {
    hideAddTab() {
      this.showTabList = false;
    },
    selectTabs() {
      this.showTabList = !this.showTabList;
    },
    chooseTab(id, tabID, tabName) {
      var last = this.tabs.length - 1; // TO DETERMINE NEW LAST TAB
      if (id == 0) {
        console.log("IF id == 0");
        this.chosenTab = id;
        this.opened = id;
        this.selectedTab = tabID;
      } else if (this.closed == id) {
        // OPEN PREVIOUS TAB IF CURRENT TAB IS CLOSED
        if (this.closed == this.tabs.length) {
          // IF LAST TAB IS CLOSED, OPEN THE NEW LAST TAB
          // console.log("IF LAST TAB IS CLOSED, OPEN THE NEW LAST TAB");
          if (this.opened < this.closed) {
            // IF OPENED TAB IS LESS THAN THE CLOSED TAB, STAY ON OPENED TAB
            // console.log("IF OPENED TAB IS LESS THAN THE CLOSED TAB, STAY ON OPENED TAB");
            this.chosenTab = this.opened;
            this.selectedTab = this.tabs[this.chosenTab].id;
          } else {
            this.chosenTab = last;
            this.selectedTab = this.tabs[this.chosenTab].id;
          }
        } else {
          if (this.opened > last) {
            // IF OPENED TAB IS GREATER THAN THE NEW LAST TAB, OPEN THE NEW LAST TAB
            // console.log( "IF OPENED TAB IS GREATER THAN THE NEW LAST TAB, OPEN THE NEW LAST TAB");
            this.chosenTab = last;
            this.selectedTab = this.tabs[this.chosenTab].id;
          } else {
            // STAY ON OPENED TAB
            // console.log("STAY ON OPENED TAB");
            this.chosenTab = this.opened;
            this.selectedTab = this.tabs[this.chosenTab].id;
          }
        }
      } else {
        // CHOOSE TAB
        // console.log("CHOOSE TAB");
        this.chosenTab = id;
        this.opened = id;
        this.selectedTab = this.tabs[this.chosenTab].id;
      }
      this.closed = 0;
      // console.log("id: " + id);
      // console.log("closed: " + this.closed);
      // console.log("opened: " + this.opened);
      // console.log("tab length: " + this.tabs.length);
      // console.log("chosentTab: " + this.chosenTab);
      // console.log("selectedTabID: " + this.selectedTab + " - " + tabID);
      // console.log("selectedTabName: " + tabName);
      // console.log("2nd to last tab: " + last);
      // console.log("tabs");
      // console.log(this.tabs);
      // console.log(this.tabs[this.chosenTab]);
      this.getTabsize();
    },
    getTabsize() {
      let tablength = this.$refs.tablength.clientWidth;

      var tabsize = this.$refs.tabsizer.clientWidth;
      // console.log(tablength);
      // console.log(tabsize);
      var tabPercent = Math.round((tabsize / tablength) * 100);
      // console.log("Tab Length: " + tablength + "px - Tab Size: " + tabsize + "px or " + tabPercent + "%");
      this.tabLimit = tabPercent;
    },
    async addTab(ind, tabID, tabName) {
      await this.tabs.push(
        // PUSH TAB TO BE OPENED
        {
          id: tabID,
          name: tabName
        }
      );
      await this.chooseTab(ind, tabID, tabName);
      localStorage.openedTabs = JSON.stringify(this.tabs);
    },

    closeTab(ind) {
      // REMOVE TAB FROM ARRAY
      if (ind < 0 || ind != 0) {
        this.tabs.splice(ind, 1);
        this.closed = ind;
      }
      localStorage.openedTabs = JSON.stringify(this.tabs);
    }
  }
};
</script>

<style></style>
