<template>
  <div class="moduleContainer">
    <div class="moduleName">Referral Forms</div>
    <div class="moduleContent2" ref="rowDeter">
      <!-- HEADER TOOLS -->
      <div class="tabTools">
        <!-- ADD NEW DEPARTMENT -->
        <div class="tabToolsDiv">
          <button
            v-b-modal.addDeptModal
            class="btn-positive2"
            v-b-tooltip.hover
            title="Export List"
            @click="exportToExcel()"
          >
            <fa :icon="['fa', 'file-excel']" />
          </button>
        </div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>

        <!-- SEARCH -->
        <div class="tabToolsDiv">
          <button class="toolSearchIco" disabled>
            <fa :icon="['fa', 'search']" />
          </button>
          <input
            class="toolSearch fa"
            type="text"
            name=""
            placeholder="Type to search"
            v-model="find"
          />
          <b-button
            class="toolClear"
            @click="find = ''"
            v-b-tooltip.hover
            title="Clear Search"
          >
            <fa :icon="['fa', 'eraser']" />
          </b-button>
        </div>
        <!-- RELOAD DATA -->
        <div class="tabToolsDiv" v-b-tooltip.hover title="Refresh Table">
          <button class="btn-keep" @click="getData(token)">
            <fa :icon="['fa', 'redo-alt']" :spin="isBusy" />
          </button>
        </div>
      </div>

      <!-- TABLE @row-clicked="rowData"  -->
      <div class="tabTable">
        <b-table
          hover
          class="table"
          id="allApplicantsTable"
          select-mode="single"
          :filter="find"
          :items="tableDataComputed"
          :per-page="perPage"
          :fields="fieldHeaders"
          :busy="isBusy"
          :current-page="computedCurrentPage"
          show-empty
        >
          <!-- LOADERS IF isBusy == true -->
          <template #table-busy>
            <div class="text-center text-secondary">
              <b-spinner small class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>

          <!-- Custom display for Referrer's ID -->
          <template #cell(referrer_id)="row">
            <div class="text-sub">
              <b>{{ row.value }}</b>
            </div>
          </template>

          <!-- Custom display for Referrer's Name -->
          <template #cell(referrer_name)="row">
            <div class="text-main">
              <b>{{ row.value }}</b>
            </div>
          </template>

          <!-- Custom display for Applicant's Name -->
          <template #cell(referral_name)="row">
            <div class="text-main">
              <b>{{ row.value }}</b>
              <div class="text-sub2">
                {{ row.item.referral_position_applying }}
              </div>
            </div>
          </template>

          <!-- Custom display for Referral Form Duration -->
          <template #cell(referral_duration)="row">
            <div
              class="text-view-pill"
              v-if="setIncentiveStatus(row.value) === 'First Referral'"
            >
              {{ setIncentiveStatus(row.value) }}
            </div>
            <div
              class="text-pos1-pill"
              v-else-if="setIncentiveStatus(row.value) === 'Second Referral'"
            >
              {{ setIncentiveStatus(row.value) }}
            </div>
            <div
              class="text-pos2-pill"
              v-else-if="setIncentiveStatus(row.value) === 'Third Referral'"
            >
              {{ setIncentiveStatus(row.value) }}
            </div>
            <div class="text-red-pill" v-else>
              {{ setIncentiveStatus(row.value) }}
            </div>
          </template>

          <!-- Custom display for Referral Form Duration -->
          <template #cell(referral_date_deploy)="row">
            <div class="text-keep-pill">{{ getFormatMonths(row.value) }}</div>
          </template>

          <!-- BUTTON PER ROW -->
          <template #cell(extra)="row">
            <div class="rowmenuHold" v-show="showMenu && row.index == rowIndex">
              <div class="rowmenu">
                <div class="actionFor">
                  <div class="pointing">
                    <div><fa :icon="['fa', 'building']" /></div>
                    Actions
                  </div>
                </div>
                <div class="line"></div>

                <div class="rowMenuScroll">
                  <div>
                    <button
                      class="bX b-keep"
                      @click="
                        takeAct(
                          'none',
                          'View Details',
                          row.item,
                          row,
                          row.index
                        )
                      "
                    >
                      &ensp; View Details
                    </button>
                  </div>
                </div>
              </div>

              <!-- <div class="pointRight"></div> -->
            </div>

            <button class="btn-actions" @click="selectRow(row, row.index)">
              <fa :icon="['fa', 'ellipsis-v']" />
            </button>
          </template>
        </b-table>
      </div>

      <!-- FOOTER TOOLS -->
      <div class="footer">
        <div class="tabTools">
          <div class="tabToolsDiv">
            Total no. of records: {{ records }} | Page
            {{ computedCurrentPage }} of {{ computedTotalPage }}
          </div>
          <div class="tabToolsDiv tabToolsDivX"></div>
          <div class="tabToolsDiv tabEx">
            <div class="overflow-auto">
              <div>
                <b-pagination
                  size="sm"
                  v-model="currentPage"
                  :total-rows="records"
                  :per-page="perPage"
                  aria-controls="allApplicantsTable"
                ></b-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- REFERRAL FORM -->
    <ViewReferralForm v-show="!closeFullInfo" />

    <!-- ALERT -->
    <div>
      <b-alert
        :show="alert.showAlert"
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <fa
          :icon="
            alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
          "
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}
      </b-alert>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import ViewReferralForm from "../../../components/viewReferralForm";
import { mapState, mapMutations, mapGetters } from "vuex";
import Papa from "papaparse";

export default {
  layout: "sideBar",
  components: {
    ViewReferralForm
  },
  data() {
    return {
      editDept: true,
      isBusy: false,
      token: "",
      find: "",
      tableData: [],
      perPage: 1,
      currentPage: 1,
      rowIndex: -1,
      prevIndex: -1,
      showMenu: false,
      screenHeight: 0,
      tableHeight: 0,
      rowDeterm: 0,
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      fieldHeaders: [
        // TABLE HEADERS
        {
          key: "referrer_id",
          label: "Referrer ID",
          sortable: true,
          thClass: "sam"
        },
        {
          key: "referrer_name",
          label: "Referrer's Name",
          sortable: true
        },
        {
          key: "referral_name",
          label: "Applicant",
          sortable: false
        },
        {
          key: "deployment_date",
          label: "Deployment Date",
          sortable: false
        },
        {
          key: "referral_date_deploy",
          label: "Deployment Duration",
          sortable: false
        },
        {
          key: "referral_duration",
          label: "Incentive Status",
          sortable: false
        },
        {
          key: "extra", // column name from API
          label: "", // custom name set
          sortable: false // sort data by column
        }
      ]
    };
  },
  methods: {
    setIncentiveStatus(duration) {
      var incentive = duration.replace(/[^0-9]/g, "");

      if (incentive >= 30) {
        if (incentive && (incentive == 30 || incentive <= 89)) {
          return `First Referral`;
        } else if (incentive && (incentive == 90 || incentive <= 179)) {
          return `Second Referral`;
        } else if (incentive && incentive >= 180) {
          return `Third Referral`;
        }
      } else {
        return `Cannot Avail Yet`;
      }
    },
    getFormatMonths(date) {
      const today = moment();
      const someday = moment(date);
      const test = moment.duration(today.diff(someday));

      var year, month, day;

      if (test.years() > 1) {
        year = test.years() + " years ";
      } else if (test.years() == 1) {
        year = test.years() + " year ";
      } else {
        year = "";
      }

      if (test.months() > 1) {
        month = test.months() + " months ";
      } else if (test.months() == 1) {
        month = test.months() + " month ";
      } else {
        month = "";
      }

      if (test.days() > 1) {
        day = test.days() + " days ";
      } else if (test.days() == 1) {
        day = test.days() + " day ";
      } else {
        day = "";
      }

      return year + month + day;
    },
    selectRow(row, ind) {
      this.rowIndex = ind;
      // console.log(row);
      row.toggleDetails();
      if (this.prevIndex != this.rowIndex) {
        this.prevIndex = this.rowIndex;
        this.showMenu = true;
      } else {
        this.showMenu = !this.showMenu;
      }
    },
    takeAct(actID, actName, data, row, ind) {
      this.selectRow(row, ind);
      console.log(data);
      console.log("==========================================");
      console.log("Action ID: " + actID);
      console.log("Action Name: " + actName);
      console.log("==========================================");
      console.log("Referral Form ID: " + data.id);
      console.log("Referrer's ID: " + data.referrer_id);
      console.log("Referrer's Name: " + data.referrer_name);
      console.log("Referral's ID: " + data.applicant_id);
      console.log("Referral's Name: " + data.referral_name);
      console.log("==========================================");

      this.$store.commit("closeReferralForm", false);
      this.$store.dispatch("viewReferralForm", { data }).then(res => {
        console.log("Close Referral From: " + this.closeFullInfo);
        console.log("===============================");
      });
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    },
    rowDet() {
      // INITIALIZE perPage
      this.perPage = 1;

      // DETERMINE HOW MANY ROWS TO SHOW DEPENDING ON moduleContent HEIGHT
      var rowCounter = setInterval(() => {
        if (this.$refs.rowDeter == undefined) {
          clearInterval(rowCounter);
        } else {
          this.screenHeight = screen.height; // SCREEN HEIGHT / MONITOR HEIGHT
          this.rowDeterm = this.$refs.rowDeter.clientHeight; // moduleContent HEIGHT (px)
          this.tableHeight = ((this.rowDeterm - 50) / screen.height) * 100; // moduleContent HEIGHT (%)

          if (this.tableHeight < 65) {
            this.perPage++;
            // console.log(this.perPage);
          } else {
            // SET DEFAULT ROWS PER PAGE IN ALL TABS
            this.$store.commit("setPerPage", this.perPage);

            // STOP INTERVAL AFTER this.tableHeight == 60
            clearInterval(rowCounter);
          }
        }
      }, 1);
    },
    getData(token) {
      this.isBusy = true;
      // FETCH DEPARTMENTS
      axios({
        method: "GET",
        url: `${this.$axios.defaults.baseURL}/users/referral-form`,
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + token
        }
      }).then(
        res => {
          console.log("=======================================");
          console.log("Successfully fetched referrals");
          console.log("=======================================");

          // ADD ANOTHER referral_date_deploy COLUMN FOR DEPLOYMENT DATE
          var temp = res.data[Object.keys(res.data)[0]];
          var tempData = [];

          for (var x = 0; x < temp.length; x++) {
            // console.log(temp[x].id);
            tempData.push({
              ...temp[x],
              deployment_date: temp[x].referral_date_deploy
            });
          }
          // console.log(tempData);
          this.tableData = tempData;

          this.isBusy = false;
          // console.log(this.tableData);

          // IMPORTANT!
          this.rowDet();
        },
        error => {
          console.log("=======================================");
          console.log("Failed to fetch referrals");
          console.log("=======================================");
          console.log(error);
          this.showAlert(error, "danger");
          console.log("=======================================");
        }
      );
    },
    closeMenu() {
      this.showMenu = false;
    },
    formatDate(data) {
      if (data != "") {
        return moment(data).format("MMMM DD, YYYY");
      } else {
        return "No Date";
      }
    },
    exportToExcel() {
      let values = [];

      this.tableData.forEach(applicant => {
        let value = {
          "Applicant ID": this.formatDate(applicant.applicant_id),
          "Referrer's Name": applicant.referrer_name,
          "Referrer's Dept": applicant.referrer_dept,
          "Referrer's Position": applicant.referrer_position,
          "Referrer's ID": applicant.referrer_id,
          "Referrer's Contact": applicant.referrer_contact,
          "Referral's Name": applicant.referral_name,
          "Referral's Contact": applicant.referral_contact,
          "Referral's Position Applying To":
            applicant.referral_position_applying,
          "Referral's Releationship to Referrer":
            applicant.referral_relationship_referrer,
          "Referral's Deployment Date": this.formatDate(
            applicant.deployment_date
          ),
          "Referral's Duration": applicant.referral_duration
        };
        values.push(value);
      });
      const csv = Papa.unparse(values);
      var fileURL = window.URL.createObjectURL(new Blob([csv]));
      var fileLink = document.createElement("a");

      fileLink.href = fileURL;

      fileLink.setAttribute(
        "download",
        `Referral Forms  ${moment().format("MMM DD, YYYY")}.csv`
      );
      document.body.appendChild(fileLink);
      fileLink.click();
    },
    closeMenu() {
      this.showMenu = false;
    }
  },
  created() {
    // SET DEFAULT OPEN TAB IN SIDEBAR
    if (localStorage.activeN) {
      var open = [];
      open.push({ id: 4, subID: 4.3, colID: "collapse-exports", open: false });
      this.$store.commit("openPage", open);
    }
    setTimeout(() => {
      // CHECK IF USER IS ALLOWED TO ACCESS THIS PAGE
      var user_access = localStorage.role;
      if (
        user_access.toLowerCase().includes("admin") ||
        user_access.toLowerCase().includes("people") ||
        user_access.toLowerCase().includes("operation")
      ) {
        console.log("Welcome, admin " + localStorage.fname);

        this.token = localStorage.token;
        // FETCH DEPARTMENTS
        this.getData(localStorage.token);

        // ADD TO doneLoader STATE
        this.$store.commit("doneLoad", 13);
      } else {
        this.$router.push({ path: "../../dashboard" });
      }
    }, 501);
  },
  mounted() {
    // CLOSE IF CLICKED OUTSIDE
    var self = this;
    var el = document.getElementById("outsideNotif");
    window.addEventListener(
      "click",
      function(e) {
        if (!el.contains(e.target) && e.target instanceof HTMLElement) {
          self.closeMenu();
        }
      },
      false
    );
  },
  computed: {
    closeFullInfo() {
      return this.$store.state.closeReferralForm;
    },
    records() {
      return this.tableDataComputed.length;
    },
    computedCurrentPage() {
      // console.log(this.currentPage);
      if (this.records == 0) {
        return 0;
      } else {
        return this.currentPage;
      }
    },
    computedTotalPage() {
      if (this.records <= this.currentPage) {
        if (this.records == 0) {
          return 0;
        } else {
          return 1;
        }
      } else {
        let totalPage = this.records % this.perPage;
        if ((totalPage = 0)) {
          return parseInt(this.records / this.perPage);
        } else {
          return parseInt(this.records / this.perPage) + 1;
        }
      }
    },
    tableDataComputed() {
      // return this.tableData
      return this.tableData.filter(data => {
        return (
          String(data.referrer_name)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.referral_name)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.applicant_id)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.referral_contact)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.referral_position_applying)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.referrer_dept)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.referrer_position)
            .toLowerCase()
            .includes(this.find.toLowerCase())
        );
      });
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;
.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
